flow.json
[{"id":"55805384.a4695c","type":"tab","label":"Sandbox","disabled":false,"info":""},{"id":"9ea06256.355a2","type":"tab","label":"Failure","disabled":false,"info":""},{"id":"2e2bde07.2bda42","type":"tab","label":"Failure Queue","disabled":false,"info":""},{"id":"775d7a2a.44f234","type":"tab","label":"Succes all","disabled":false,"info":""},{"id":"99e6906e.c69df","type":"tab","label":"Nodes and Commands","disabled":false,"info":""},{"id":"4318847d.0693cc","type":"tab","label":"Examples-Complex","disabled":false,"info":""},{"id":"a0a649cc.ca04e8","type":"tab","label":"Validate messages","disabled":false,"info":""},{"id":"7a420a49.166a74","type":"tab","label":"Pi Dashboard","disabled":false,"info":""},{"id":"d65eded3.250b9","type":"subflow","name":"HandleErrors","info":"","category":"","in":[{"x":61,"y":79,"wires":[{"id":"6b0e515b.e62cd"}]}],"out":[],"env":[{"name":"Tabname","type":"str","value":"unknown","ui":{"type":"input","opts":{"types":["str"]},"label":{}}},{"name":"DebugToMobile","type":"bool","value":"false","ui":{"type":"input","opts":{"types":["bool"]},"label":{}}},{"name":"KeyVariable","type":"str","value":"system_keyTasker","ui":{"type":"input","opts":{"types":["str"]},"label":{}}}],"color":"#E9967A","icon":"node-red/alert.svg"},{"id":"88e9fa70.4a53e8","type":"sonos-config","z":"","name":"sonos","serialnum":"5C-AA-FD-00-22-36:1","ipaddress":"192.168.178.37"},{"id":"c747354a.95e5e8","type":"sonos-config","z":"","name":"no ip but correct serial number","serialnum":"5C-AA-FD-00-22-36:1","ipaddress":""},{"id":"2d07f6c6.25340a","type":"ui_group","z":"","name":"Col1","tab":"f1ea0b83.f9af38","order":2,"disp":false,"width":"6"},{"id":"1d1829ef.942666","type":"ui_group","z":"","name":"Col2","tab":"f1ea0b83.f9af38","order":1,"disp":false,"width":"6"},{"id":"f1ea0b83.f9af38","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b48b0cb1.3e262","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY-MM-DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9037fbab.1d8408","type":"sonos-config","z":"","name":"fritzbox ip address","serialnum":"","ipaddress":"192.168.178.1"},{"id":"64704482.34d37c","type":"sonos-config","z":"","name":"ip address with wrong syntax","serialnum":"","ipaddress":"191168.178.41"},{"id":"ff297616.de3c88","type":"sonos-config","z":"","name":"no ip address & invalid serial","serialnum":"5C-AA-FD22-36:1","ipaddress":""},{"id":"8d44022c.adb65","type":"sonos-config","z":"","name":"wz","serialnum":"94-9F-3E-C1-3B-99:8","ipaddress":"192.168.178.36"},{"id":"32a98882.56e1c8","type":"sonos-config","z":"","name":"bad","serialnum":"00-0E-58-FE-3A-EA:5","ipaddress":"192.168.178.35"},{"id":"a1fa48a2.6e0c98","type":"sonos-config","z":"","name":"play1","serialnum":"B8-E9-37-58-31-C0:A","ipaddress":"192.168.178.38"},{"id":"dd1b16a.4333de8","type":"polly-config","z":"","name":"pollyaws"},{"id":"bc822e98.2348e","type":"sonos-config","z":"","name":"x","serialnum":"00-0E-58-FE-3A-EA:5","ipaddress":""},{"id":"e4c73d3.eac99c","type":"comment","z":"9ea06256.355a2","name":"MANAGE RADIO","info":"","x":80,"y":1820,"wires":[],"icon":"node-red/alert.svg"},{"id":"647651d0.ec7cf","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":2481,"wires":[]},{"id":"d2675555.e48ab8","type":"inject","z":"9ea06256.355a2","name":"TuneIn wrong syntax","topic":"x1324","payload":"play_TuneIn","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2385,"wires":[["2f900d43.a3c562"]]},{"id":"1fe4ad1e.2476b3","type":"inject","z":"9ea06256.355a2","name":"TuneIn wrong syntax","topic":"1234","payload":"play_TuneIn","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2419,"wires":[["2f900d43.a3c562"]]},{"id":"a5bcaa81.9df868","type":"inject","z":"9ea06256.355a2","name":"TuneIn wrong syntax","topic":"s234b","payload":"play_TuneIn","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2453,"wires":[["2f900d43.a3c562"]]},{"id":"8ea27f87.2ab84","type":"ui_gauge","z":"7a420a49.166a74","name":"","group":"2d07f6c6.25340a","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ffff91","#ff8000"],"seg1":"","seg2":"","x":770,"y":80,"wires":[]},{"id":"2e602891.d21598","type":"exec","z":"7a420a49.166a74","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":371,"y":80,"wires":[["3e8307c2.3e9298"],[],[]]},{"id":"f05dcaa1.4f3de8","type":"inject","z":"7a420a49.166a74","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"","x":131,"y":80,"wires":[["cc842957.f71a38","d200fcc2.b8d8a","2e602891.d21598"]]},{"id":"3e8307c2.3e9298","type":"function","z":"7a420a49.166a74","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":80,"wires":[["8ea27f87.2ab84","7fc1e0d3.75861"]]},{"id":"23bc0ddb.a193a2","type":"ui_button","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":5,"width":"3","height":"1","passthru":false,"label":"PI reboot","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":141,"y":440,"wires":[["98aa8b0b.927478"]]},{"id":"98aa8b0b.927478","type":"exec","z":"7a420a49.166a74","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":381,"y":440,"wires":[[],[],[]]},{"id":"e1f7d6b.052ca28","type":"ui_button","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":4,"width":"3","height":"1","passthru":false,"label":"PI shutdown","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":151,"y":502,"wires":[["18a4351d.0a6c0b"]]},{"id":"18a4351d.0a6c0b","type":"exec","z":"7a420a49.166a74","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Shutdown","x":381,"y":503,"wires":[[],[],[]]},{"id":"7fc1e0d3.75861","type":"ui_chart","z":"7a420a49.166a74","name":"","group":"2d07f6c6.25340a","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"outputs":2,"x":731,"y":120,"wires":[[],[]]},{"id":"cc842957.f71a38","type":"exec","z":"7a420a49.166a74","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":371,"y":160,"wires":[["26de9e71.8daa82"],[],[]]},{"id":"d200fcc2.b8d8a","type":"exec","z":"7a420a49.166a74","command":"free | grep Mem | awk '{print 100*($3+$5+$6)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Free Memory","x":371,"y":240,"wires":[["9012ec0e.243e9"],[],[]]},{"id":"26de9e71.8daa82","type":"ui_gauge","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ffff88","#ff8000"],"seg1":"50","seg2":"70","x":739,"y":160,"wires":[]},{"id":"cb86d67e.e61678","type":"exec","z":"7a420a49.166a74","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":371,"y":320,"wires":[["c1218a59.324808"],[],[]]},{"id":"c1218a59.324808","type":"function","z":"7a420a49.166a74","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":307,"wires":[["1eeb0cb0.b35793"]]},{"id":"88238305.8191","type":"inject","z":"7a420a49.166a74","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"","x":131,"y":320,"wires":[["cb86d67e.e61678"]]},{"id":"1eeb0cb0.b35793","type":"ui_chart","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":3,"width":"6","height":"2","label":"Disk Usage [64 GB]","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":771,"y":307,"wires":[[]]},{"id":"9012ec0e.243e9","type":"ui_chart","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":2,"width":"6","height":"2","label":"Memory Usage [2 GB]","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":781,"y":227,"wires":[[]]},{"id":"2f900d43.a3c562","type":"sonos-manage-radio","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":440,"y":2421,"wires":[["647651d0.ec7cf"]]},{"id":"aca39c26.95a1a","type":"inject","z":"99e6906e.c69df","name":"","topic":"s24896","payload":"play_tunein","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":555,"wires":[["10dc8b09.602c85"]]},{"id":"edb29edd.14e97","type":"comment","z":"99e6906e.c69df","name":"MANAGE RADIO","info":"","x":85,"y":515,"wires":[],"icon":"node-red/alert.svg"},{"id":"cb524f14.bb886","type":"inject","z":"99e6906e.c69df","name":"get_mysonos // only stations","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":401,"y":554,"wires":[["10dc8b09.602c85"]]},{"id":"5fb60af3.4ddae4","type":"inject","z":"99e6906e.c69df","name":"","topic":"NDR","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":663,"wires":[["10dc8b09.602c85"]]},{"id":"10dc8b09.602c85","type":"sonos-manage-radio","z":"99e6906e.c69df","confignode":"88e9fa70.4a53e8","name":"","x":390,"y":621,"wires":[["d4342936.e8eac8"]]},{"id":"d4342936.e8eac8","type":"debug","z":"99e6906e.c69df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":392,"y":677,"wires":[]},{"id":"72cee728.e0ea78","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["f2979581.a19d08"]]},{"id":"c6791a45.0bb278","type":"comment","z":"99e6906e.c69df","name":"CONTROL PLAYER","info":"","x":95,"y":20,"wires":[],"icon":"node-red/alert.svg"},{"id":"f4248c81.32327","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"+5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":190,"wires":[["f2979581.a19d08"]]},{"id":"f2979581.a19d08","type":"sonos-control-player","z":"99e6906e.c69df","confignode":"88e9fa70.4a53e8","name":"","x":541,"y":248,"wires":[["a310c609.fd61e8"]]},{"id":"a7596942.c49048","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":159,"wires":[["f2979581.a19d08"]]},{"id":"cb3c0416.980978","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":124,"wires":[["f2979581.a19d08"]]},{"id":"2cf59.d462b0a72","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"mute","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":58,"wires":[["f2979581.a19d08"]]},{"id":"6bd8d342.61224c","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"unmute","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":91,"wires":[["f2979581.a19d08"]]},{"id":"ddb5876d.01a778","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_basics","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":842,"y":61,"wires":[["9225381f.320718"]]},{"id":"40f2e7ed.fede98","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_state","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":94,"wires":[["9225381f.320718"]]},{"id":"9225381f.320718","type":"sonos-get-status","z":"99e6906e.c69df","confignode":"88e9fa70.4a53e8","name":"","x":1266,"y":156,"wires":[["eef64078.54f74"]]},{"id":"eef64078.54f74","type":"debug","z":"99e6906e.c69df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1280,"y":214,"wires":[]},{"id":"860023f6.20cb6","type":"comment","z":"99e6906e.c69df","name":"GET STATUS","info":"","x":818,"y":20,"wires":[],"icon":"node-red/alert.svg"},{"id":"d739357f.c78c18","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_songmedia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1057,"y":209,"wires":[["9225381f.320718"]]},{"id":"cea9d73f.532858","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"activate_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1020,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"81d87131.0f66a","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"flush_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1214,"y":984,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"efdd332a.0b675","type":"inject","z":"99e6906e.c69df","name":"","topic":"2","payload":"play_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1087,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"1eff2c9b.4bc873","type":"inject","z":"99e6906e.c69df","name":"insert_uri http","topic":"https://archive.org/download/testmp3testfile/mpthreetest.mp3","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":415,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"c00d8a62.9fccf8","type":"comment","z":"99e6906e.c69df","name":"MANAGE QUEUE","info":"","x":678,"y":375,"wires":[],"icon":"node-red/alert.svg"},{"id":"c02b5a3d.f2fbb8","type":"sonos-manage-queue","z":"99e6906e.c69df","confignode":"88e9fa70.4a53e8","name":"","x":1205,"y":639,"wires":[["69a99ad3.b4ebb4"]]},{"id":"69a99ad3.b4ebb4","type":"debug","z":"99e6906e.c69df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1235,"y":699,"wires":[]},{"id":"3e74f330.ae593c","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_sonos_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":996,"y":491,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"8f176bf.4f77c98","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1248,"y":420,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"218e05d2.48724a","type":"sonos-control-player","z":"99e6906e.c69df","confignode":"32a98882.56e1c8","name":"Control Player bad","x":322,"y":420,"wires":[["a310c609.fd61e8"]]},{"id":"8ab0eed6.5e689","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"leave_group","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":406,"wires":[["218e05d2.48724a"]]},{"id":"42de01d4.7ea0d","type":"inject","z":"99e6906e.c69df","name":"","topic":"sonos","payload":"join_group","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["218e05d2.48724a"]]},{"id":"ab8eb0c8.14e91","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"toggleplayback","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":93,"wires":[["f2979581.a19d08"]]},{"id":"b834b2a3.10b9b","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"-5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":157,"wires":[["f2979581.a19d08"]]},{"id":"5bb03490.b8cdcc","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"pause","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":126,"wires":[["f2979581.a19d08"]]},{"id":"89e380d5.450ae","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"next_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":192,"wires":[["f2979581.a19d08"]]},{"id":"8b6b76b2.e5ec78","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"previous_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":225,"wires":[["f2979581.a19d08"]]},{"id":"8da0051e.c44428","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"Manage Queue sonos","x":321,"y":319,"wires":[[]]},{"id":"8df79316.ebd06","type":"comment","z":"4318847d.0693cc","name":"::: C ::: Activate SONOS queue","info":"","x":135,"y":286,"wires":[]},{"id":"d3c4b5a7.528288","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"flush_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["b42fb10f.ed5db"]]},{"id":"6280f87a.0562c8","type":"change","z":"4318847d.0693cc","name":"get sonos playlists","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":341,"y":422,"wires":[["a13967f6.62ada8"]]},{"id":"38b84114.bff09e","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":768,"y":464,"wires":[["bdacd3ce.91154"]]},{"id":"a13967f6.62ada8","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":351,"y":462,"wires":[["bc96e24a.7279a"]]},{"id":"bc96e24a.7279a","type":"switch","z":"4318847d.0693cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count(payload) >= 1\t","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":512,"y":462,"wires":[["e61d7df7.7fcfe"]]},{"id":"e61d7df7.7fcfe","type":"change","z":"4318847d.0693cc","name":"insert first playlist in queue","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[0].uri","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"insert_uri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":714,"y":421,"wires":[["38b84114.bff09e"]]},{"id":"bdacd3ce.91154","type":"change","z":"4318847d.0693cc","name":"activate queue","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":969,"y":424,"wires":[["8e53bdac.3629"]]},{"id":"8e53bdac.3629","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":989,"y":464,"wires":[["744d729c.ee78dc"]]},{"id":"b42fb10f.ed5db","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":136,"y":460,"wires":[["6280f87a.0562c8"]]},{"id":"744d729c.ee78dc","type":"debug","z":"4318847d.0693cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1145,"y":464,"wires":[]},{"id":"8dd4792.76eb088","type":"comment","z":"4318847d.0693cc","name":"::: D ::: Replace SONOS queue","info":"","x":135,"y":387,"wires":[]},{"id":"c112b57b.4469b8","type":"comment","z":"9ea06256.355a2","name":"CONTROL PLAYER","info":"","x":95,"y":20,"wires":[],"icon":"node-red/alert.svg"},{"id":"374fd5fd.c937aa","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":432,"wires":[["2e34f5b1.a5a72a"]]},{"id":"2e34f5b1.a5a72a","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":401,"y":458,"wires":[["9328b6f0.0ce098"]]},{"id":"37c2fd6c.7c0e22","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"ff297616.de3c88","name":"","x":282,"y":257,"wires":[["db0abaa3.b1af28"]]},{"id":"7f22d5ca.20658c","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":257,"wires":[["37c2fd6c.7c0e22"]]},{"id":"c8e5e056.bf35a","type":"comment","z":"9ea06256.355a2","name":"No Ip && invalid serial","info":"","x":139,"y":223,"wires":[]},{"id":"1ac6489e.26d077","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"9037fbab.1d8408","name":"","x":281,"y":96,"wires":[["db0abaa3.b1af28"]]},{"id":"779df94c.04d328","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":96,"wires":[["1ac6489e.26d077"]]},{"id":"2c99ce50.e3b512","type":"comment","z":"9ea06256.355a2","name":"Invalid ip: from fritzbox","info":"","x":140,"y":62,"wires":[]},{"id":"d49dd316.3ba3a","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"64704482.34d37c","name":"","x":281,"y":175,"wires":[["db0abaa3.b1af28"]]},{"id":"b754c09e.e9ef1","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":175,"wires":[["d49dd316.3ba3a"]]},{"id":"9f29b7ed.2c2778","type":"comment","z":"9ea06256.355a2","name":"Invalid ip address - wrong syntax","info":"","x":169,"y":140,"wires":[]},{"id":"f96fa170.c44b1","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"c747354a.95e5e8","name":"","x":284,"y":349,"wires":[["db0abaa3.b1af28"]]},{"id":"765ac420.c3687c","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":349,"wires":[["f96fa170.c44b1"]]},{"id":"6d6b6663.551298","type":"comment","z":"9ea06256.355a2","name":"No ip && valid serial - WILL WORK!","info":"","x":181,"y":314,"wires":[]},{"id":"db0c711b.2b452","type":"sonos-manage-radio","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":401,"y":70,"wires":[["e4646c63.7ee1f"]]},{"id":"e2d2580b.4557e8","type":"inject","z":"4318847d.0693cc","name":"","topic":"Arabella","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":56,"wires":[["db0c711b.2b452"]]},{"id":"5d8ef2c9.43ff1c","type":"change","z":"4318847d.0693cc","name":"get_songmedia","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_songmedia","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":722,"y":70,"wires":[["6ae1cc83.6144b4"]]},{"id":"6bbf67aa.5b6638","type":"debug","z":"4318847d.0693cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1033,"y":70,"wires":[]},{"id":"faf9af99.954a4","type":"inject","z":"4318847d.0693cc","name":"","topic":"Best Of Love","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":95,"wires":[["db0c711b.2b452"]]},{"id":"6ae1cc83.6144b4","type":"sonos-get-status","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":891,"y":70,"wires":[["6bbf67aa.5b6638"]]},{"id":"e4646c63.7ee1f","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":561,"y":70,"wires":[["5d8ef2c9.43ff1c"]]},{"id":"f7c7fcf2.8c6ed","type":"comment","z":"4318847d.0693cc","name":"::: A ::: Play radio station by name","info":"","x":135,"y":20,"wires":[]},{"id":"f72241c9.0c8f2","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":205,"wires":[["e3f9999d.da50e8"]]},{"id":"da04ebb5.e8a898","type":"sonos-manage-radio","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":422,"y":205,"wires":[["d37b15d5.397b58"]]},{"id":"e3f9999d.da50e8","type":"change","z":"4318847d.0693cc","name":"","rules":[{"t":"set","p":"stationIndex","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"get_mysonos","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":242,"y":205,"wires":[["da04ebb5.e8a898"]]},{"id":"d37b15d5.397b58","type":"switch","z":"4318847d.0693cc","name":"index in range?","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count(msg.payload) > $number(msg.stationIndex)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":205,"wires":[["e84127b1.9f25e8"]]},{"id":"e84127b1.9f25e8","type":"function","z":"4318847d.0693cc","name":"topic station name","func":"msg.topic = msg.payload[parseInt(msg.stationIndex) -1].title;\nmsg.payload = \"play_mysonos\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":205,"wires":[["8baf7361.9f09d"]]},{"id":"8baf7361.9f09d","type":"sonos-manage-radio","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":982,"y":205,"wires":[[]]},{"id":"eed5651a.872ac8","type":"comment","z":"4318847d.0693cc","name":"::: B ::: Play radio station by index ","info":"Caution: arrays start with 0 so second station is 1","x":135,"y":171,"wires":[]},{"id":"782d3661.e6e158","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_songinfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1058,"y":242,"wires":[["9225381f.320718"]]},{"id":"16e2e597.f999ba","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_mediainfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1058,"y":275,"wires":[["9225381f.320718"]]},{"id":"72c32438.a6be2c","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_positioninfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1067,"y":308,"wires":[["9225381f.320718"]]},{"id":"f07fb0c2.c4bb","type":"inject","z":"99e6906e.c69df","name":"get_amazonprime_playlists","topic":"","payload":"get_amazonprime_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1017,"y":458,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"6bbf67b1.6a00e8","type":"comment","z":"99e6906e.c69df","name":"Insert playlist from My Sonos","info":"","x":730,"y":773,"wires":[]},{"id":"20795c26.517414","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_volume","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":127,"wires":[["9225381f.320718"]]},{"id":"33494d25.d17ca2","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_muted","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":160,"wires":[["9225381f.320718"]]},{"id":"3d60005d.62d19","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_name","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":194,"wires":[["9225381f.320718"]]},{"id":"6a1d28c8.fea828","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_properties","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1048,"y":62,"wires":[["9225381f.320718"]]},{"id":"6b455079.05614","type":"inject","z":"99e6906e.c69df","name":"","topic":"last","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1236,"y":1083,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"2a44a257.0f6ffe","type":"inject","z":"99e6906e.c69df","name":"","topic":"2","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1225,"y":1017,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"3c6ee6fb.a1f9ca","type":"inject","z":"99e6906e.c69df","name":"","topic":"first","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1235,"y":1050,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"1fc5c102.abee9f","type":"comment","z":"4318847d.0693cc","name":"::: E ::: Line in Play:5 / TV Beam or Playbar","info":"","x":165,"y":534,"wires":[]},{"id":"8978d019.4e76e","type":"switch","z":"4318847d.0693cc","name":"","property":"payload.modelName","propertyType":"msg","rules":[{"t":"eq","v":"Sonos Play:5","vt":"str"},{"t":"eq","v":"Sonos Beam","vt":"str"},{"t":"eq","v":"Sonos Playbar","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":431,"y":567,"wires":[["de574d05.b6a53"],["e7542013.832ae"],["e7542013.832ae"]]},{"id":"de574d05.b6a53","type":"change","z":"4318847d.0693cc","name":"line in","rules":[{"t":"set","p":"topic","pt":"msg","to":"'x-rincon-stream:RINCON_' & \t$replace(msg.payload.MACAddress, ':', '') & \t'01400'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":538,"wires":[["41f8648f.bd838c"]]},{"id":"22d840cd.c8b46","type":"inject","z":"99e6906e.c69df","name":"","topic":"x-rincon-stream:RINCON_5CAAFD00223601400","payload":"activate_avtransport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":263,"wires":[["f2979581.a19d08"]]},{"id":"451b4f2c.20d9c","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"activate_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":319,"wires":[["8da0051e.c44428"]]},{"id":"e3ebd6fb.7a2168","type":"inject","z":"99e6906e.c69df","name":"","topic":"Arabella","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":139,"y":696,"wires":[["10dc8b09.602c85"]]},{"id":"27e9c0be.a4d44","type":"inject","z":"99e6906e.c69df","name":"","topic":"Best Of","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":729,"wires":[["10dc8b09.602c85"]]},{"id":"8fac247a.f91548","type":"comment","z":"55805384.a4695c","name":"Next Release - In work","info":"","x":105,"y":20,"wires":[]},{"id":"cca1db92.a76908","type":"inject","z":"99e6906e.c69df","name":"get_musiclibrary_playlists","topic":"","payload":"get_musiclibrary_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1017,"y":524,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"d40e317e.8f4a4","type":"inject","z":"99e6906e.c69df","name":"ML10CC:insert_musiclibrary_playlist","topic":"ML10CC","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":751,"y":914,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"d07c1d15.6af63","type":"inject","z":"99e6906e.c69df","name":"","topic":"SonosMix","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1107,"y":849,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"77db7f57.751e9","type":"comment","z":"4318847d.0693cc","name":"::: F ::: Play Playlist from Music Library","info":"","x":155,"y":642,"wires":[]},{"id":"2172120a.6207ae","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"flush_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":676,"wires":[["d02602c0.d8e8b"]]},{"id":"9e0d7aee.907268","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":623,"y":676,"wires":[["b1f4e729.e2d8f8"]]},{"id":"b1f4e729.e2d8f8","type":"change","z":"4318847d.0693cc","name":"activate queue","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":806,"y":676,"wires":[["9d9e559d.4c6cd8"]]},{"id":"9d9e559d.4c6cd8","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":986,"y":676,"wires":[[]]},{"id":"ff1ec5fc.0cff68","type":"inject","z":"4318847d.0693cc","name":"","topic":"x-file-cifs://nas2019/Multimedia/Music/MyMusic/Playlists/MLAdele.wpl","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":752,"wires":[["9e0d7aee.907268"]]},{"id":"225eea23.4db686","type":"comment","z":"4318847d.0693cc","name":"or direct","info":"","x":480,"y":720,"wires":[]},{"id":"31965eaf.bdd172","type":"comment","z":"4318847d.0693cc","name":"::: G ::: Set a morning playlist but dont play right now","info":"","x":195,"y":810,"wires":[]},{"id":"c41203b7.c834e","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"flush_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":844,"wires":[["9cb4182a.c21788"]]},{"id":"9cb4182a.c21788","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":282,"y":844,"wires":[["f3a32fe6.edbb2"]]},{"id":"f3a32fe6.edbb2","type":"change","z":"4318847d.0693cc","name":"insert playlist","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_sonos_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"SonosDido","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":451,"y":844,"wires":[["ed5d16e4.4fc1a8"]]},{"id":"ed5d16e4.4fc1a8","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":621,"y":844,"wires":[["5e3888d0.c68968","49a80ca6.a45b84"]]},{"id":"5e3888d0.c68968","type":"change","z":"4318847d.0693cc","name":"mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"mute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":781,"y":843,"wires":[["7699a304.21796c"]]},{"id":"7699a304.21796c","type":"sonos-control-player","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1340,"y":843,"wires":[[]]},{"id":"210e7c9.71bb484","type":"change","z":"4318847d.0693cc","name":"activate queue","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":821,"y":807,"wires":[["e89430c.1b878d","73aff3c1.3d4b6c"]]},{"id":"49a80ca6.a45b84","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":789,"y":767,"wires":[["210e7c9.71bb484"]]},{"id":"e89430c.1b878d","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1014,"y":807,"wires":[["9f30753d.caadd8"]]},{"id":"9f30753d.caadd8","type":"change","z":"4318847d.0693cc","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1166,"y":807,"wires":[["7699a304.21796c"]]},{"id":"73aff3c1.3d4b6c","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":994,"y":768,"wires":[["7e50826a.cc41cc"]]},{"id":"7e50826a.cc41cc","type":"change","z":"4318847d.0693cc","name":"unmute","rules":[{"t":"set","p":"payload","pt":"msg","to":"unmute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1136,"y":768,"wires":[["7699a304.21796c"]]},{"id":"d890d3f3.68cd6","type":"inject","z":"4318847d.0693cc","name":"mute","topic":"","payload":"mute","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":952,"wires":[["80c178d.0218a88","f9e99c11.a8edc"]]},{"id":"80c178d.0218a88","type":"sonos-control-player","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":900,"y":951,"wires":[[]]},{"id":"f9e99c11.a8edc","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":223,"y":992,"wires":[["a65048e1.879f98"]]},{"id":"98119167.abb2e","type":"change","z":"4318847d.0693cc","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":741,"y":992,"wires":[["80c178d.0218a88"]]},{"id":"418f0e18.4cf29","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":569,"y":1029,"wires":[["61b7db70.f099d4"]]},{"id":"61b7db70.f099d4","type":"change","z":"4318847d.0693cc","name":"unmute","rules":[{"t":"set","p":"payload","pt":"msg","to":"unmute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":751,"y":1029,"wires":[["80c178d.0218a88"]]},{"id":"a65048e1.879f98","type":"change","z":"4318847d.0693cc","name":"play tuneIn station","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_tunein","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"s24896","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":392,"y":992,"wires":[["418f0e18.4cf29","7bd694c7.71d67c"]]},{"id":"7bd694c7.71d67c","type":"sonos-manage-radio","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":589,"y":992,"wires":[["98119167.abb2e"]]},{"id":"165a0add.39d6b5","type":"sonos-get-status","z":"4318847d.0693cc","confignode":"8d44022c.adb65","name":"Get Status WZ","x":284,"y":567,"wires":[["8978d019.4e76e"]]},{"id":"bac1bf03.f728","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"get_properties","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":567,"wires":[["165a0add.39d6b5"]]},{"id":"e7542013.832ae","type":"change","z":"4318847d.0693cc","name":"tv (line in)","rules":[{"t":"set","p":"topic","pt":"msg","to":"'x-sonos-htastream:RINCON_' & \t$replace(msg.payload.MACAddress, ':', '') & \t'01400:spdif'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":598,"wires":[["41f8648f.bd838c"]]},{"id":"55b6f9ce.2ef858","type":"sonos-control-player","z":"4318847d.0693cc","confignode":"8d44022c.adb65","name":"Control Player WZ","x":908,"y":567,"wires":[[]]},{"id":"41f8648f.bd838c","type":"change","z":"4318847d.0693cc","name":"activate line","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":727,"y":567,"wires":[["55b6f9ce.2ef858"]]},{"id":"610c7f81.c561","type":"inject","z":"99e6906e.c69df","name":"","topic":"SHUFFLE","payload":"set_queuemode","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":736,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"8638cd91.2bd02","type":"inject","z":"99e6906e.c69df","name":"","topic":"NORMAL","payload":"set_queuemode","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1011,"y":703,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"c90daf5a.fe606","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_queuemode","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1269,"y":491,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"625148f2.018378","type":"change","z":"4318847d.0693cc","name":"insert playlist","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"MLAdele","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":451,"y":676,"wires":[["9e0d7aee.907268"]]},{"id":"d02602c0.d8e8b","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":282,"y":676,"wires":[["625148f2.018378"]]},{"id":"87d4977c.1ec578","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"get_state","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1122,"wires":[["7a2ccae6.da3ab4"]]},{"id":"7a2ccae6.da3ab4","type":"sonos-get-status","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":249,"y":1122,"wires":[["87dc146e.24e978"]]},{"id":"87dc146e.24e978","type":"switch","z":"4318847d.0693cc","name":"stopped?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":402,"y":1122,"wires":[["945fcc13.1250b"]]},{"id":"945fcc13.1250b","type":"change","z":"4318847d.0693cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_mediainfo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":561,"y":1122,"wires":[["21ee4228.06026e"]]},{"id":"21ee4228.06026e","type":"sonos-get-status","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"Get Status sonos","x":751,"y":1122,"wires":[["d6e0519a.3a67a"]]},{"id":"d6e0519a.3a67a","type":"switch","z":"4318847d.0693cc","name":"queue active?","property":"queueActivated","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":943,"y":1122,"wires":[["a0363532.e8afe8"]]},{"id":"a0363532.e8afe8","type":"change","z":"4318847d.0693cc","name":"activate queue","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1122,"y":1122,"wires":[["cc766b34.a82ec8"]]},{"id":"cc766b34.a82ec8","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1301,"y":1122,"wires":[[]]},{"id":"6573def9.e783e","type":"comment","z":"4318847d.0693cc","name":"::: I ::: If ....","info":"","x":65,"y":1088,"wires":[]},{"id":"766e061d.03f178","type":"ui_button","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":6,"width":"3","height":"1","passthru":false,"label":"nodeRED stop","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":580,"wires":[["fb08d33d.93d26"]]},{"id":"fb08d33d.93d26","type":"exec","z":"7a420a49.166a74","command":"node-red-stop","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":400,"y":581,"wires":[[],[],[]]},{"id":"697298e1.200568","type":"exec","z":"7a420a49.166a74","command":"sudo systemctl restart nodered","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":450,"y":680,"wires":[["93cd779d.6f8558"],["93cd779d.6f8558"],["93cd779d.6f8558"]]},{"id":"93cd779d.6f8558","type":"debug","z":"7a420a49.166a74","name":"","active":true,"console":"false","complete":"false","x":730,"y":680,"wires":[]},{"id":"262e5841.9f2608","type":"ui_button","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":7,"width":"3","height":"1","passthru":false,"label":"nodeRED restart","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":680,"wires":[["697298e1.200568"]]},{"id":"497dc083.e5d35","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":110,"wires":[["9124b25e.5e7bb"]]},{"id":"9124b25e.5e7bb","type":"function","z":"a0a649cc.ca04e8","name":"xyz does not exist","func":"msg.payload = 'hallo';\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":110,"wires":[["bcf459fe.1b0ad8"]]},{"id":"e180e70c.33b628","type":"function","z":"a0a649cc.ca04e8","name":"xyz is null","func":"msg.payload.xyz = null;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":217,"wires":[["bcf459fe.1b0ad8"]]},{"id":"351eb48c.4094ac","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":217,"wires":[["e180e70c.33b628"]]},{"id":"c54adc23.e480e","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":452,"wires":[["305adb80.ed3b84"]]},{"id":"305adb80.ed3b84","type":"function","z":"a0a649cc.ca04e8","name":"xyz string is OK ","func":"msg.payload = { 'xyz':'richtiger String'};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":452,"wires":[["bcf459fe.1b0ad8"]]},{"id":"47d40166.41248","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":367,"wires":[["22871aaa.f17016"]]},{"id":"22871aaa.f17016","type":"function","z":"a0a649cc.ca04e8","name":"xyz empty string","func":"msg.payload = {\"xyz\":''};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":367,"wires":[["bcf459fe.1b0ad8"]]},{"id":"a4f89f5b.58eb4","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":98,"wires":[["c7fabc9b.407e1"]]},{"id":"c7fabc9b.407e1","type":"change","z":"a0a649cc.ca04e8","name":"payload does not exist","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":98,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"7cd29440.2439fc","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":208,"wires":[["892f9664.8696f8"]]},{"id":"892f9664.8696f8","type":"function","z":"a0a649cc.ca04e8","name":"payload null","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":208,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"b9b94e98.ceb2e","type":"comment","z":"a0a649cc.ca04e8","name":"Objective of this tab - Documentation","info":"# Introduction\nOften errors occures because objects or part of objects are not initialized or hold invalid values. This causes errors in following flows. \n\n# Solution\nThe path of every property is being intensively checked: **undefined, null, empty string** and not value \"**NaN**\".\n\nNaN is a strange one. It can be exclued by testing \"msg.payload !== msg.payload\" or by testing \"(typeof msg.payload === 'number' && isNaN(msg.payload))\"\n\nThe second one is longer but more obsious. \n\nIn case of msg.propLevel1.propLevel2 I do test all elements except msg. Msg is given and can not be null or undefined. ","x":145,"y":20,"wires":[]},{"id":"ed0da7d.7d64e58","type":"function","z":"a0a649cc.ca04e8","name":"payload empty string","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":324,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"ae986c34.34ae5","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":324,"wires":[["ed0da7d.7d64e58"]]},{"id":"96ba426e.4e8e1","type":"function","z":"a0a649cc.ca04e8","name":"payload string","func":"msg.payload = 'payload text there';\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":405,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"db6427c6.b0c728","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":405,"wires":[["96ba426e.4e8e1"]]},{"id":"39a502ae.bdf62e","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":1302,"y":452,"wires":[[]]},{"id":"9eab2607.51e8b8","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":311,"wires":[["3998a040.997f8"]]},{"id":"3998a040.997f8","type":"change","z":"9ea06256.355a2","name":"wrong volume - negative","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"-20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":967,"y":311,"wires":[["39a502ae.bdf62e"]]},{"id":"bf3ec25b.68b4e","type":"change","z":"9ea06256.355a2","name":"wrong volume string x","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"x","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":957,"y":344,"wires":[["39a502ae.bdf62e"]]},{"id":"b98d7a3a.f7e1a8","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":344,"wires":[["bf3ec25b.68b4e"]]},{"id":"7b90d2b5.5e7d2c","type":"change","z":"9ea06256.355a2","name":"empty topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":927,"y":237,"wires":[["39a502ae.bdf62e"]]},{"id":"6137cd73.bc9d24","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":237,"wires":[["7b90d2b5.5e7d2c"]]},{"id":"5b7a8514.ca7c5c","type":"change","z":"9ea06256.355a2","name":"wrong volume string true","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":967,"y":377,"wires":[["39a502ae.bdf62e"]]},{"id":"186077f8.993038","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":377,"wires":[["5b7a8514.ca7c5c"]]},{"id":"1a39a333.08667d","type":"change","z":"9ea06256.355a2","name":"no volume data","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":937,"y":410,"wires":[["39a502ae.bdf62e"]]},{"id":"962f5d9c.9a2f4","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":410,"wires":[["1a39a333.08667d"]]},{"id":"f499ab8f.2c78c8","type":"change","z":"9ea06256.355a2","name":"no volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":927,"y":270,"wires":[["39a502ae.bdf62e"]]},{"id":"23869a98.110636","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":270,"wires":[["f499ab8f.2c78c8"]]},{"id":"63a1eef5.4e185","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"-5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":101,"wires":[["d82099f6.76ef28"]]},{"id":"fd855720.eaca78","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":136,"wires":[["d82099f6.76ef28"]]},{"id":"de825881.6eda98","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"+5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":208,"wires":[["d82099f6.76ef28"]]},{"id":"d82099f6.76ef28","type":"sonos-control-player","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":288,"y":119,"wires":[["36e9951f.1034ca"]]},{"id":"eee89416.02f1f8","type":"comment","z":"775d7a2a.44f234","name":"not working: plus is absorbed","info":"","x":180,"y":174,"wires":[]},{"id":"a372137d.cde08","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"-35","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":586,"wires":[["75eb41eb.d74ff"]]},{"id":"75eb41eb.d74ff","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":340,"y":636,"wires":[["dd6943c6.e147"]]},{"id":"68c4dcb1.ec2ba4","type":"comment","z":"9ea06256.355a2","name":"volume changes","info":"","x":119,"y":552,"wires":[]},{"id":"7cb2d12d.8de4f","type":"inject","z":"9ea06256.355a2","name":"string -35","topic":"","payload":"-35","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":626,"wires":[["75eb41eb.d74ff"]]},{"id":"26dbfbe5.1a2c44","type":"inject","z":"9ea06256.355a2","name":"string -35","topic":"","payload":"+35","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":666,"wires":[["75eb41eb.d74ff"]]},{"id":"4c926005.22eab","type":"inject","z":"9ea06256.355a2","name":"string +35","topic":"","payload":"+35","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":706,"wires":[["75eb41eb.d74ff"]]},{"id":"c41a08e2.9d8a88","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":366,"wires":[["b6d00311.60368"]]},{"id":"b6d00311.60368","type":"change","z":"99e6906e.c69df","name":"play_notification with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"70","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":366,"wires":[["f2979581.a19d08"]]},{"id":"7b80d524.af98dc","type":"change","z":"9ea06256.355a2","name":"wrong volume boolean true","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":978,"y":443,"wires":[["39a502ae.bdf62e"]]},{"id":"5d0438c7.ed9d38","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":443,"wires":[["7b80d524.af98dc"]]},{"id":"bfa6fa56.92bab8","type":"comment","z":"9ea06256.355a2","name":"play_notification","info":"","x":816,"y":204,"wires":[]},{"id":"ba0f41e4.bda47","type":"inject","z":"775d7a2a.44f234","name":"ZAPSPLAT","topic":"https://www.zapsplat.com/wp-content/uploads/2015/sound-effects-the-sound-pack-tree/tspt_pull_bell_02_065.mp3?_=1","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":731,"y":80,"wires":[["fb524ea5.d8eaa"]]},{"id":"fb524ea5.d8eaa","type":"sonos-control-player","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":961,"y":150,"wires":[[]]},{"id":"aeccd5df.752738","type":"inject","z":"775d7a2a.44f234","name":"soundbible dog","topic":"http://soundbible.com/mp3/labrador-barking-daniel_simon.mp3","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":741,"y":113,"wires":[["fb524ea5.d8eaa"]]},{"id":"3ff5a8d5.963ce8","type":"inject","z":"775d7a2a.44f234","name":"Bell","topic":"http://soundbible.com/mp3/bells-tibetan-daniel_simon.mp3","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":714,"y":146,"wires":[["fb524ea5.d8eaa"]]},{"id":"6075c5e3.396b2c","type":"inject","z":"775d7a2a.44f234","name":"fog horn","topic":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":724,"y":179,"wires":[["fb524ea5.d8eaa"]]},{"id":"208a68fe.f3c9b8","type":"inject","z":"775d7a2a.44f234","name":"alarm","topic":"http://soundbible.com/mp3/Fire%20Truck%20Siren-SoundBible.com-642727443.mp3","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":714,"y":212,"wires":[["fb524ea5.d8eaa"]]},{"id":"d531e4dd.740ed8","type":"comment","z":"775d7a2a.44f234","name":"play notification","info":"","x":741,"y":40,"wires":[]},{"id":"67a23bc0.a14964","type":"comment","z":"775d7a2a.44f234","name":"Volume control","info":"","x":140,"y":61,"wires":[]},{"id":"83ec348e.2b3848","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":486,"wires":[["7a9b4e0.b2f0ab4"]]},{"id":"7a9b4e0.b2f0ab4","type":"function","z":"a0a649cc.ca04e8","name":"xyz number is ok","func":"msg.payload = {\"xyz\": 5};\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":486,"wires":[["bcf459fe.1b0ad8"]]},{"id":"2a76f526.64ae8a","type":"comment","z":"a0a649cc.ca04e8","name":"validation of payload","info":"","x":95,"y":63,"wires":[]},{"id":"3a375663.e13d9a","type":"function","z":"a0a649cc.ca04e8","name":"payload does not exist","func":"msg  = {'o': 'oooo'};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":133,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"63d72607.f34638","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":133,"wires":[["3a375663.e13d9a"]]},{"id":"117da209.5252de","type":"function","z":"a0a649cc.ca04e8","name":"payload undefined","func":"msg.payload = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":167,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"2dbcdfea.bf264","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":167,"wires":[["117da209.5252de"]]},{"id":"2ec859a5.f8eb66","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":249,"wires":[["de752d4c.21001"]]},{"id":"de752d4c.21001","type":"function","z":"a0a649cc.ca04e8","name":"payload NaN","func":"msg.payload = parseInt('Hallo');  // provides NaN\nreturn msg;","outputs":1,"noerr":0,"x":272,"y":249,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"b3403a6f.c88838","type":"function","z":"a0a649cc.ca04e8","name":"payload number ","func":"msg.payload = 10;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":439,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"1150c24c.b1ae2e","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":439,"wires":[["b3403a6f.c88838"]]},{"id":"957f1041.a180b","type":"function","z":"a0a649cc.ca04e8","name":"payload array","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":473,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"d8d75b12.f06148","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":473,"wires":[["957f1041.a180b"]]},{"id":"d7b0c62c.795398","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":507,"wires":[["d0fed59c.990ac8"]]},{"id":"d0fed59c.990ac8","type":"function","z":"a0a649cc.ca04e8","name":"payload object ","func":"msg.payload = {'something':'Hallo'};\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":507,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"ec88ae1e.ff4b6","type":"function","z":"a0a649cc.ca04e8","name":"payload object ","func":"msg.payload = {'something': undefined};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":542,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"d80d6e9c.59f3e","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":542,"wires":[["ec88ae1e.ff4b6"]]},{"id":"e3d3b952.dd6838","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":576,"wires":[["6e895944.0c26f8"]]},{"id":"6e895944.0c26f8","type":"function","z":"a0a649cc.ca04e8","name":"payload parseInt('5') ","func":"msg.payload = parseInt('5');\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":576,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"f507b549.24e008","type":"function","z":"a0a649cc.ca04e8","name":"payload parseInt(5) ","func":"msg.payload = parseInt(5);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":609,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"a201018b.af083","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":609,"wires":[["f507b549.24e008"]]},{"id":"1d4a5f09.801521","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":177,"wires":[["65a613f5.8794dc"]]},{"id":"65a613f5.8794dc","type":"function","z":"a0a649cc.ca04e8","name":"xyz undefined","func":"msg.payload.xyz = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":177,"wires":[["bcf459fe.1b0ad8"]]},{"id":"fe262f00.41ee9","type":"function","z":"a0a649cc.ca04e8","name":"xyz does not exist","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":144,"wires":[["bcf459fe.1b0ad8"]]},{"id":"3c32d77.e212a28","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":144,"wires":[["fe262f00.41ee9"]]},{"id":"2e25b173.d1dd2e","type":"function","z":"a0a649cc.ca04e8","name":"payload NaN","func":"msg.payload.xyz = parseInt('Hallo'); // NaN\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":256,"wires":[["bcf459fe.1b0ad8"]]},{"id":"e6f0a81b.1a9dc8","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":639,"y":256,"wires":[["2e25b173.d1dd2e"]]},{"id":"41751449.ddd90c","type":"function","z":"a0a649cc.ca04e8","name":"xyz is empty string","func":"msg.payload.xyz = '';\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":333,"wires":[["bcf459fe.1b0ad8"]]},{"id":"1732002b.aa105","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":333,"wires":[["41751449.ddd90c"]]},{"id":"74bc604d.fd188","type":"comment","z":"a0a649cc.ca04e8","name":"validation of payload.xyz","info":"","x":655,"y":67,"wires":[]},{"id":"6c500479.64f93c","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":520,"wires":[["7a8f82dd.bf758c"]]},{"id":"7a8f82dd.bf758c","type":"function","z":"a0a649cc.ca04e8","name":"xyz object  is ok","func":"msg.payload = {'xyz': {}};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":520,"wires":[["bcf459fe.1b0ad8"]]},{"id":"c2fe0b5f.2c5c38","type":"function","z":"a0a649cc.ca04e8","name":"xyz array  is ok","func":"msg.payload = { 'xyz': []};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":555,"wires":[["bcf459fe.1b0ad8"]]},{"id":"75ca332f.81145c","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":555,"wires":[["c2fe0b5f.2c5c38"]]},{"id":"e3f119eb.d44758","type":"function","z":"a0a649cc.ca04e8","name":"validate msg.payload","func":"/** Validate msg.payload\n * \n*/\n\nif (typeof msg.payload === 'undefined' || msg.payload === null || (typeof msg.payload === 'number' && isNaN(msg.payload)) || msg.payload === '') {\n    node.error('invalid payload', msg);\n    return;\n} else {\n    node.warn('payload ok', msg);\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":610,"wires":[[]]},{"id":"71e12096.9b21c","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":282,"wires":[["892e2d7e.c143"]]},{"id":"892e2d7e.c143","type":"function","z":"a0a649cc.ca04e8","name":"payload NaN","func":"msg.payload = NaN;\nreturn msg;","outputs":1,"noerr":0,"x":274,"y":282,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"bcf459fe.1b0ad8","type":"function","z":"a0a649cc.ca04e8","d":true,"name":"validate msg.payload.xyz","func":"/** Validate msg.payload.xyz\n * \n*/\n\nif (typeof msg.payload === 'undefined' || msg.payload === null || \n    (typeof msg.payload === 'number' && isNaN(msg.payload))) {\n    node.error('invalid payload', msg);\n    return;\n} else {\n    node.warn('payload ok');\n    if (typeof msg.payload.xyz === 'undefined' || msg.payload.xyz === null || \n        (typeof msg.payload.xyz === 'number' && isNaN(msg.payload.xyz)) || msg.payload.xyz ==='') {\n        node.error('invalid msg.payload.xyz', msg);\n        return;\n    } else {\n        node.warn('found ' + JSON.stringify(msg.payload.xyz)  + '... we can start processing');\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1228,"y":109,"wires":[[]]},{"id":"21af558b.13c2ba","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":638,"y":290,"wires":[["65d7d2d2.d82a5c"]]},{"id":"65d7d2d2.d82a5c","type":"function","z":"a0a649cc.ca04e8","name":"payload NaN","func":"msg.payload.xyz = NaN; // NaN\nreturn msg;","outputs":1,"noerr":0,"x":809,"y":290,"wires":[["bcf459fe.1b0ad8"]]},{"id":"4ce535d2.b366ac","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["3028a931.c32436"]]},{"id":"3028a931.c32436","type":"change","z":"99e6906e.c69df","name":"play with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":300,"wires":[["f2979581.a19d08"]]},{"id":"231a41a0.2ffd6e","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":516,"wires":[["bada722f.418d3"]]},{"id":"bada722f.418d3","type":"change","z":"9ea06256.355a2","name":"play with volume - not number","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":987,"y":516,"wires":[["39a502ae.bdf62e"]]},{"id":"e494d6fa.c4be28","type":"comment","z":"9ea06256.355a2","name":"play with volume","info":"","x":816,"y":483,"wires":[]},{"id":"209aa15a.cc979e","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":549,"wires":[["1723f5cd.5a950a"]]},{"id":"1723f5cd.5a950a","type":"change","z":"9ea06256.355a2","name":"play with volume - invalid number ","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":997,"y":549,"wires":[["39a502ae.bdf62e"]]},{"id":"5c5d1c68.22bf54","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":333,"wires":[["372185d5.1d1a4a"]]},{"id":"372185d5.1d1a4a","type":"change","z":"99e6906e.c69df","name":"activate_avtransport with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x-rincon-stream:RINCON_5CAAFD00223601400","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":333,"wires":[["f2979581.a19d08"]]},{"id":"7fdc8a90.778d44","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":662,"wires":[["a662246b.c9a948"]]},{"id":"a662246b.c9a948","type":"change","z":"9ea06256.355a2","name":"avtransport with volume - not number","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x-rincon-stream:RINCON_5CAAFD00223601400","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1007,"y":662,"wires":[["39a502ae.bdf62e"]]},{"id":"72def357.4d838c","type":"comment","z":"9ea06256.355a2","name":"activate avtransport with volume","info":"","x":868,"y":629,"wires":[]},{"id":"3b78414f.38dede","type":"change","z":"9ea06256.355a2","name":"avtransport with volume - invalid number","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x-rincon-stream:RINCON_5CAAFD00223601400","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1018,"y":695,"wires":[["39a502ae.bdf62e"]]},{"id":"a425b1eb.3038","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":788,"y":695,"wires":[["3b78414f.38dede"]]},{"id":"d919048c.b05e48","type":"change","z":"9ea06256.355a2","name":"avtransport with volume - ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x-rincon-stream:RINCON_5CAAFD00223601400","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":977,"y":729,"wires":[["39a502ae.bdf62e"]]},{"id":"a2234dbe.9d699","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":729,"wires":[["d919048c.b05e48"]]},{"id":"7fad3a81.879174","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1053,"wires":[["26dc5c37.1decf4"]]},{"id":"26dc5c37.1decf4","type":"change","z":"99e6906e.c69df","name":"activate_queue, vol. 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":844,"y":1054,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"99e95475.666eb8","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":834,"wires":[["2259a272.73056e"]]},{"id":"2259a272.73056e","type":"change","z":"99e6906e.c69df","name":"play_mysonos arabella with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Arabella","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":834,"wires":[["10dc8b09.602c85"]]},{"id":"674bff67.61bde","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":801,"wires":[["208c3c03.be7064"]]},{"id":"208c3c03.be7064","type":"change","z":"99e6906e.c69df","name":"play_tunein with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_tunein","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"s24896","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":801,"wires":[["10dc8b09.602c85"]]},{"id":"c3fcf19f.62a37","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2514,"wires":[["3e20b9ea.a3d6e6"]]},{"id":"3e20b9ea.a3d6e6","type":"change","z":"9ea06256.355a2","name":"play mysonos arabella with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Arabella","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2514,"wires":[["2f900d43.a3c562"]]},{"id":"30daef9a.dcd72","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2616,"wires":[["462eae92.63d07"]]},{"id":"462eae92.63d07","type":"change","z":"9ea06256.355a2","name":"play tunein with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_tunein","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"s24896","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2616,"wires":[["2f900d43.a3c562"]]},{"id":"8624bfb1.18ffa","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2554,"wires":[["a0ad39e5.b760d8"]]},{"id":"a0ad39e5.b760d8","type":"change","z":"9ea06256.355a2","name":"play mysonos Love with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Love","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":2554,"wires":[["2f900d43.a3c562"]]},{"id":"fa17e07.604b32","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2654,"wires":[["fe23d0f4.85c73"]]},{"id":"fe23d0f4.85c73","type":"change","z":"9ea06256.355a2","name":"play tunein with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_tunein","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"s24896","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2654,"wires":[["2f900d43.a3c562"]]},{"id":"6b5cc4aa.c99b7c","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":466,"wires":[["aa36d09.b24b43"]]},{"id":"aa36d09.b24b43","type":"function","z":"9ea06256.355a2","name":"NaN","func":"msg.payload = NaN;\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":466,"wires":[["2e34f5b1.a5a72a"]]},{"id":"1009be46.8c0fb2","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":502,"wires":[["68e73b2a.782454"]]},{"id":"68e73b2a.782454","type":"function","z":"9ea06256.355a2","name":"null","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":502,"wires":[["2e34f5b1.a5a72a"]]},{"id":"b12a4877.40ad38","type":"comment","z":"a0a649cc.ca04e8","name":"Following are all OK","info":"","x":110,"y":371,"wires":[]},{"id":"cf30cfb3.f7a6","type":"comment","z":"a0a649cc.ca04e8","name":"Following are all OK","info":"","x":635,"y":417,"wires":[]},{"id":"dd1ad5ab.e8b008","type":"http request","z":"d65eded3.250b9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":720,"y":60,"wires":[[]]},{"id":"1bbc7a30.e4cbe6","type":"template","z":"d65eded3.250b9","name":"define url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://autoremotejoaomgcd.appspot.com/sendnotification?key={{key}}&title=\"HomeService Error Message\"&text={{payload}};\n","output":"str","x":570,"y":60,"wires":[["dd1ad5ab.e8b008"]]},{"id":"6b0e515b.e62cd","type":"function","z":"d65eded3.250b9","name":"define/send error message","func":"/** Send error message to TASKER if debugToMobile is true\n* GITHUB subflow handle errors\n* @since 2019-10-13T1931\n* PREREQ: uses TASKER autoremote and needs key, stored in global variable\n*/\n\n  const unknown = 'unbekannt';\n\n  let errorTab = env.get('Tabname');\n  if (typeof errorTab === 'undefined' || errorTab === null || errorTab === '') {\n    errorTab = unknown;\n    node.warn('Tabname not defined');\n  }\n\n  let errorNodeName = unknown;\n  let errorNodeType = unknown;\n  let errorNodeId = unknown;\n  let errorMessage = unknown;\n  if (typeof msg.error === 'undefined' || msg.error === null || msg.error === '') {\n    // no infos - use default text above\n  } else {\n    if (typeof msg.error.source === 'undefined' || msg.error.source === null || msg.error.source === '') {\n      // no source infos - use default text above\n    } else {\n      if (typeof msg.error.source.name === 'undefined' || msg.error.source.name === null || msg.error.source.name === '') {\n        // use default text above\n      } else {\n        errorNodeName = msg.error.source.name;\n      }\n      if (typeof msg.error.source.type === 'undefined' || msg.error.source.type === null || msg.error.source.type === '') {\n        // use default text above\n      } else {\n        errorNodeType = msg.error.source.type;\n      }\n      if (typeof msg.error.source.id === 'undefined' || msg.error.source.id === null || msg.error.source.id === '') {\n        // use default text\n      } else {\n        errorNodeId = msg.error.source.id;\n      }\n    }\n    if (typeof msg.error.message === 'undefined' || msg.error.message === null || msg.error.message === '') {\n      // no infos - use default text\n    } else {\n      errorMessage = msg.error.message;\n    }\n  }\n  const fullMessage = `Fehler in TAB: ${errorTab} NODENAME: ${errorNodeName} NODETYPE: ${errorNodeType} NODEID: ${errorNodeId} DETAIL: ${errorMessage}`;\n\n  let msgUIandLog = { payload: fullMessage };\n\n  let msgMobile;\n  if (env.get('DebugToMobile')) {\n    const keyVariableName = env.get('KeyVariable'); // first get name of global variable\n    if (typeof keyVariableName === 'undefined' || keyVariableName === null || keyVariableName === '') {\n      node.error('Error in subflow: handle error: Invalid key variable name');\n      msgMobile = null; // no message\n      msgUIandLog = null; // no message\n    } else {\n      const key = global.get(keyVariableName);\n      if (typeof key === 'undefined' || key === null || key === '') {\n        node.error('Error in subflow: handle error: Key variable not defined or key invalid');\n        msgMobile = null; // no message\n        msgUIandLog = null; // no message\n      } else {\n        msgMobile = { payload: fullMessage, key: key };\n      }\n    }\n  } else {\n    msgMobile = null; // not message\n  }\n  return [msgMobile, msgUIandLog];\n\n","outputs":2,"noerr":0,"x":280,"y":80,"wires":[["1bbc7a30.e4cbe6"],["337e0a88.64b546"]],"outputLabels":["email data",""]},{"id":"337e0a88.64b546","type":"debug","z":"d65eded3.250b9","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"1cbfc88a.82bef7","type":"subflow:d65eded3.250b9","z":"55805384.a4695c","name":"","env":[{"name":"Tabname","value":"Sandbox","type":"str"},{"name":"DebugToMobile","value":"true","type":"bool"}],"x":610,"y":20,"wires":[]},{"id":"ca8b047.c6229f8","type":"catch","z":"55805384.a4695c","d":true,"name":"","scope":null,"uncaught":false,"x":440,"y":20,"wires":[["1cbfc88a.82bef7"]]},{"id":"2a12b79b.d9e0f8","type":"subflow:d65eded3.250b9","z":"9ea06256.355a2","d":true,"name":"","env":[{"name":"Tabname","value":"Test with Failure","type":"str"}],"x":650,"y":40,"wires":[]},{"id":"dbe8b435.a7f4c8","type":"catch","z":"9ea06256.355a2","d":true,"name":"","scope":null,"uncaught":false,"x":480,"y":40,"wires":[["2a12b79b.d9e0f8"]]},{"id":"322d058.566fbfa","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":584,"wires":[["b53f67e3.0e4028"]]},{"id":"b53f67e3.0e4028","type":"change","z":"9ea06256.355a2","name":"play with volume - invalid number ","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"{\"x\":\"Hallo\",\"y\":\"World\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":997,"y":584,"wires":[["39a502ae.bdf62e"]]},{"id":"b410ddd8.77b9d","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2714,"wires":[["572c1e4b.9d236"]]},{"id":"572c1e4b.9d236","type":"change","z":"9ea06256.355a2","name":"play tunein with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Arabella","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2714,"wires":[["2f900d43.a3c562"]]},{"id":"6dba351d.9f53cc","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2752,"wires":[["8e666d34.3a1a5"]]},{"id":"8e666d34.3a1a5","type":"change","z":"9ea06256.355a2","name":"play tunein with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Arabella","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2754,"wires":[["2f900d43.a3c562"]]},{"id":"833757b5.a4c0b8","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2794,"wires":[["2856f8dd.825148"]]},{"id":"2856f8dd.825148","type":"change","z":"9ea06256.355a2","name":"play mysonos love with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Love","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":2794,"wires":[["2f900d43.a3c562"]]},{"id":"376bf938.dc9bd6","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2832,"wires":[["ae807b63.cc69a8"]]},{"id":"ae807b63.cc69a8","type":"change","z":"9ea06256.355a2","name":"play mysonos love with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Love","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":2832,"wires":[["2f900d43.a3c562"]]},{"id":"88d0ca60.d83528","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2894,"wires":[["340d5a87.775326"]]},{"id":"340d5a87.775326","type":"change","z":"9ea06256.355a2","name":"play mysonos wrong title with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"xxxx","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2894,"wires":[["2f900d43.a3c562"]]},{"id":"f19f926b.43cf5","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":867,"wires":[["6849576b.2c6d48"]]},{"id":"6849576b.2c6d48","type":"change","z":"99e6906e.c69df","name":"play_mysonos Best Of with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Best Of","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":867,"wires":[["10dc8b09.602c85"]]},{"id":"b0a19150.d55f8","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":2280,"wires":[["59f166cc.c98498"]]},{"id":"59f166cc.c98498","type":"sonos-manage-radio","z":"9ea06256.355a2","confignode":"9037fbab.1d8408","name":"","x":757,"y":2324,"wires":[[]]},{"id":"7a49a4ac.f8aa7c","type":"inject","z":"99e6906e.c69df","name":"","topic":"Fritz","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":762,"wires":[["10dc8b09.602c85"]]},{"id":"5e661b87.edd5b4","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":958,"y":557,"wires":[["b8d81bfc.e77d98"]]},{"id":"b8d81bfc.e77d98","type":"change","z":"99e6906e.c69df","name":"get musiclibrary playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":557,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"e110c822.5581c8","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":661,"y":948,"wires":[["72ac22b6.3d556c"]]},{"id":"72ac22b6.3d556c","type":"change","z":"99e6906e.c69df","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":906,"y":948,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"9af19cc4.5706a","type":"comment","z":"775d7a2a.44f234","name":"msg.size ","info":"","x":121,"y":725,"wires":[]},{"id":"d32d3c03.61ef1","type":"sonos-manage-queue","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":702,"y":853,"wires":[["8208c58d.b37718"]]},{"id":"e4134f34.a564d","type":"change","z":"775d7a2a.44f234","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":362,"y":765,"wires":[["d32d3c03.61ef1"]]},{"id":"a081172f.de7e58","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":765,"wires":[["e4134f34.a564d"]]},{"id":"8208c58d.b37718","type":"debug","z":"775d7a2a.44f234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":853,"wires":[]},{"id":"249fa767.71bb08","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":798,"wires":[["6d2ea1a0.4a7ab"]]},{"id":"6d2ea1a0.4a7ab","type":"change","z":"775d7a2a.44f234","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":361,"y":798,"wires":[["d32d3c03.61ef1"]]},{"id":"f39f2932.5f5318","type":"change","z":"775d7a2a.44f234","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":362,"y":831,"wires":[["d32d3c03.61ef1"]]},{"id":"6e2ca31a.2e100c","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":831,"wires":[["f39f2932.5f5318"]]},{"id":"f06dff57.c0a35","type":"change","z":"775d7a2a.44f234","name":"get musiclibrary playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":341,"y":875,"wires":[["d32d3c03.61ef1"]]},{"id":"d974bf84.9321f","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":875,"wires":[["f06dff57.c0a35"]]},{"id":"38cf5a24.734d36","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":908,"wires":[["69c14ed9.cef51"]]},{"id":"69c14ed9.cef51","type":"change","z":"775d7a2a.44f234","name":"get musiclibrary playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":908,"wires":[["d32d3c03.61ef1"]]},{"id":"29767623.36181a","type":"change","z":"775d7a2a.44f234","name":"get musiclibrary playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":341,"y":941,"wires":[["d32d3c03.61ef1"]]},{"id":"1e1b60be.3ad4bf","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":941,"wires":[["29767623.36181a"]]},{"id":"2143919d.6b952e","type":"comment","z":"775d7a2a.44f234","name":"Results","info":"There are 3 playlists. \nSo with size 2,3 there should be a Warning","x":652,"y":765,"wires":[]},{"id":"bc08b969.5611a8","type":"inject","z":"775d7a2a.44f234","name":"insert_uri  song from ML","topic":"x-file-cifs://nas2019/Multimedia/Music/MyMusic/Rihanna/Diamonds/Rihanna%20-%20Diamonds.mp3","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":159,"y":543,"wires":[["22888d78.e458b2"]]},{"id":"959d77f2.e655b8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxx","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["3cac913b.eba05e"]]},{"id":"3cac913b.eba05e","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":292,"y":540,"wires":[["a6d04c24.10188"]]},{"id":"dd3ed6e5.761d18","type":"comment","z":"2e2bde07.2bda42","name":"insert prime playlisturi","info":"","x":880,"y":500,"wires":[]},{"id":"19f12531.26b53b","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":1179,"y":621,"wires":[["5b339f20.ec5df"]]},{"id":"bf0a66f7.cce418","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_prime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":571,"wires":[["19f12531.26b53b"]]},{"id":"8305d5e.8e6b328","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"x-rincon","payload":"insert_prime_playlisturi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":604,"wires":[["19f12531.26b53b"]]},{"id":"99c15c5e.5cb77","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxxxxxx","payload":"insert_prime_playlisturi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":637,"wires":[["19f12531.26b53b"]]},{"id":"bd9f6459.1ebb98","type":"inject","z":"2e2bde07.2bda42","name":"insert with wrong data","topic":"x-rincon-cpcontainer:laylists%2fB07W1Z3YMN%2f%23prime_playlist?sid=201&flags=8300&sn=14","payload":"insert_prime_playlisturi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":670,"wires":[["19f12531.26b53b"]]},{"id":"3f3f1637.83394a","type":"comment","z":"2e2bde07.2bda42","name":"insert_uri ","info":"","x":100,"y":503,"wires":[]},{"id":"5b339f20.ec5df","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1348,"y":568,"wires":[]},{"id":"98b3c343.19a4","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"x-rincon-cpcontainer:1006206ccatalog%2fplaylists%2fB07W1Z3YMN%2f%23prime_playlist?sid=201&flags=8300&sn=14","payload":"insert_prime_playlisturi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":535,"wires":[["545da1f1.2a0a4"]]},{"id":"545da1f1.2a0a4","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":1070,"y":535,"wires":[["5b339f20.ec5df"]]},{"id":"a446ee43.22313","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xx","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":161,"y":1422,"wires":[["d12bd467.ca9358"]]},{"id":"3eb1dfa.e71d22","type":"comment","z":"2e2bde07.2bda42","name":"insert Music Library Playlist from My Sonos","info":"","x":200,"y":1312,"wires":[]},{"id":"37e62db0.b573b2","type":"comment","z":"2e2bde07.2bda42","name":"insert Sonos Playlist","info":"","x":129,"y":1626,"wires":[]},{"id":"3376c8b.910b438","type":"comment","z":"2e2bde07.2bda42","name":"get Music Library Playlist ","info":"","x":831,"y":1312,"wires":[]},{"id":"db68f8e.dd3cc08","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":769,"y":1391,"wires":[["3fea5db5.9f34e2"]]},{"id":"3fea5db5.9f34e2","type":"change","z":"2e2bde07.2bda42","name":"get ML playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":968,"y":1391,"wires":[["16802e93.5f9981"]]},{"id":"74b7708e.62bfb","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":769,"y":1424,"wires":[["490db005.58636"]]},{"id":"490db005.58636","type":"change","z":"2e2bde07.2bda42","name":"get ML playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":968,"y":1424,"wires":[["16802e93.5f9981"]]},{"id":"582a7acb.c91e94","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":769,"y":1458,"wires":[["d46d838a.c016"]]},{"id":"d46d838a.c016","type":"change","z":"2e2bde07.2bda42","name":"get ML playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":968,"y":1458,"wires":[["16802e93.5f9981"]]},{"id":"57b47fb8.8fcd4","type":"change","z":"2e2bde07.2bda42","name":"get ML playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"1.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":968,"y":1494,"wires":[["16802e93.5f9981"]]},{"id":"82ac8203.67d3","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":769,"y":1494,"wires":[["57b47fb8.8fcd4"]]},{"id":"16802e93.5f9981","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":1275,"y":1442,"wires":[["96b504bf.6e7788"]]},{"id":"6001c06c.bca74","type":"inject","z":"2e2bde07.2bda42","name":"get musiclibrary playlist","topic":"","payload":"get_musiclibrary_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":821,"y":1346,"wires":[["5e775c52.8e9c84"]]},{"id":"5e775c52.8e9c84","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":1035,"y":1346,"wires":[[]]},{"id":"96b504bf.6e7788","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1285,"y":1499,"wires":[]},{"id":"e95861c4.cfc17","type":"comment","z":"2e2bde07.2bda42","name":"get Sonos Playlists","info":"","x":810,"y":1629,"wires":[]},{"id":"2c20b96a.e5bc96","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":300,"y":617,"wires":[["a6d04c24.10188"]]},{"id":"c87d28e7.1a10f8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":584,"wires":[["2c20b96a.e5bc96"]]},{"id":"7f764b36.d7daf4","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxx","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":617,"wires":[["2c20b96a.e5bc96"]]},{"id":"a6d04c24.10188","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":577,"wires":[]},{"id":"f44b5c6a.7f9fc","type":"comment","z":"2e2bde07.2bda42","name":"get prime playlists from My Sonos","info":"","x":850,"y":1122,"wires":[]},{"id":"bf96fc4c.68de1","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1502,"wires":[["f2d56cb7.acbb5"]]},{"id":"f2d56cb7.acbb5","type":"change","z":"2e2bde07.2bda42","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":1502,"wires":[["d12bd467.ca9358"]]},{"id":"1a2130af.aaec5f","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1536,"wires":[["3d4419ac.231f76"]]},{"id":"3d4419ac.231f76","type":"change","z":"2e2bde07.2bda42","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":1536,"wires":[["d12bd467.ca9358"]]},{"id":"6f9c2092.82983","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1570,"wires":[["21486ce7.ffb0e4"]]},{"id":"21486ce7.ffb0e4","type":"change","z":"2e2bde07.2bda42","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":1570,"wires":[["d12bd467.ca9358"]]},{"id":"532ed001.51c62","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"ML10CC","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1349,"wires":[["32ecf28b.53667e"]]},{"id":"32ecf28b.53667e","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":254,"y":1349,"wires":[[]]},{"id":"d12bd467.ca9358","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":560,"y":1397,"wires":[["5f3a4327.f1344c"]]},{"id":"5f3a4327.f1344c","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":584,"y":1456,"wires":[]},{"id":"8b4dcee2.1dd2f","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1387,"wires":[["d12bd467.ca9358"]]},{"id":"525cdbfa.edf624","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"1234","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1456,"wires":[["d12bd467.ca9358"]]},{"id":"926581be.fcb26","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_amazonprime_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":771,"y":1156,"wires":[["468c3608.f260e8"]]},{"id":"468c3608.f260e8","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":1011,"y":1156,"wires":[[]]},{"id":"b534038a.52f42","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1713,"wires":[["a0ad1cdf.d4747"]]},{"id":"a0ad1cdf.d4747","type":"change","z":"2e2bde07.2bda42","name":"get SONOS playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989,"y":1713,"wires":[["5f8c615b.2003"]]},{"id":"55795e82.6b1d","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1746,"wires":[["8e6d60f7.e4434"]]},{"id":"8e6d60f7.e4434","type":"change","z":"2e2bde07.2bda42","name":"get SONOS playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989,"y":1746,"wires":[["5f8c615b.2003"]]},{"id":"68bd9b67.ead3d4","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1780,"wires":[["1fad53f3.dc08cc"]]},{"id":"1fad53f3.dc08cc","type":"change","z":"2e2bde07.2bda42","name":"get SONOS playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989,"y":1780,"wires":[["5f8c615b.2003"]]},{"id":"560c8c42.e2f224","type":"change","z":"2e2bde07.2bda42","name":"get SONOS playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"1.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989,"y":1816,"wires":[["5f8c615b.2003"]]},{"id":"a4bf53da.9892","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1816,"wires":[["560c8c42.e2f224"]]},{"id":"5f8c615b.2003","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":1276,"y":1764,"wires":[["87d2d50b.eec388"]]},{"id":"27dcafba.b7e4b","type":"inject","z":"2e2bde07.2bda42","name":"get musiclibrary playlist","topic":"","payload":"get_sonos_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":822,"y":1668,"wires":[["25b530bc.a5cfc"]]},{"id":"25b530bc.a5cfc","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":1036,"y":1668,"wires":[[]]},{"id":"87d2d50b.eec388","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1286,"y":1821,"wires":[]},{"id":"3fe16e86.6cb4e2","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xx","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":1733,"wires":[["53b639c8.3468b8"]]},{"id":"e23a6ce9.027fd","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":1829,"wires":[["4632d938.8d3838"]]},{"id":"4632d938.8d3838","type":"change","z":"2e2bde07.2bda42","name":"insert from sonos playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_sonos_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":316,"y":1829,"wires":[["53b639c8.3468b8"]]},{"id":"de1c26f4.4b6648","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":1863,"wires":[["3add7b46.acb3c4"]]},{"id":"3add7b46.acb3c4","type":"change","z":"2e2bde07.2bda42","name":"insert from sonos playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_sonos_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":316,"y":1863,"wires":[["53b639c8.3468b8"]]},{"id":"8ead3ed5.4974d","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":1897,"wires":[["19ed835c.214c1d"]]},{"id":"19ed835c.214c1d","type":"change","z":"2e2bde07.2bda42","name":"insert from sonos playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_sonos_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":316,"y":1897,"wires":[["53b639c8.3468b8"]]},{"id":"672441e1.624b5","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"ML","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147,"y":1660,"wires":[["d7562f53.684ef"]]},{"id":"d7562f53.684ef","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":364,"y":1660,"wires":[[]]},{"id":"53b639c8.3468b8","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":525,"y":1712,"wires":[["980c723a.40412"]]},{"id":"980c723a.40412","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":581,"y":1767,"wires":[]},{"id":"9a8008a2.d9cd38","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":1698,"wires":[["53b639c8.3468b8"]]},{"id":"2440044e.74bf5c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"1234","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147,"y":1767,"wires":[["53b639c8.3468b8"]]},{"id":"71eba2c5.4c259c","type":"comment","z":"2e2bde07.2bda42","name":"remove song","info":"","x":110,"y":2316,"wires":[]},{"id":"e020a73b.97c818","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":2262,"wires":[]},{"id":"5ecc6d9e.af7504","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":560,"y":2196,"wires":[["e020a73b.97c818"]]},{"id":"7a39fd8a.309694","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"0","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2486,"wires":[["dd9f96c4.353d28"]]},{"id":"c041e9c9.a89588","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"-1","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2519,"wires":[["dd9f96c4.353d28"]]},{"id":"e59a24bf.df41b8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2353,"wires":[["dd9f96c4.353d28"]]},{"id":"df4735f5.5a8d68","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"hallo","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2387,"wires":[["dd9f96c4.353d28"]]},{"id":"cb15e9e3.c6b5f8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":".,c","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2420,"wires":[["dd9f96c4.353d28"]]},{"id":"ffb767d7.cbac48","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"..10.2","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2453,"wires":[["dd9f96c4.353d28"]]},{"id":"159b30b8.266abf","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2002,"wires":[["613cd22a.44b13c"]]},{"id":"613cd22a.44b13c","type":"change","z":"2e2bde07.2bda42","name":"activate queue with volume - not number","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2002,"wires":[["5ecc6d9e.af7504"]]},{"id":"618e022a.f227ec","type":"comment","z":"2e2bde07.2bda42","name":"activate queue with volume but use default","info":"","x":201,"y":1969,"wires":[]},{"id":"a4a62d48.8553e","type":"change","z":"2e2bde07.2bda42","name":"activate queue with volume - invalid number","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":331,"y":2035,"wires":[["5ecc6d9e.af7504"]]},{"id":"ea6b985e.9d3f68","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":2035,"wires":[["a4a62d48.8553e"]]},{"id":"f47a1b75.7a9858","type":"change","z":"2e2bde07.2bda42","name":"activate queue with volume - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":2069,"wires":[["5ecc6d9e.af7504"]]},{"id":"3f695443.b2475c","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2069,"wires":[["f47a1b75.7a9858"]]},{"id":"5adf1b4a.403774","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":2002,"wires":[["f7a859dd.a38898"]]},{"id":"f7a859dd.a38898","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":1140,"y":2087,"wires":[["ad1c0aa3.d90fa8"]]},{"id":"31661052.1cb59","type":"comment","z":"2e2bde07.2bda42","name":"get queue","info":"","x":840,"y":1966,"wires":[]},{"id":"ad1c0aa3.d90fa8","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":2087,"wires":[]},{"id":"8ac4b2bf.acf95","type":"comment","z":"2e2bde07.2bda42","name":"shuffle queue","info":"","x":850,"y":2053,"wires":[]},{"id":"c1c243cc.740df","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"SHUFLE","payload":"set_queuemode","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":2088,"wires":[["f7a859dd.a38898"]]},{"id":"9b245ba0.a9fa68","type":"inject","z":"2e2bde07.2bda42","name":"test invalid command","topic":"","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":2183,"wires":[["f7a859dd.a38898"]]},{"id":"30eb293.0f209d6","type":"comment","z":"2e2bde07.2bda42","name":"invalid command","info":"","x":859,"y":2148,"wires":[]},{"id":"ff119fe5.e9233","type":"comment","z":"2e2bde07.2bda42","name":"ADDITIONAL TEST SEE HERE (No Playlists)","info":"no Music Library Playlists\n- move playlist directory to different place\n\nno Sonos Playlists\nno My Sonos items\nno Amazon Prime Playlists in My Sonons\n","x":209,"y":2578,"wires":[]},{"id":"80e23fff.0f586","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_sonos_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2685,"wires":[["d5d78733.a3b618"]]},{"id":"365875e.b9e5f8a","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_amazonprime_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2652,"wires":[["d5d78733.a3b618"]]},{"id":"d5d78733.a3b618","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":330,"y":2658,"wires":[["5a0d6d96.875a94"]]},{"id":"5a0d6d96.875a94","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":2658,"wires":[]},{"id":"56085d81.49a104","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"12xdgt","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":650,"wires":[["2c20b96a.e5bc96"]]},{"id":"acc9ae1d.15e39","type":"comment","z":"2e2bde07.2bda42","name":"ADDITIONAL TEST SEE HERE ","info":"- empty queue\n- queue not activated\n","x":1050,"y":1965,"wires":[],"icon":"node-red/alert.svg"},{"id":"6392f2ea.1c7a9c","type":"inject","z":"99e6906e.c69df","name":"","topic":"Best ","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":751,"y":840,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"e53eb4f.935c748","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"x","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":1582,"wires":[["d12bd467.ca9358"]]},{"id":"ed16ee64.4d4eb","type":"inject","z":"99e6906e.c69df","name":"","topic":"On","payload":"set_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":483,"y":57,"wires":[["f2979581.a19d08"]]},{"id":"62c8c05b.eba5e","type":"inject","z":"99e6906e.c69df","name":"","topic":"Off","payload":"set_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":483,"y":92,"wires":[["f2979581.a19d08"]]},{"id":"bd8d926e.c5c12","type":"comment","z":"9ea06256.355a2","name":"set led","info":"","x":788,"y":76,"wires":[]},{"id":"7a53e124.78de4","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"set_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":789,"y":110,"wires":[["eaab7f3b.eb8db"]]},{"id":"40554e29.11064","type":"inject","z":"9ea06256.355a2","name":"","topic":"xxxxx","payload":"set_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":809,"y":143,"wires":[["eaab7f3b.eb8db"]]},{"id":"cbdb6952.c8e6a8","type":"comment","z":"2e2bde07.2bda42","name":"insert amazonprime playlists from My Sonos","info":"","x":211,"y":1123,"wires":[]},{"id":"5fa235d4.a3742c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"Best","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1159,"wires":[["4dd5b2ff.80841c"]]},{"id":"6d10b284.35d90c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1197,"wires":[["9eb23d7d.4fa8a"]]},{"id":"4dd5b2ff.80841c","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":490,"y":1159,"wires":[[]]},{"id":"9eb23d7d.4fa8a","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":560,"y":1207,"wires":[[]]},{"id":"5b4ba751.751278","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxxx","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1232,"wires":[["9eb23d7d.4fa8a"]]},{"id":"afc056d4.7db9c8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"999","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1268,"wires":[["9eb23d7d.4fa8a"]]},{"id":"d92f3918.30fb88","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":833,"y":234,"wires":[["9225381f.320718"]]},{"id":"ab1a6165.38916","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":309,"wires":[["9225381f.320718"]]},{"id":"5c5367a.974d298","type":"comment","z":"99e6906e.c69df","name":"My Sonos","info":"","x":840,"y":276,"wires":[]},{"id":"fb07cf1.4081e3","type":"comment","z":"2e2bde07.2bda42","name":"No Ip && invalid serial","info":"","x":138,"y":2917,"wires":[]},{"id":"bc77593.c2566a8","type":"comment","z":"2e2bde07.2bda42","name":"Invalid ip: from fritzbox","info":"","x":520,"y":2782,"wires":[]},{"id":"9ec7cbdf.5f6818","type":"comment","z":"2e2bde07.2bda42","name":"Invalid ip address - wrong syntax","info":"","x":550,"y":2862,"wires":[]},{"id":"f7531027.df1ee","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":2826,"wires":[["88c9fb4e.3c7ed8"]]},{"id":"95c2e9b3.5b3998","type":"comment","z":"2e2bde07.2bda42","name":"No ip && valid serial","info":"","x":510,"y":2822,"wires":[]},{"id":"88c9fb4e.3c7ed8","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"c747354a.95e5e8","name":"","x":278,"y":2826,"wires":[["cfe47c90.eddb1"]]},{"id":"8011af3a.b5551","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"","x":278,"y":2776,"wires":[["cfe47c90.eddb1"]]},{"id":"19c87c23.068fb4","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98,"y":2952,"wires":[["fec53bc8.d2ef38"]]},{"id":"4a14b3a8.5043ec","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98,"y":2859,"wires":[["404bc2a2.32632c"]]},{"id":"5ae62e13.1aaaa","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98,"y":2776,"wires":[["8011af3a.b5551"]]},{"id":"404bc2a2.32632c","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"64704482.34d37c","name":"","x":278,"y":2859,"wires":[["cfe47c90.eddb1"]]},{"id":"fec53bc8.d2ef38","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"ff297616.de3c88","name":"","x":278,"y":2952,"wires":[["cfe47c90.eddb1"]]},{"id":"f4257bb8.59cb08","type":"comment","z":"99e6906e.c69df","name":"Insert Spotify URI","info":"","x":690,"y":494,"wires":[],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"8d0b193b.cc2258","type":"inject","z":"99e6906e.c69df","name":"spotify track","topic":"spotify:track:5AdoS3gS47x40nBNlNmPQ8","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":528,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"1cd31901.348b97","type":"inject","z":"99e6906e.c69df","name":"spotify album","topic":"spotify:album:1TSZDcvlPtAnekTaItI3qO","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":562,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"ecb9c681.6642d8","type":"inject","z":"99e6906e.c69df","name":"spotify artistTopTracks","topic":"spotify:artistTopTracks:1dfeR4HaWDbWqFHLkxsg1d","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":595,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"f20742ee.3812c","type":"inject","z":"99e6906e.c69df","name":"spotify playlist","topic":"spotify:user:spotify:playlist:37i9dQZEVXbMDoHDwVN2tF","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":628,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"504c7c21.b86cf4","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_spotify","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":965,"y":424,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"2738bb6a.16f374","type":"inject","z":"99e6906e.c69df","name":"","topic":"Stage","payload":"insert_spotify_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":807,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"b5c02310.f38a2","type":"comment","z":"99e6906e.c69df","name":"Insert Spotify from My Sonos","info":"","x":725,"y":668,"wires":[]},{"id":"8c21e574.f570c8","type":"inject","z":"99e6906e.c69df","name":"","topic":"x (Deluxe","payload":"insert_spotify","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":705,"y":702,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"1453d437.efe7fc","type":"inject","z":"99e6906e.c69df","name":"","topic":"orita","payload":"insert_spotify","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":694,"y":735,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"4f019de6.e2d3b4","type":"comment","z":"99e6906e.c69df","name":"Get ...","info":"","x":957,"y":387,"wires":[]},{"id":"5db761e2.a40d","type":"comment","z":"99e6906e.c69df","name":"Flash / remove","info":"","x":1223,"y":950,"wires":[]},{"id":"4e16e080.e4083","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"test_connected","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1255,"y":62,"wires":[["9225381f.320718"]]},{"id":"a310c609.fd61e8","type":"debug","z":"99e6906e.c69df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":576,"y":308,"wires":[]},{"id":"ab7c66e.a0b8698","type":"polly","z":"55805384.a4695c","name":"","voice":"41","ssml":false,"dir":"/home/pi/Downloads","config":"dd1b16a.4333de8","x":250,"y":100,"wires":[["beb44562.7a5a38"],["4e844354.48cddc"]]},{"id":"642f75f0.db899c","type":"inject","z":"55805384.a4695c","name":"","topic":"","payload":"Close the door and do some more stuff","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["ab7c66e.a0b8698"]]},{"id":"beb44562.7a5a38","type":"debug","z":"55805384.a4695c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":413,"y":80,"wires":[]},{"id":"4e844354.48cddc","type":"debug","z":"55805384.a4695c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":413,"y":120,"wires":[]},{"id":"28bde812.1db948","type":"inject","z":"99e6906e.c69df","name":"","topic":"http://br-b5aktuell-live.cast.addradio.de/br/b5aktuell/live/mp3/128/stream.mp3","payload":"play_httpradio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":592,"wires":[["10dc8b09.602c85"]]},{"id":"4a8ce335.234b3c","type":"inject","z":"99e6906e.c69df","name":"","topic":"http://www.fritz.de/live.m3u","payload":"play_httpradio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":625,"wires":[["10dc8b09.602c85"]]},{"id":"63e06903.06d2d8","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":664,"y":1537,"wires":[]},{"id":"454d295e.ee6df8","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"8d44022c.adb65","name":"from Wohnzimmer means failure","x":350,"y":1596,"wires":[["63e06903.06d2d8"]]},{"id":"51ed34ef.2ee2ac","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_songinfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1596,"wires":[["454d295e.ee6df8"]]},{"id":"e57c7f7d.d2247","type":"comment","z":"9ea06256.355a2","name":"GET STATUS","info":"","x":75,"y":821,"wires":[],"icon":"node-red/alert.svg"},{"id":"3c35ce4f.fc5422","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":424,"y":1247,"wires":[["63e06903.06d2d8"]]},{"id":"14f90bc4.af3534","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"9037fbab.1d8408","name":"ip fritzbox","x":323,"y":1403,"wires":[["63e06903.06d2d8"]]},{"id":"1cea8f6a.b6c9f1","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"a1fa48a2.6e0c98","name":"play1","x":312,"y":1517,"wires":[["63e06903.06d2d8"]]},{"id":"eaab7f3b.eb8db","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":1020,"y":127,"wires":[[]]},{"id":"dd6943c6.e147","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":636,"wires":[]},{"id":"22888d78.e458b2","type":"sonos-manage-queue","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":480,"y":594,"wires":[["5fa4dbc.f66a224"]]},{"id":"c312e807.fb9ba8","type":"comment","z":"775d7a2a.44f234","name":"CONTROL PLAYER","info":"","x":95,"y":20,"wires":[],"icon":"node-red/alert.svg"},{"id":"bb0f52c0.7945a","type":"comment","z":"775d7a2a.44f234","name":"MANAGE QUEUE","info":"","x":95,"y":498,"wires":[],"icon":"node-red/alert.svg"},{"id":"80002b58.0f7ea8","type":"comment","z":"2e2bde07.2bda42","name":"insert_spotify_uri","info":"","x":120.0086669921875,"y":700.0017395019531,"wires":[]},{"id":"e89569de.cbbfd8","type":"inject","z":"2e2bde07.2bda42","name":"spotify wrong syntax","topic":"spotify:xxxxxx","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":129.0086669921875,"y":803.0017395019531,"wires":[["8b8526ef.f33738"]]},{"id":"173460da.e1173f","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":737,"wires":[["8b8526ef.f33738"]]},{"id":"64b60136.ca39c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxxxx","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":149.0086669921875,"y":770.0017395019531,"wires":[["8b8526ef.f33738"]]},{"id":"8b8526ef.f33738","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":420,"y":803,"wires":[["3a59ea53.672ba6"]]},{"id":"3a59ea53.672ba6","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":803,"wires":[]},{"id":"ff8b3c98.614d3","type":"comment","z":"2e2bde07.2bda42","name":"get spotify playlists from My Sonos","info":"","x":920,"y":722,"wires":[]},{"id":"9242dd3a.feec1","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_spotify","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":756,"wires":[["fcdbef22.27949"]]},{"id":"fcdbef22.27949","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":1070,"y":756,"wires":[[]]},{"id":"96e78445.4a2818","type":"comment","z":"2e2bde07.2bda42","name":"play song","info":"","x":100,"y":2122,"wires":[]},{"id":"ca1fa4f8.794848","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":2162,"wires":[["38b072c9.5847fe"]]},{"id":"38b072c9.5847fe","type":"change","z":"2e2bde07.2bda42","name":"play song - no topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":248,"y":2162,"wires":[["5ecc6d9e.af7504"]]},{"id":"aedcb4b9.375ae8","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":2197,"wires":[["2e75e771.045e48"]]},{"id":"2e75e771.045e48","type":"change","z":"2e2bde07.2bda42","name":"play song - -1","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":239,"y":2197,"wires":[["5ecc6d9e.af7504"]]},{"id":"227dfb46.8753a4","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":2232,"wires":[["e214e9dc.57d2d8"]]},{"id":"e214e9dc.57d2d8","type":"change","z":"2e2bde07.2bda42","name":"play song - xxxx","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":239,"y":2232,"wires":[["5ecc6d9e.af7504"]]},{"id":"395891f3.2a6e2e","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":2267,"wires":[["86ce36bb.7d7838"]]},{"id":"86ce36bb.7d7838","type":"change","z":"2e2bde07.2bda42","name":"play song - song 500","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"500","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":258,"y":2267,"wires":[["5ecc6d9e.af7504"]]},{"id":"dd9f96c4.353d28","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":440,"y":2419,"wires":[[]]},{"id":"36e9951f.1034ca","type":"debug","z":"775d7a2a.44f234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":160,"wires":[]},{"id":"59d5d6c2.7337a8","type":"inject","z":"775d7a2a.44f234","name":"insert_uri  album from ML","topic":"x-rincon-playlist:RINCON_000E58FE3AEA01400#A:ALBUM/Diamond%20Life","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":576,"wires":[["22888d78.e458b2"]]},{"id":"244ca07a.204bf","type":"inject","z":"775d7a2a.44f234","name":"insert_uri  song from Amazon Prime","topic":"x-sonosapi-hls-static:catalog%2ftracks%2fB07GDMFXGB%2f%3fplaylistAsin%3dB07W1Z3YMN%26playlistType%3dprimePlaylist?sid=201&flags=0&sn=14","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":620,"wires":[["22888d78.e458b2"]]},{"id":"e5c4eab4.b04df8","type":"comment","z":"4318847d.0693cc","name":"::: J ::: Group to players","info":"","x":105,"y":1196,"wires":[]},{"id":"74efaec6.7c31a","type":"sonos-get-status","z":"4318847d.0693cc","confignode":"32a98882.56e1c8","name":"Get Status Lead Player","x":579,"y":1270,"wires":[["8af22d58.53aff"]]},{"id":"62a1b89.7509d48","type":"change","z":"4318847d.0693cc","name":"play swr3 on leader","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_tunein","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"s24896","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":251,"y":1230,"wires":[["7df282b4.10f7ac"]]},{"id":"ad8671c9.08f85","type":"inject","z":"4318847d.0693cc","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1230,"wires":[["62a1b89.7509d48"]]},{"id":"7df282b4.10f7ac","type":"sonos-manage-radio","z":"4318847d.0693cc","confignode":"32a98882.56e1c8","name":"Manage Radio Lead Player","x":301,"y":1270,"wires":[["25dbf732.65c418"]]},{"id":"8af22d58.53aff","type":"change","z":"4318847d.0693cc","name":"join_group with new topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"join_group","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":817,"y":1230,"wires":[["bf85277a.dc7898"]]},{"id":"bf85277a.dc7898","type":"sonos-control-player","z":"4318847d.0693cc","confignode":"8d44022c.adb65","name":"Ctrl Player Following Player","x":872,"y":1270,"wires":[[]]},{"id":"25dbf732.65c418","type":"change","z":"4318847d.0693cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_name","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":526,"y":1230,"wires":[["74efaec6.7c31a"]]},{"id":"119077c5.4b6e88","type":"comment","z":"99e6906e.c69df","name":"Activate, play","info":"","x":685,"y":987,"wires":[]},{"id":"fdd63f73.7806d","type":"inject","z":"99e6906e.c69df","name":"insert_uri Music Library - song","topic":"x-file-cifs://nas2019/Multimedia/Music/MyMusic/Rihanna/Diamonds/Rihanna%20-%20Diamonds.mp3","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":450,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"16e343b8.cc984c","type":"inject","z":"775d7a2a.44f234","name":"activate TV","topic":"x-rincon-stream:RINCON_5CAAFD00223601400","payload":"activate_avtransport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":288,"wires":[["9974711e.7107e"]]},{"id":"9974711e.7107e","type":"sonos-control-player","z":"775d7a2a.44f234","confignode":"8d44022c.adb65","name":"Control Player - Beam","x":322,"y":288,"wires":[[]]},{"id":"fe2350f7.f7f82","type":"comment","z":"775d7a2a.44f234","name":"Others","info":"","x":109,"y":252,"wires":[]},{"id":"4abc338b.cb043c","type":"inject","z":"775d7a2a.44f234","name":"","topic":"x-rincon-cpcontainer:1006206ccatalog%2fplaylists%2fB07W1Z3YMN%2f%23prime_playlist?sid=201&flags=8300&sn=14","payload":"insertPrimePlaylistUri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":158,"y":661,"wires":[["22888d78.e458b2"]]},{"id":"5fa4dbc.f66a224","type":"debug","z":"775d7a2a.44f234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":669,"y":594,"wires":[]},{"id":"d1be1bbd.0a42f8","type":"inject","z":"775d7a2a.44f234","name":"activate tunein B5","topic":"x-sonosapi-stream:s24903?sid=254&flags=8224&sn=0","payload":"activate_avtransport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["b5752468.15d418"]]},{"id":"eda6b8af.911258","type":"inject","z":"775d7a2a.44f234","name":"activate Arabella direct","topic":"x-rincon-mp3radio://http://live.radioarabella.de/stream?ref=radioarabella.de","payload":"activate_avtransport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":375,"wires":[["b5752468.15d418"]]},{"id":"b5752468.15d418","type":"sonos-control-player","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":420,"y":340,"wires":[[]]},{"id":"970cc719.a6c258","type":"comment","z":"99e6906e.c69df","name":"Insert playlist from Music Library","info":"","x":743,"y":879,"wires":[]},{"id":"236df86c.d3de28","type":"comment","z":"99e6906e.c69df","name":"Insert playlist from Sonos Playlists","info":"","x":1117,"y":815,"wires":[]},{"id":"f96d89b0.a401e8","type":"comment","z":"2e2bde07.2bda42","name":"insert spotifiy playlists from My Sonos","info":"","x":170,"y":922,"wires":[]},{"id":"8fe669ac.891008","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"Main","payload":"insert_spotify_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":961,"wires":[["655b5cef.7bdee4"]]},{"id":"9dcda155.31f3a","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_spotify_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":999,"wires":[["7292e00.782ef2"]]},{"id":"655b5cef.7bdee4","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":408,"y":961,"wires":[[]]},{"id":"7292e00.782ef2","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":420,"y":1034,"wires":[[]]},{"id":"1e491ef9.587481","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxxx","payload":"insert_spotify_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1034,"wires":[["7292e00.782ef2"]]},{"id":"5d088289.7471ec","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"999","payload":"insert_spotify_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1070,"wires":[["7292e00.782ef2"]]},{"id":"bad732ab.b9295","type":"inject","z":"2e2bde07.2bda42","name":"spotify wrong syntax","topic":"spotify:album:1TSZ","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":836,"wires":[["8b8526ef.f33738"]]},{"id":"a1bc563b.563b38","type":"inject","z":"2e2bde07.2bda42","name":"spotify wrong syntax","topic":"spotify:user:spotify:playlist:","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":870,"wires":[["8b8526ef.f33738"]]},{"id":"cfe47c90.eddb1","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":464.009765625,"y":2902.00390625,"wires":[]},{"id":"7ca9f9d9.666e78","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_spotify","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":2614,"wires":[["d5d78733.a3b618"]]},{"id":"f7d0bc8c.07903","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_musiclibrary_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2720,"wires":[["d5d78733.a3b618"]]},{"id":"547b39a3.f30828","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_basics","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":1404,"wires":[["14f90bc4.af3534"]]},{"id":"9a7fcc84.cb323","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_songmedia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":1438,"wires":[["14f90bc4.af3534"]]},{"id":"2168f3df.b75abc","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_basics","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":1517,"wires":[["1cea8f6a.b6c9f1"]]},{"id":"af6db229.46343","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_songmedia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":1551,"wires":[["1cea8f6a.b6c9f1"]]},{"id":"f7c525b1.bb4868","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"test_connected","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":1371,"wires":[["14f90bc4.af3534"]]},{"id":"d019e4ea.bdd108","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"test_connected","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":1484,"wires":[["1cea8f6a.b6c9f1"]]},{"id":"e8890445.efc0d8","type":"inject","z":"9ea06256.355a2","name":"empty command","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":397,"wires":[["2e34f5b1.a5a72a"]]},{"id":"c20aba70.072a08","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91.01171875,"y":1248.00390625,"wires":[["3c35ce4f.fc5422"]]},{"id":"daa30934.76a648","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91.01171875,"y":1282.00390625,"wires":[["4d64eeac.4d3e3"]]},{"id":"4d64eeac.4d3e3","type":"function","z":"9ea06256.355a2","name":"NaN","func":"msg.payload = NaN;\nreturn msg;","outputs":1,"noerr":0,"x":213.01171875,"y":1282.00390625,"wires":[["3c35ce4f.fc5422"]]},{"id":"3c19df58.80cc9","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.01171875,"y":1318.00390625,"wires":[["c300c365.38939"]]},{"id":"c300c365.38939","type":"function","z":"9ea06256.355a2","name":"null","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":212.01171875,"y":1318.00390625,"wires":[["3c35ce4f.fc5422"]]},{"id":"60cea140.4eb6c","type":"inject","z":"9ea06256.355a2","name":"empty command","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121.01171875,"y":1213.00390625,"wires":[["3c35ce4f.fc5422"]]},{"id":"2bfe6145.ba364e","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91.01171875,"y":2267.00390625,"wires":[["2f900d43.a3c562"]]},{"id":"47a2fc8a.a0a874","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91.01171875,"y":2301.00390625,"wires":[["fb61772e.805838"]]},{"id":"fb61772e.805838","type":"function","z":"9ea06256.355a2","name":"NaN","func":"msg.payload = NaN;\nreturn msg;","outputs":1,"noerr":0,"x":213.01171875,"y":2301.00390625,"wires":[["2f900d43.a3c562"]]},{"id":"9737bc58.519b9","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.01171875,"y":2337.00390625,"wires":[["4f7f2247.043f3c"]]},{"id":"4f7f2247.043f3c","type":"function","z":"9ea06256.355a2","name":"null","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":212.01171875,"y":2337.00390625,"wires":[["2f900d43.a3c562"]]},{"id":"6388e978.1cadb8","type":"inject","z":"9ea06256.355a2","name":"empty command","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121.01171875,"y":2232.00390625,"wires":[["2f900d43.a3c562"]]},{"id":"62c1a5af.94800c","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_basics","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":102,"y":1068.00390625,"wires":[["ff182013.33f7c"]]},{"id":"c1b53f9f.0fdac","type":"comment","z":"9ea06256.355a2","name":"No Ip && invalid serial","info":"","x":142,"y":1034.00390625,"wires":[]},{"id":"f80fe12f.6276c","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_basics","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":895.00390625,"wires":[["904fe009.2ebb"]]},{"id":"ca753f39.10493","type":"comment","z":"9ea06256.355a2","name":"Invalid ip: from fritzbox","info":"","x":143,"y":861.00390625,"wires":[]},{"id":"64a41fb7.fb67","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_basics","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":978.00390625,"wires":[["980baa4a.3e8988"]]},{"id":"528d6687.3d8918","type":"comment","z":"9ea06256.355a2","name":"Invalid ip address - wrong syntax","info":"","x":172,"y":943.00390625,"wires":[]},{"id":"601f6242.f1b0bc","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_basics","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104,"y":1166.00390625,"wires":[["b802cbbe.6ae1d8"]]},{"id":"f40f4d0f.61a64","type":"comment","z":"9ea06256.355a2","name":"No ip && valid serial - WILL WORK!","info":"","x":184,"y":1131.00390625,"wires":[]},{"id":"904fe009.2ebb","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"9037fbab.1d8408","name":"","x":274,"y":895,"wires":[["3ff27aa9.44cc56"]]},{"id":"980baa4a.3e8988","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"64704482.34d37c","name":"","x":274,"y":978,"wires":[["3ff27aa9.44cc56"]]},{"id":"ff182013.33f7c","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"ff297616.de3c88","name":"","x":273.01171875,"y":1068.00390625,"wires":[["3ff27aa9.44cc56"]]},{"id":"b802cbbe.6ae1d8","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"c747354a.95e5e8","name":"","x":278,"y":1166,"wires":[["3ff27aa9.44cc56"]]},{"id":"3ff27aa9.44cc56","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1020,"wires":[]},{"id":"db0abaa3.b1af28","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":240,"wires":[]},{"id":"9328b6f0.0ce098","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":519,"wires":[]},{"id":"e0ca2d40.4a3d5","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_songmedia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1640,"wires":[["454d295e.ee6df8"]]},{"id":"c22c8e1b.cb719","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2064,"wires":[["c96a5709.436118"]]},{"id":"b3cb5da6.aee8f","type":"comment","z":"9ea06256.355a2","name":"No Ip && invalid serial","info":"","x":140,"y":2030,"wires":[]},{"id":"dbe4cd54.2a679","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":1891,"wires":[["30445e3b.fb4b02"]]},{"id":"b36035b6.ebc288","type":"comment","z":"9ea06256.355a2","name":"Invalid ip: from fritzbox","info":"","x":141,"y":1857,"wires":[]},{"id":"58855e60.aaa07","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":1974,"wires":[["88d06aad.24d9b8"]]},{"id":"964f7afb.be7a18","type":"comment","z":"9ea06256.355a2","name":"Invalid ip address - wrong syntax","info":"","x":170,"y":1939,"wires":[]},{"id":"42b867cc.3f2e68","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":2162,"wires":[["9c8175ba.da5068"]]},{"id":"34d03646.acd04a","type":"comment","z":"9ea06256.355a2","name":"No ip && valid serial - WILL WORK!","info":"","x":182,"y":2127,"wires":[]},{"id":"605ba607.f9ae78","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":508,"y":2015.99609375,"wires":[]},{"id":"30445e3b.fb4b02","type":"sonos-manage-radio","z":"9ea06256.355a2","confignode":"9037fbab.1d8408","name":"","x":280,"y":1892,"wires":[["605ba607.f9ae78"]]},{"id":"88d06aad.24d9b8","type":"sonos-manage-radio","z":"9ea06256.355a2","confignode":"64704482.34d37c","name":"","x":280,"y":1974,"wires":[["605ba607.f9ae78"]]},{"id":"c96a5709.436118","type":"sonos-manage-radio","z":"9ea06256.355a2","confignode":"ff297616.de3c88","name":"","x":282,"y":2064,"wires":[["605ba607.f9ae78"]]},{"id":"9c8175ba.da5068","type":"sonos-manage-radio","z":"9ea06256.355a2","confignode":"c747354a.95e5e8","name":"","x":281,"y":2162,"wires":[["605ba607.f9ae78"]]},{"id":"6b5fc3f1.98809c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":93,"y":378,"wires":[["6875cc2b.767cf4"]]},{"id":"52f2f6ec.d13d68","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":102,"y":215,"wires":[["8536a29e.1b70c"]]},{"id":"b6d65d64.5c187","type":"comment","z":"2e2bde07.2bda42","name":"No Ip && invalid serial","info":"","x":142,"y":181,"wires":[]},{"id":"7ce664e0.aa786c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":54,"wires":[["7ee80fc8.c45a6"]]},{"id":"108935ad.88bbda","type":"comment","z":"2e2bde07.2bda42","name":"Invalid ip: from fritzbox","info":"","x":143,"y":20,"wires":[]},{"id":"34a73f71.9b97b","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":134,"wires":[["c42c98c6.6619c8"]]},{"id":"7e798fad.b2f4f","type":"comment","z":"2e2bde07.2bda42","name":"Invalid ip address - wrong syntax","info":"","x":172,"y":99,"wires":[]},{"id":"d61d6eec.2c8f3","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104,"y":297,"wires":[["a84543d3.166d"]]},{"id":"fc9d77e9.cf56c8","type":"comment","z":"2e2bde07.2bda42","name":"No ip && valid serial - WILL WORK!","info":"","x":184,"y":262,"wires":[]},{"id":"e30904a.5307cf8","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":93,"y":412,"wires":[["3a869791.1b8c28"]]},{"id":"3a869791.1b8c28","type":"function","z":"2e2bde07.2bda42","name":"NaN","func":"msg.payload = NaN;\nreturn msg;","outputs":1,"noerr":0,"x":215,"y":412,"wires":[["6875cc2b.767cf4"]]},{"id":"b3ed390f.025bc8","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":448,"wires":[["147da13b.1818cf"]]},{"id":"147da13b.1818cf","type":"function","z":"2e2bde07.2bda42","name":"null","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":214,"y":448,"wires":[["6875cc2b.767cf4"]]},{"id":"ab3d2e19.b08e9","type":"inject","z":"2e2bde07.2bda42","name":"empty command","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":123,"y":343,"wires":[["6875cc2b.767cf4"]]},{"id":"5e89b1c4.34392","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":533,"y":198,"wires":[]},{"id":"c4405264.252e9","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":400,"wires":[]},{"id":"7ee80fc8.c45a6","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"","x":282,"y":54,"wires":[["5e89b1c4.34392"]]},{"id":"c42c98c6.6619c8","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"64704482.34d37c","name":"","x":282,"y":134,"wires":[["5e89b1c4.34392"]]},{"id":"8536a29e.1b70c","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"ff297616.de3c88","name":"","x":281,"y":215,"wires":[["5e89b1c4.34392"]]},{"id":"a84543d3.166d","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"c747354a.95e5e8","name":"","x":281,"y":296,"wires":[["5e89b1c4.34392"]]},{"id":"6875cc2b.767cf4","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":400,"y":400,"wires":[["c4405264.252e9"]]},{"id":"35be5578.80893a","type":"comment","z":"4318847d.0693cc","name":"::: H ::: Set a morning station but dont play right now","info":"","x":195,"y":917,"wires":[]},{"id":"d82ccb20.029108","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1072,"y":1116,"wires":[["a113a1ca.0a6d9"]]},{"id":"a113a1ca.0a6d9","type":"change","z":"99e6906e.c69df","name":"remove several songs","rules":[{"t":"set","p":"payload","pt":"msg","to":"remove_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"numberOfSongs","pt":"msg","to":"1000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1247,"y":1116,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"6c2d7412.15877c","type":"comment","z":"2e2bde07.2bda42","name":"remove several songs","info":"","x":760,"y":2340,"wires":[]},{"id":"146ba1ed.ab89ee","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":1240,"y":2440,"wires":[[]]},{"id":"d00535fd.77d288","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":2380,"wires":[["9952b49d.b6b988"]]},{"id":"9952b49d.b6b988","type":"change","z":"2e2bde07.2bda42","name":"remove song","rules":[{"t":"set","p":"payload","pt":"msg","to":"remove_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"numberOfSongs","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":873,"y":2380,"wires":[["146ba1ed.ab89ee"]]},{"id":"88ec65b1.bd2408","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":2414,"wires":[["58d222b9.d3a34c"]]},{"id":"58d222b9.d3a34c","type":"change","z":"2e2bde07.2bda42","name":"remove song","rules":[{"t":"set","p":"payload","pt":"msg","to":"remove_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"numberOfSongs","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":873,"y":2414,"wires":[["146ba1ed.ab89ee"]]},{"id":"dae83ff6.cae8c","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":2449,"wires":[["699b9734.68e728"]]},{"id":"699b9734.68e728","type":"change","z":"2e2bde07.2bda42","name":"remove song","rules":[{"t":"set","p":"payload","pt":"msg","to":"remove_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"numberOfSongs","pt":"msg","to":".,c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":873,"y":2449,"wires":[["146ba1ed.ab89ee"]]},{"id":"d6fe73ee.3d189","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":2483,"wires":[["68e8f70a.65cba8"]]},{"id":"68e8f70a.65cba8","type":"change","z":"2e2bde07.2bda42","name":"remove song","rules":[{"t":"set","p":"payload","pt":"msg","to":"remove_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"numberOfSongs","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":873,"y":2483,"wires":[["146ba1ed.ab89ee"]]},{"id":"910c362e.284198","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":2516,"wires":[["7ca0f1ee.56563"]]},{"id":"7ca0f1ee.56563","type":"change","z":"2e2bde07.2bda42","name":"remove song - will work ","rules":[{"t":"set","p":"payload","pt":"msg","to":"remove_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"},{"t":"set","p":"numberOfSongs","pt":"msg","to":"10.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":913,"y":2516,"wires":[["146ba1ed.ab89ee"]]},{"id":"63014668.6013d8","type":"comment","z":"4318847d.0693cc","name":"::: K ::: Serving a local file - for instance to use it as notification","info":"","x":225,"y":1346,"wires":[]},{"id":"b7ea0159.a12ab","type":"http in","z":"4318847d.0693cc","name":"","url":"/bell1.mp3","method":"get","upload":false,"swaggerDoc":"","x":121,"y":1381,"wires":[["30837e5a.5ad7d2"]]},{"id":"30837e5a.5ad7d2","type":"file in","z":"4318847d.0693cc","name":"","filename":"/home/pi/Downloads/bell1.mp3","format":"","x":349,"y":1381,"wires":[["c8e65a9f.55e5e8"]]},{"id":"c8e65a9f.55e5e8","type":"http response","z":"4318847d.0693cc","name":"","statusCode":"","headers":{"content-type":"audio/mpeg"},"x":552,"y":1381,"wires":[]},{"id":"e522ea8c.be8558","type":"http in","z":"4318847d.0693cc","name":"","url":"/bell2.wav","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1416,"wires":[["f499fea6.09005"]]},{"id":"f499fea6.09005","type":"file in","z":"4318847d.0693cc","name":"","filename":"/home/pi/Downloads/bell2.wav","format":"","x":349,"y":1416,"wires":[["27c6886d.d362b8"]]},{"id":"27c6886d.d362b8","type":"http response","z":"4318847d.0693cc","name":"","statusCode":"","headers":{"content-type":"audio/mpeg"},"x":552,"y":1416,"wires":[]},{"id":"caa64c34.28006","type":"http in","z":"4318847d.0693cc","name":"","url":"/help.html","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1451,"wires":[["34ecbdd.59a3342"]]},{"id":"34ecbdd.59a3342","type":"file in","z":"4318847d.0693cc","name":"","filename":"/home/pi/Downloads/help.html","format":"utf8","x":349,"y":1451,"wires":[["b6b196fe.fc3a28"]]},{"id":"b6b196fe.fc3a28","type":"http response","z":"4318847d.0693cc","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":552,"y":1451,"wires":[]},{"id":"876e6bef.2b8ca8","type":"comment","z":"4318847d.0693cc","name":"http://192.168.178.55:1880/bell1.mp3","info":"play tts notification","x":785,"y":1382,"wires":[]},{"id":"69625b1d.a0a244","type":"comment","z":"4318847d.0693cc","name":"http://192.168.178.55:1880/bell2.wav","info":"play tts notification","x":776,"y":1418,"wires":[]},{"id":"47e1d7a6.6a0658","type":"comment","z":"4318847d.0693cc","name":"http://192.168.178.55:1880/help.html","info":"play tts notification","x":776,"y":1453,"wires":[]},{"id":"2f1ad2af.0dab7e","type":"inject","z":"4318847d.0693cc","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1505,"wires":[["a240b2c5.25633"]]},{"id":"a240b2c5.25633","type":"change","z":"4318847d.0693cc","name":"play_notification - local file -  with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://192.168.178.55:1880/bell1.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"70","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":321,"y":1505,"wires":[["71e7d30e.00d74c"]]},{"id":"573c39b5.750278","type":"change","z":"4318847d.0693cc","name":"play_notification - local file - with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://192.168.178.55:1880/bell2.wav","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"70","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":321,"y":1540,"wires":[["71e7d30e.00d74c"]]},{"id":"a062ceaa.9c1c1","type":"inject","z":"4318847d.0693cc","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1540,"wires":[["573c39b5.750278"]]},{"id":"71e7d30e.00d74c","type":"sonos-control-player","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":602,"y":1523,"wires":[["1e8bb19e.fefe0e"]]},{"id":"1e8bb19e.fefe0e","type":"debug","z":"4318847d.0693cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":757,"y":1523,"wires":[]},{"id":"7a078d58.bed044","type":"http in","z":"55805384.a4695c","name":"","url":"/test.mp3","method":"get","upload":false,"swaggerDoc":"","x":90,"y":260,"wires":[["8644e66.0ce5b18"]]},{"id":"8644e66.0ce5b18","type":"file in","z":"55805384.a4695c","name":"","filename":"/home/pi/Downloads/test.mp3","format":"","x":329,"y":260,"wires":[["3fe0be9b.c6a862"]]},{"id":"3fe0be9b.c6a862","type":"http response","z":"55805384.a4695c","name":"","statusCode":"","headers":{"content-type":"audio/mpeg"},"x":532,"y":260,"wires":[]},{"id":"ff8f1190.18663","type":"comment","z":"55805384.a4695c","name":"http://192.168.178.55:1880/test.mp3","info":"play tts notification","x":756,"y":262,"wires":[]},{"id":"d62f87f3.8f0a88","type":"inject","z":"55805384.a4695c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["44b5336.4b213cc"]]},{"id":"44b5336.4b213cc","type":"change","z":"55805384.a4695c","name":"play_notification - local file -  with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://192.168.178.55:1880/test.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"70","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":321,"y":300,"wires":[["1783418c.b875ae"]]},{"id":"1783418c.b875ae","type":"sonos-control-player","z":"55805384.a4695c","confignode":"88e9fa70.4a53e8","name":"","x":602,"y":300,"wires":[["52aa6e83.72414"]]},{"id":"52aa6e83.72414","type":"debug","z":"55805384.a4695c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":757,"y":300,"wires":[]}]