flow.json
[{"id":"55805384.a4695c","type":"tab","label":"Sandbox","disabled":false,"info":""},{"id":"9ea06256.355a2","type":"tab","label":"Failure","disabled":false,"info":""},{"id":"2e2bde07.2bda42","type":"tab","label":"Failure Queue","disabled":false,"info":""},{"id":"775d7a2a.44f234","type":"tab","label":"Tests working","disabled":false,"info":""},{"id":"99e6906e.c69df","type":"tab","label":"Nodes and Commands","disabled":false,"info":""},{"id":"4318847d.0693cc","type":"tab","label":"Examples-Complex","disabled":false,"info":""},{"id":"a0a649cc.ca04e8","type":"tab","label":"Validate messages","disabled":false,"info":""},{"id":"7a420a49.166a74","type":"tab","label":"Pi Dashboard","disabled":false,"info":""},{"id":"d65eded3.250b9","type":"subflow","name":"HandleErrors","info":"","category":"","in":[{"x":61,"y":79,"wires":[{"id":"6b0e515b.e62cd"}]}],"out":[],"env":[{"name":"Tabname","type":"str","value":"unknown","ui":{"type":"input","opts":{"types":["str"]},"label":{}}},{"name":"DebugToMobile","type":"bool","value":"false","ui":{"type":"input","opts":{"types":["bool"]},"label":{}}},{"name":"KeyVariable","type":"str","value":"system_keyTasker","ui":{"type":"input","opts":{"types":["str"]},"label":{}}}],"color":"#E9967A","icon":"node-red/alert.svg"},{"id":"88e9fa70.4a53e8","type":"sonos-config","z":"","name":"sonos","serialnum":"5C-AA-FD-00-22-36:1","ipaddress":"192.168.178.37"},{"id":"c747354a.95e5e8","type":"sonos-config","z":"","name":"no ip but correct serial number","serialnum":"5C-AA-FD-00-22-36:1","ipaddress":""},{"id":"2d07f6c6.25340a","type":"ui_group","z":"","name":"Col1","tab":"f1ea0b83.f9af38","order":2,"disp":false,"width":"6"},{"id":"1d1829ef.942666","type":"ui_group","z":"","name":"Col2","tab":"f1ea0b83.f9af38","order":1,"disp":false,"width":"6"},{"id":"f1ea0b83.f9af38","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b48b0cb1.3e262","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY-MM-DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9037fbab.1d8408","type":"sonos-config","z":"","name":"ip address from fritbox","serialnum":"","ipaddress":"192.168.178.1"},{"id":"64704482.34d37c","type":"sonos-config","z":"","name":"ip address with wrong syntax","serialnum":"","ipaddress":"191168.178.41"},{"id":"ff297616.de3c88","type":"sonos-config","z":"","name":"No IP && invalid serial","serialnum":"5C-AA-FD22-36:1","ipaddress":""},{"id":"8d44022c.adb65","type":"sonos-config","z":"","name":"wz","serialnum":"94-9F-3E-C1-3B-99:8","ipaddress":"192.168.178.44"},{"id":"32a98882.56e1c8","type":"sonos-config","z":"","name":"bad","serialnum":"00-0E-58-FE-3A-EA:5","ipaddress":"192.168.178.35"},{"id":"a1fa48a2.6e0c98","type":"sonos-config","z":"","name":"play1","serialnum":"B8-E9-37-58-31-C0:A","ipaddress":"192.168.178.38"},{"id":"dd1b16a.4333de8","type":"polly-config","z":"","name":"new"},{"id":"e4c73d3.eac99c","type":"comment","z":"9ea06256.355a2","name":"MANAGE RADIO","info":"","x":85,"y":1268,"wires":[]},{"id":"647651d0.ec7cf","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":1391,"wires":[]},{"id":"7730ee3a.9ec18","type":"inject","z":"9ea06256.355a2","name":"no payload","topic":"Arabella","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":1348,"wires":[["2f900d43.a3c562"]]},{"id":"f8cfe3a.8503d2","type":"inject","z":"9ea06256.355a2","name":"notopic","topic":"","payload":"play_radio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":1388,"wires":[["2f900d43.a3c562"]]},{"id":"d2675555.e48ab8","type":"inject","z":"9ea06256.355a2","name":"TuneIn wrong syntax","topic":"x1324","payload":"play_TuneIn","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1428,"wires":[["2f900d43.a3c562"]]},{"id":"1fe4ad1e.2476b3","type":"inject","z":"9ea06256.355a2","name":"TuneIn wrong syntax","topic":"1234","payload":"play_TuneIn","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1468,"wires":[["2f900d43.a3c562"]]},{"id":"a5bcaa81.9df868","type":"inject","z":"9ea06256.355a2","name":"TuneIn wrong syntax","topic":"s234b","payload":"play_TuneIn","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1508,"wires":[["2f900d43.a3c562"]]},{"id":"e8425ea4.4bc61","type":"inject","z":"9ea06256.355a2","name":"wrong payload command","topic":"Arabella","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1308,"wires":[["2f900d43.a3c562"]]},{"id":"8ea27f87.2ab84","type":"ui_gauge","z":"7a420a49.166a74","name":"","group":"2d07f6c6.25340a","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ffff91","#ff8000"],"seg1":"","seg2":"","x":770,"y":80,"wires":[]},{"id":"2e602891.d21598","type":"exec","z":"7a420a49.166a74","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":371,"y":80,"wires":[["3e8307c2.3e9298"],[],[]]},{"id":"f05dcaa1.4f3de8","type":"inject","z":"7a420a49.166a74","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"","x":131,"y":80,"wires":[["cc842957.f71a38","d200fcc2.b8d8a","2e602891.d21598"]]},{"id":"3e8307c2.3e9298","type":"function","z":"7a420a49.166a74","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":80,"wires":[["8ea27f87.2ab84","7fc1e0d3.75861"]]},{"id":"23bc0ddb.a193a2","type":"ui_button","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":5,"width":"3","height":"1","passthru":false,"label":"PI reboot","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":141,"y":440,"wires":[["98aa8b0b.927478"]]},{"id":"98aa8b0b.927478","type":"exec","z":"7a420a49.166a74","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":381,"y":440,"wires":[[],[],[]]},{"id":"e1f7d6b.052ca28","type":"ui_button","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":4,"width":"3","height":"1","passthru":false,"label":"PI shutdown","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":151,"y":502,"wires":[["18a4351d.0a6c0b"]]},{"id":"18a4351d.0a6c0b","type":"exec","z":"7a420a49.166a74","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Shutdown","x":381,"y":503,"wires":[[],[],[]]},{"id":"7fc1e0d3.75861","type":"ui_chart","z":"7a420a49.166a74","name":"","group":"2d07f6c6.25340a","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"outputs":2,"x":731,"y":120,"wires":[[],[]]},{"id":"cc842957.f71a38","type":"exec","z":"7a420a49.166a74","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":371,"y":160,"wires":[["26de9e71.8daa82"],[],[]]},{"id":"d200fcc2.b8d8a","type":"exec","z":"7a420a49.166a74","command":"free | grep Mem | awk '{print 100*($3+$5+$6)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Free Memory","x":371,"y":240,"wires":[["9012ec0e.243e9"],[],[]]},{"id":"26de9e71.8daa82","type":"ui_gauge","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ffff88","#ff8000"],"seg1":"50","seg2":"70","x":739,"y":160,"wires":[]},{"id":"cb86d67e.e61678","type":"exec","z":"7a420a49.166a74","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":371,"y":320,"wires":[["c1218a59.324808"],[],[]]},{"id":"c1218a59.324808","type":"function","z":"7a420a49.166a74","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":307,"wires":[["1eeb0cb0.b35793"]]},{"id":"88238305.8191","type":"inject","z":"7a420a49.166a74","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"","x":131,"y":320,"wires":[["cb86d67e.e61678"]]},{"id":"1eeb0cb0.b35793","type":"ui_chart","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":3,"width":"6","height":"2","label":"Disk Usage [64 GB]","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":771,"y":307,"wires":[[]]},{"id":"9012ec0e.243e9","type":"ui_chart","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":2,"width":"6","height":"2","label":"Memory Usage [2 GB]","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":781,"y":227,"wires":[[]]},{"id":"2f900d43.a3c562","type":"sonos-manage-radio","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":382,"y":1392,"wires":[["647651d0.ec7cf"]]},{"id":"aca39c26.95a1a","type":"inject","z":"99e6906e.c69df","name":"","topic":"s24896","payload":"play_tunein","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":694,"wires":[["10dc8b09.602c85"]]},{"id":"edb29edd.14e97","type":"comment","z":"99e6906e.c69df","name":"MANAGE RADIO","info":"","x":85,"y":515,"wires":[]},{"id":"cb524f14.bb886","type":"inject","z":"99e6906e.c69df","name":"get_mysonos // only stations","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":813,"wires":[["10dc8b09.602c85"]]},{"id":"5fb60af3.4ddae4","type":"inject","z":"99e6906e.c69df","name":"","topic":"NDR","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":554,"wires":[["10dc8b09.602c85"]]},{"id":"10dc8b09.602c85","type":"sonos-manage-radio","z":"99e6906e.c69df","confignode":"88e9fa70.4a53e8","name":"","x":390,"y":621,"wires":[["d4342936.e8eac8"]]},{"id":"d4342936.e8eac8","type":"debug","z":"99e6906e.c69df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":392,"y":677,"wires":[]},{"id":"72cee728.e0ea78","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["f2979581.a19d08"]]},{"id":"c6791a45.0bb278","type":"comment","z":"99e6906e.c69df","name":"CONTROL PLAYER","info":"","x":95,"y":20,"wires":[]},{"id":"f4248c81.32327","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"+5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":190,"wires":[["f2979581.a19d08"]]},{"id":"f2979581.a19d08","type":"sonos-control-player","z":"99e6906e.c69df","confignode":"88e9fa70.4a53e8","name":"","x":541,"y":248,"wires":[["a310c609.fd61e8"]]},{"id":"a7596942.c49048","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":159,"wires":[["f2979581.a19d08"]]},{"id":"cb3c0416.980978","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":124,"wires":[["f2979581.a19d08"]]},{"id":"2cf59.d462b0a72","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"mute","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":58,"wires":[["f2979581.a19d08"]]},{"id":"6bd8d342.61224c","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"unmute","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":91,"wires":[["f2979581.a19d08"]]},{"id":"ddb5876d.01a778","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_basics","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":842,"y":61,"wires":[["9225381f.320718"]]},{"id":"40f2e7ed.fede98","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_state","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":94,"wires":[["9225381f.320718"]]},{"id":"9225381f.320718","type":"sonos-get-status","z":"99e6906e.c69df","confignode":"88e9fa70.4a53e8","name":"","x":1236,"y":136,"wires":[["eef64078.54f74"]]},{"id":"eef64078.54f74","type":"debug","z":"99e6906e.c69df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":194,"wires":[]},{"id":"860023f6.20cb6","type":"comment","z":"99e6906e.c69df","name":"GET STATUS","info":"","x":818,"y":20,"wires":[]},{"id":"d739357f.c78c18","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_songmedia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1057,"y":209,"wires":[["9225381f.320718"]]},{"id":"cea9d73f.532858","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"activate_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":665,"y":636,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"81d87131.0f66a","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"flush_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1220,"y":561,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"efdd332a.0b675","type":"inject","z":"99e6906e.c69df","name":"","topic":"2","payload":"play_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":656,"y":596,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"1eff2c9b.4bc873","type":"inject","z":"99e6906e.c69df","name":"","topic":"https://archive.org/download/testmp3testfile/mpthreetest.mp3","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":645,"y":556,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"c00d8a62.9fccf8","type":"comment","z":"99e6906e.c69df","name":"MANAGE QUEUE","info":"","x":653,"y":516,"wires":[]},{"id":"c02b5a3d.f2fbb8","type":"sonos-manage-queue","z":"99e6906e.c69df","confignode":"88e9fa70.4a53e8","name":"","x":1280,"y":880,"wires":[["69a99ad3.b4ebb4"]]},{"id":"69a99ad3.b4ebb4","type":"debug","z":"99e6906e.c69df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":946,"wires":[]},{"id":"3e74f330.ae593c","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_sonos_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":973,"y":628,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"8f176bf.4f77c98","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":942,"y":562,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"218e05d2.48724a","type":"sonos-control-player","z":"99e6906e.c69df","confignode":"32a98882.56e1c8","name":"Control Player bad","x":322,"y":419,"wires":[["a310c609.fd61e8"]]},{"id":"8ab0eed6.5e689","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"leave_group","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":405,"wires":[["218e05d2.48724a"]]},{"id":"42de01d4.7ea0d","type":"inject","z":"99e6906e.c69df","name":"","topic":"sonos","payload":"join_group","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":439,"wires":[["218e05d2.48724a"]]},{"id":"ab8eb0c8.14e91","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"toggleplayback","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":93,"wires":[["f2979581.a19d08"]]},{"id":"b834b2a3.10b9b","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"-5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":301,"y":157,"wires":[["f2979581.a19d08"]]},{"id":"5bb03490.b8cdcc","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"pause","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":126,"wires":[["f2979581.a19d08"]]},{"id":"89e380d5.450ae","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"next_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":192,"wires":[["f2979581.a19d08"]]},{"id":"8b6b76b2.e5ec78","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"previous_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":225,"wires":[["f2979581.a19d08"]]},{"id":"8da0051e.c44428","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"Manage Queue sonos","x":361,"y":386,"wires":[[]]},{"id":"8df79316.ebd06","type":"comment","z":"4318847d.0693cc","name":"C. Activate SONOS queue","info":"","x":130,"y":342,"wires":[]},{"id":"d3c4b5a7.528288","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"flush_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":522,"wires":[["b42fb10f.ed5db"]]},{"id":"6280f87a.0562c8","type":"change","z":"4318847d.0693cc","name":"get sonos playlists","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":356,"y":524,"wires":[["a13967f6.62ada8"]]},{"id":"38b84114.bff09e","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":808,"y":566,"wires":[["bdacd3ce.91154"]]},{"id":"a13967f6.62ada8","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":366,"y":564,"wires":[["bc96e24a.7279a"]]},{"id":"bc96e24a.7279a","type":"switch","z":"4318847d.0693cc","name":"","property":"available_playlists","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":552,"y":564,"wires":[["e61d7df7.7fcfe"]]},{"id":"e61d7df7.7fcfe","type":"change","z":"4318847d.0693cc","name":"insert first playlist in queue","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[0].uri","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"insert_uri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":754,"y":523,"wires":[["38b84114.bff09e"]]},{"id":"bdacd3ce.91154","type":"change","z":"4318847d.0693cc","name":"activate queue","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":526,"wires":[["8e53bdac.3629"]]},{"id":"8e53bdac.3629","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1040,"y":566,"wires":[["744d729c.ee78dc"]]},{"id":"b42fb10f.ed5db","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":136,"y":562,"wires":[["6280f87a.0562c8"]]},{"id":"744d729c.ee78dc","type":"debug","z":"4318847d.0693cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1213,"y":566,"wires":[]},{"id":"8dd4792.76eb088","type":"comment","z":"4318847d.0693cc","name":"D. Replace SONOS queue","info":"","x":130,"y":478,"wires":[]},{"id":"c112b57b.4469b8","type":"comment","z":"9ea06256.355a2","name":"CONTROL PLAYER","info":"","x":95,"y":20,"wires":[]},{"id":"374fd5fd.c937aa","type":"inject","z":"9ea06256.355a2","name":"test invalid command","topic":"","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":59,"wires":[["2e34f5b1.a5a72a"]]},{"id":"2e34f5b1.a5a72a","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":500,"y":120,"wires":[[]]},{"id":"37c2fd6c.7c0e22","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"ff297616.de3c88","name":"","x":282,"y":433,"wires":[[]]},{"id":"7f22d5ca.20658c","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":433,"wires":[["37c2fd6c.7c0e22"]]},{"id":"9c8349a9.2a0778","type":"comment","z":"9ea06256.355a2","name":"Expected Results","info":"should be warning - no ip address","x":475,"y":433,"wires":[]},{"id":"c8e5e056.bf35a","type":"comment","z":"9ea06256.355a2","name":"No Ip && invalid serial","info":"","x":139,"y":399,"wires":[]},{"id":"1ac6489e.26d077","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"9037fbab.1d8408","name":"","x":281,"y":260,"wires":[[]]},{"id":"779df94c.04d328","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":260,"wires":[["1ac6489e.26d077"]]},{"id":"730c123d.3c1e9c","type":"comment","z":"9ea06256.355a2","name":"Expected Results","info":"should be warning - no ip address and also info that did not found","x":474,"y":260,"wires":[]},{"id":"2c99ce50.e3b512","type":"comment","z":"9ea06256.355a2","name":"Invalid ip: from fritzbox","info":"","x":140,"y":226,"wires":[]},{"id":"d49dd316.3ba3a","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"64704482.34d37c","name":"","x":281,"y":343,"wires":[[]]},{"id":"b754c09e.e9ef1","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":343,"wires":[["d49dd316.3ba3a"]]},{"id":"de18eb7b.c57988","type":"comment","z":"9ea06256.355a2","name":"Expected Results","info":"should be warning - no ip address and also info that did not found","x":474,"y":343,"wires":[]},{"id":"9f29b7ed.2c2778","type":"comment","z":"9ea06256.355a2","name":"Invalid ip address - wrong syntax","info":"","x":169,"y":308,"wires":[]},{"id":"f96fa170.c44b1","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"c747354a.95e5e8","name":"","x":284,"y":531,"wires":[[]]},{"id":"765ac420.c3687c","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":531,"wires":[["f96fa170.c44b1"]]},{"id":"2a50b34b.a0d27c","type":"comment","z":"9ea06256.355a2","name":"Expected Results","info":"should be warning - no ip address and also info that did not found","x":477,"y":531,"wires":[]},{"id":"6d6b6663.551298","type":"comment","z":"9ea06256.355a2","name":"No ip && valid serial","info":"","x":131,"y":496,"wires":[]},{"id":"db0c711b.2b452","type":"sonos-manage-radio","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":423,"y":100,"wires":[["e4646c63.7ee1f"]]},{"id":"e2d2580b.4557e8","type":"inject","z":"4318847d.0693cc","name":"","topic":"Arabella","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":72,"wires":[["db0c711b.2b452"]]},{"id":"5d8ef2c9.43ff1c","type":"change","z":"4318847d.0693cc","name":"get_songmedia","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_songmedia","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":765,"y":100,"wires":[["6ae1cc83.6144b4"]]},{"id":"6bbf67aa.5b6638","type":"debug","z":"4318847d.0693cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1111,"y":100,"wires":[]},{"id":"faf9af99.954a4","type":"inject","z":"4318847d.0693cc","name":"","topic":"Best Of Love","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":163,"y":127,"wires":[["db0c711b.2b452"]]},{"id":"6ae1cc83.6144b4","type":"sonos-get-status","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":969,"y":100,"wires":[["6bbf67aa.5b6638"]]},{"id":"e4646c63.7ee1f","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":593,"y":100,"wires":[["5d8ef2c9.43ff1c"]]},{"id":"f7c7fcf2.8c6ed","type":"comment","z":"4318847d.0693cc","name":"A. Play radio station by name","info":"","x":141,"y":32,"wires":[]},{"id":"f72241c9.0c8f2","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":252,"wires":[["e3f9999d.da50e8"]]},{"id":"da04ebb5.e8a898","type":"sonos-manage-radio","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":500,"y":252,"wires":[["d37b15d5.397b58"]]},{"id":"e3f9999d.da50e8","type":"change","z":"4318847d.0693cc","name":"","rules":[{"t":"set","p":"stationIndex","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"get_mysonos","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":252,"wires":[["da04ebb5.e8a898"]]},{"id":"d37b15d5.397b58","type":"switch","z":"4318847d.0693cc","name":"index in range?","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count(msg.payload) > $number(msg.stationIndex)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":722,"y":252,"wires":[["e84127b1.9f25e8"]]},{"id":"e84127b1.9f25e8","type":"function","z":"4318847d.0693cc","name":"topic station name","func":"msg.topic = msg.payload[parseInt(msg.stationIndex) -1].title;\nmsg.payload = \"play_mysonos\";\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":252,"wires":[["8baf7361.9f09d"]]},{"id":"8baf7361.9f09d","type":"sonos-manage-radio","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1179,"y":252,"wires":[[]]},{"id":"eed5651a.872ac8","type":"comment","z":"4318847d.0693cc","name":"B. Play radio station by index ","info":"Caution: arrays start with 0 so second station is 1","x":141,"y":212,"wires":[]},{"id":"782d3661.e6e158","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_songinfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1058,"y":242,"wires":[["9225381f.320718"]]},{"id":"16e2e597.f999ba","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_mediainfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1058,"y":275,"wires":[["9225381f.320718"]]},{"id":"72c32438.a6be2c","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_positioninfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1067,"y":308,"wires":[["9225381f.320718"]]},{"id":"f07fb0c2.c4bb","type":"inject","z":"99e6906e.c69df","name":"get_amazonprime_playlists","topic":"","payload":"get_amazonprime_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":993,"y":662,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"43aa6ea1.2382c","type":"comment","z":"55805384.a4695c","name":"Undocumented","info":"","x":85,"y":790,"wires":[]},{"id":"6bbf67b1.6a00e8","type":"comment","z":"99e6906e.c69df","name":"Insert playlist (not Spotify)","info":"","x":695,"y":837,"wires":[]},{"id":"20795c26.517414","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_volume","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":127,"wires":[["9225381f.320718"]]},{"id":"33494d25.d17ca2","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_muted","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":160,"wires":[["9225381f.320718"]]},{"id":"3d60005d.62d19","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_name","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":194,"wires":[["9225381f.320718"]]},{"id":"6a1d28c8.fea828","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_properties","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1048,"y":62,"wires":[["9225381f.320718"]]},{"id":"6b455079.05614","type":"inject","z":"99e6906e.c69df","name":"","topic":"last","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1242,"y":660,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"2a44a257.0f6ffe","type":"inject","z":"99e6906e.c69df","name":"","topic":"2","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1231,"y":594,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"3c6ee6fb.a1f9ca","type":"inject","z":"99e6906e.c69df","name":"","topic":"first","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1241,"y":627,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"1fc5c102.abee9f","type":"comment","z":"4318847d.0693cc","name":"E. Line in Play:5 / TV Beam or Playbar","info":"","x":170,"y":675,"wires":[]},{"id":"8978d019.4e76e","type":"switch","z":"4318847d.0693cc","name":"","property":"payload.modelName","propertyType":"msg","rules":[{"t":"eq","v":"Sonos Play:5","vt":"str"},{"t":"eq","v":"Sonos Beam","vt":"str"},{"t":"eq","v":"Sonos Playbar","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":509,"y":716,"wires":[["de574d05.b6a53"],["e7542013.832ae"],["e7542013.832ae"]]},{"id":"de574d05.b6a53","type":"change","z":"4318847d.0693cc","name":"line in","rules":[{"t":"set","p":"topic","pt":"msg","to":"'x-rincon-stream:RINCON_' & \t$replace(msg.payload.MACAddress, ':', '') & \t'01400'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":649,"y":687,"wires":[["41f8648f.bd838c"]]},{"id":"22d840cd.c8b46","type":"inject","z":"99e6906e.c69df","name":"","topic":"x-rincon-stream:RINCON_5CAAFD00223601400","payload":"activate_avtransport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":258,"wires":[["f2979581.a19d08"]]},{"id":"451b4f2c.20d9c","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"activate_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121,"y":386,"wires":[["8da0051e.c44428"]]},{"id":"e3ebd6fb.7a2168","type":"inject","z":"99e6906e.c69df","name":"","topic":"Arabella","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":139,"y":587,"wires":[["10dc8b09.602c85"]]},{"id":"27e9c0be.a4d44","type":"inject","z":"99e6906e.c69df","name":"","topic":"Best Of","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":620,"wires":[["10dc8b09.602c85"]]},{"id":"8fac247a.f91548","type":"comment","z":"55805384.a4695c","name":"Next Release - In work","info":"","x":105,"y":20,"wires":[]},{"id":"cca1db92.a76908","type":"inject","z":"99e6906e.c69df","name":"get_musiclibrary_playlists","topic":"","payload":"get_musiclibrary_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":993,"y":695,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"d40e317e.8f4a4","type":"inject","z":"99e6906e.c69df","name":"ML10CC:insert_musiclibrary_playlist","topic":"ML10CC","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":726,"y":937,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"d07c1d15.6af63","type":"inject","z":"99e6906e.c69df","name":"","topic":"SonosMix","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":716,"y":904,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"77db7f57.751e9","type":"comment","z":"4318847d.0693cc","name":"F. Play Playlist from Music Library","info":"","x":150,"y":834,"wires":[]},{"id":"2172120a.6207ae","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"flush_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":874,"wires":[["d02602c0.d8e8b"]]},{"id":"9e0d7aee.907268","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":748,"y":874,"wires":[["b1f4e729.e2d8f8"]]},{"id":"b1f4e729.e2d8f8","type":"change","z":"4318847d.0693cc","name":"activate queue","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":974,"y":874,"wires":[["9d9e559d.4c6cd8"]]},{"id":"9d9e559d.4c6cd8","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1197,"y":874,"wires":[[]]},{"id":"ff1ec5fc.0cff68","type":"inject","z":"4318847d.0693cc","name":"","topic":"x-file-cifs://192.168.178.20/MultiMedia/Music/My%20Music/TestPl.m3u","payload":"flush_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":962,"wires":[[]]},{"id":"225eea23.4db686","type":"comment","z":"4318847d.0693cc","name":"or direct","info":"","x":105,"y":922,"wires":[]},{"id":"31965eaf.bdd172","type":"comment","z":"4318847d.0693cc","name":"G. Prepare player for playing","info":"","x":140,"y":1057,"wires":[]},{"id":"c41203b7.c834e","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"flush_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1117,"wires":[["9cb4182a.c21788"]]},{"id":"9cb4182a.c21788","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":340,"y":1117,"wires":[["f3a32fe6.edbb2"]]},{"id":"f3a32fe6.edbb2","type":"change","z":"4318847d.0693cc","name":"insert playlist","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_sonos_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"SonosDido","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1117,"wires":[["ed5d16e4.4fc1a8"]]},{"id":"ed5d16e4.4fc1a8","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":740,"y":1117,"wires":[["5e3888d0.c68968","49a80ca6.a45b84"]]},{"id":"5e3888d0.c68968","type":"change","z":"4318847d.0693cc","name":"mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"mute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":1117,"wires":[["7699a304.21796c"]]},{"id":"7699a304.21796c","type":"sonos-control-player","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1720,"y":1116,"wires":[[]]},{"id":"210e7c9.71bb484","type":"change","z":"4318847d.0693cc","name":"activate queue","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1079,"wires":[["e89430c.1b878d","73aff3c1.3d4b6c"]]},{"id":"49a80ca6.a45b84","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":1079,"wires":[["210e7c9.71bb484"]]},{"id":"e89430c.1b878d","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1300,"y":1079,"wires":[["9f30753d.caadd8"]]},{"id":"9f30753d.caadd8","type":"change","z":"4318847d.0693cc","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":1079,"wires":[["7699a304.21796c"]]},{"id":"73aff3c1.3d4b6c","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":1039,"wires":[["7e50826a.cc41cc"]]},{"id":"7e50826a.cc41cc","type":"change","z":"4318847d.0693cc","name":"unmute","rules":[{"t":"set","p":"payload","pt":"msg","to":"unmute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":1039,"wires":[["7699a304.21796c"]]},{"id":"d890d3f3.68cd6","type":"inject","z":"4318847d.0693cc","name":"mute","topic":"","payload":"mute","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1169,"wires":[["80c178d.0218a88","f9e99c11.a8edc"]]},{"id":"80c178d.0218a88","type":"sonos-control-player","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1100,"y":1169,"wires":[[]]},{"id":"f9e99c11.a8edc","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1209,"wires":[["a65048e1.879f98"]]},{"id":"98119167.abb2e","type":"change","z":"4318847d.0693cc","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1209,"wires":[["80c178d.0218a88"]]},{"id":"418f0e18.4cf29","type":"delay","z":"4318847d.0693cc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":1261,"wires":[["61b7db70.f099d4"]]},{"id":"61b7db70.f099d4","type":"change","z":"4318847d.0693cc","name":"mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"mute","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1261,"wires":[["80c178d.0218a88"]]},{"id":"a65048e1.879f98","type":"change","z":"4318847d.0693cc","name":"play tuneIn station","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_tunein","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"s24896","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1209,"wires":[["418f0e18.4cf29","7bd694c7.71d67c"]]},{"id":"7bd694c7.71d67c","type":"sonos-manage-radio","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":720,"y":1209,"wires":[["98119167.abb2e"]]},{"id":"165a0add.39d6b5","type":"sonos-get-status","z":"4318847d.0693cc","confignode":"8d44022c.adb65","name":"Get Status WZ","x":312,"y":716,"wires":[["8978d019.4e76e"]]},{"id":"bac1bf03.f728","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"get_properties","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":716,"wires":[["165a0add.39d6b5"]]},{"id":"e7542013.832ae","type":"change","z":"4318847d.0693cc","name":"tv (line in)","rules":[{"t":"set","p":"topic","pt":"msg","to":"'x-sonos-htastream:RINCON_' & \t$replace(msg.payload.MACAddress, ':', '') & \t'01400:spdif'\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":659,"y":747,"wires":[["41f8648f.bd838c"]]},{"id":"55b6f9ce.2ef858","type":"sonos-control-player","z":"4318847d.0693cc","confignode":"8d44022c.adb65","name":"Control Player WZ","x":1070,"y":716,"wires":[[]]},{"id":"38488ea.c070372","type":"inject","z":"55805384.a4695c","name":"","topic":"https://soundcloud.com/livingears/drake-im-upset-lqdhvn-refix","payload":"lab_play_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":830,"wires":[["2de78add.aae0c6"]]},{"id":"2de78add.aae0c6","type":"sonos-control-player","z":"55805384.a4695c","confignode":"88e9fa70.4a53e8","name":"","x":420,"y":903,"wires":[[]]},{"id":"3e6e2775.127c88","type":"inject","z":"55805384.a4695c","name":"","topic":"https://archive.org/download/testmp3testfile/mpthreetest.mp3","payload":"lab_play_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":870,"wires":[["2de78add.aae0c6"]]},{"id":"ab9dd272.30da2","type":"inject","z":"55805384.a4695c","name":"","topic":"http://streams.br.de/bayern1fran_1.m3u","payload":"lab_play_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":910,"wires":[["2de78add.aae0c6"]]},{"id":"41f8648f.bd838c","type":"change","z":"4318847d.0693cc","name":"activate line","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":849,"y":716,"wires":[["55b6f9ce.2ef858"]]},{"id":"610c7f81.c561","type":"inject","z":"99e6906e.c69df","name":"","topic":"SHUFFLE","payload":"set_queuemode","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":695,"y":782,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"8638cd91.2bd02","type":"inject","z":"99e6906e.c69df","name":"","topic":"NORMAL","payload":"set_queuemode","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":696,"y":749,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"c90daf5a.fe606","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_queuemode","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":964,"y":761,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"625148f2.018378","type":"change","z":"4318847d.0693cc","name":"insert playlist","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"MLAdele","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":537,"y":874,"wires":[["9e0d7aee.907268"]]},{"id":"d02602c0.d8e8b","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":324,"y":874,"wires":[["625148f2.018378"]]},{"id":"5615e4a9.cae46c","type":"inject","z":"9ea06256.355a2","name":"test invalid command","topic":"","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1543,"wires":[["2f900d43.a3c562"]]},{"id":"87d4977c.1ec578","type":"inject","z":"4318847d.0693cc","name":"","topic":"","payload":"get_state","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1378,"wires":[["7a2ccae6.da3ab4"]]},{"id":"7a2ccae6.da3ab4","type":"sonos-get-status","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":290,"y":1378,"wires":[["87dc146e.24e978"]]},{"id":"87dc146e.24e978","type":"switch","z":"4318847d.0693cc","name":"stopped?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":484,"y":1378,"wires":[["945fcc13.1250b"]]},{"id":"945fcc13.1250b","type":"change","z":"4318847d.0693cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_mediainfo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":684,"y":1378,"wires":[["21ee4228.06026e"]]},{"id":"21ee4228.06026e","type":"sonos-get-status","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"Get Status sonos","x":914,"y":1378,"wires":[["d6e0519a.3a67a"]]},{"id":"d6e0519a.3a67a","type":"switch","z":"4318847d.0693cc","name":"queue active?","property":"payload.queue_active","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1144,"y":1378,"wires":[["a0363532.e8afe8"]]},{"id":"a0363532.e8afe8","type":"change","z":"4318847d.0693cc","name":"activate queue","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1344,"y":1378,"wires":[["cc766b34.a82ec8"]]},{"id":"cc766b34.a82ec8","type":"sonos-manage-queue","z":"4318847d.0693cc","confignode":"88e9fa70.4a53e8","name":"","x":1561,"y":1378,"wires":[[]]},{"id":"6573def9.e783e","type":"comment","z":"4318847d.0693cc","name":"H.If ....","info":"","x":70,"y":1338,"wires":[]},{"id":"766e061d.03f178","type":"ui_button","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":6,"width":"3","height":"1","passthru":false,"label":"nodeRED stop","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":580,"wires":[["fb08d33d.93d26"]]},{"id":"fb08d33d.93d26","type":"exec","z":"7a420a49.166a74","command":"node-red-stop","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":400,"y":581,"wires":[[],[],[]]},{"id":"697298e1.200568","type":"exec","z":"7a420a49.166a74","command":"sudo systemctl restart nodered","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"","x":450,"y":680,"wires":[["93cd779d.6f8558"],["93cd779d.6f8558"],["93cd779d.6f8558"]]},{"id":"93cd779d.6f8558","type":"debug","z":"7a420a49.166a74","name":"","active":true,"console":"false","complete":"false","x":730,"y":680,"wires":[]},{"id":"262e5841.9f2608","type":"ui_button","z":"7a420a49.166a74","name":"","group":"1d1829ef.942666","order":7,"width":"3","height":"1","passthru":false,"label":"nodeRED restart","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":680,"wires":[["697298e1.200568"]]},{"id":"4e3af8ff.684908","type":"inject","z":"55805384.a4695c","name":"","topic":"https://actions.google.com/sounds/v1/emergency/emergency_siren_close_long.ogg","payload":"lab_play_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":950,"wires":[["2de78add.aae0c6"]]},{"id":"497dc083.e5d35","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":110,"wires":[["9124b25e.5e7bb"]]},{"id":"9124b25e.5e7bb","type":"function","z":"a0a649cc.ca04e8","name":"xyz does not exist","func":"msg.payload = 'hallo';\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":110,"wires":[["bcf459fe.1b0ad8"]]},{"id":"e180e70c.33b628","type":"function","z":"a0a649cc.ca04e8","name":"xyz is null","func":"msg.payload.xyz = null;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":217,"wires":[["bcf459fe.1b0ad8"]]},{"id":"351eb48c.4094ac","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":217,"wires":[["e180e70c.33b628"]]},{"id":"c54adc23.e480e","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":452,"wires":[["305adb80.ed3b84"]]},{"id":"305adb80.ed3b84","type":"function","z":"a0a649cc.ca04e8","name":"xyz string is OK ","func":"msg.payload = { 'xyz':'richtiger String'};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":452,"wires":[["bcf459fe.1b0ad8"]]},{"id":"47d40166.41248","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":367,"wires":[["22871aaa.f17016"]]},{"id":"22871aaa.f17016","type":"function","z":"a0a649cc.ca04e8","name":"xyz empty string","func":"msg.payload = {\"xyz\":''};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":367,"wires":[["bcf459fe.1b0ad8"]]},{"id":"a4f89f5b.58eb4","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":98,"wires":[["c7fabc9b.407e1"]]},{"id":"c7fabc9b.407e1","type":"change","z":"a0a649cc.ca04e8","name":"payload does not exist","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":98,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"7cd29440.2439fc","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":208,"wires":[["892f9664.8696f8"]]},{"id":"892f9664.8696f8","type":"function","z":"a0a649cc.ca04e8","name":"payload null","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":208,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"b9b94e98.ceb2e","type":"comment","z":"a0a649cc.ca04e8","name":"Objective of this tab - Documentation","info":"# Introduction\nOften errors occures because objects or part of objects are not initialized or hold invalid values. This causes errors in following flows. \n\n# Solution\nThe path of every property is being intensively checked: **undefined, null, empty string** and not value \"**NaN**\".\n\nNaN is a strange one. It can be exclued by testing \"msg.payload !== msg.payload\" or by testing \"(typeof msg.payload === 'number' && isNaN(msg.payload))\"\n\nThe second one is longer but more obsious. \n\nIn case of msg.propLevel1.propLevel2 I do test all elements except msg. Msg is given and can not be null or undefined. ","x":145,"y":20,"wires":[]},{"id":"ed0da7d.7d64e58","type":"function","z":"a0a649cc.ca04e8","name":"payload empty string","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":324,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"ae986c34.34ae5","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":324,"wires":[["ed0da7d.7d64e58"]]},{"id":"96ba426e.4e8e1","type":"function","z":"a0a649cc.ca04e8","name":"payload string","func":"msg.payload = 'payload text there';\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":405,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"db6427c6.b0c728","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":405,"wires":[["96ba426e.4e8e1"]]},{"id":"39a502ae.bdf62e","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":1302,"y":342,"wires":[[]]},{"id":"9eab2607.51e8b8","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":201,"wires":[["3998a040.997f8"]]},{"id":"3998a040.997f8","type":"change","z":"9ea06256.355a2","name":"wrong volume - negative","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"-20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":967,"y":201,"wires":[["39a502ae.bdf62e"]]},{"id":"bf3ec25b.68b4e","type":"change","z":"9ea06256.355a2","name":"wrong volume string x","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"x","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":957,"y":234,"wires":[["39a502ae.bdf62e"]]},{"id":"b98d7a3a.f7e1a8","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":234,"wires":[["bf3ec25b.68b4e"]]},{"id":"7b90d2b5.5e7d2c","type":"change","z":"9ea06256.355a2","name":"empty topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":927,"y":127,"wires":[["39a502ae.bdf62e"]]},{"id":"6137cd73.bc9d24","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":127,"wires":[["7b90d2b5.5e7d2c"]]},{"id":"5b7a8514.ca7c5c","type":"change","z":"9ea06256.355a2","name":"wrong volume string true","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":967,"y":267,"wires":[["39a502ae.bdf62e"]]},{"id":"186077f8.993038","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":267,"wires":[["5b7a8514.ca7c5c"]]},{"id":"1a39a333.08667d","type":"change","z":"9ea06256.355a2","name":"no volume data","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":937,"y":300,"wires":[["39a502ae.bdf62e"]]},{"id":"962f5d9c.9a2f4","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":300,"wires":[["1a39a333.08667d"]]},{"id":"f499ab8f.2c78c8","type":"change","z":"9ea06256.355a2","name":"no volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":927,"y":160,"wires":[["39a502ae.bdf62e"]]},{"id":"23869a98.110636","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":160,"wires":[["f499ab8f.2c78c8"]]},{"id":"63a1eef5.4e185","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"-5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["d82099f6.76ef28"]]},{"id":"fd855720.eaca78","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["d82099f6.76ef28"]]},{"id":"de825881.6eda98","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"+5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["d82099f6.76ef28","4a026bde.a96cb4"]]},{"id":"d82099f6.76ef28","type":"sonos-control-player","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":288,"y":109,"wires":[[]]},{"id":"4a026bde.a96cb4","type":"debug","z":"775d7a2a.44f234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":200,"wires":[]},{"id":"eee89416.02f1f8","type":"comment","z":"775d7a2a.44f234","name":"not working: plus is absorbed","info":"","x":160,"y":160,"wires":[]},{"id":"a372137d.cde08","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"-35","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":612,"wires":[["75eb41eb.d74ff"]]},{"id":"75eb41eb.d74ff","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":340,"y":662,"wires":[["dd6943c6.e147"]]},{"id":"68c4dcb1.ec2ba4","type":"comment","z":"9ea06256.355a2","name":"volume changes","info":"","x":119,"y":578,"wires":[]},{"id":"7cb2d12d.8de4f","type":"inject","z":"9ea06256.355a2","name":"string -35","topic":"","payload":"-35","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":652,"wires":[["75eb41eb.d74ff"]]},{"id":"26dbfbe5.1a2c44","type":"inject","z":"9ea06256.355a2","name":"string -35","topic":"","payload":"+35","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":692,"wires":[["75eb41eb.d74ff"]]},{"id":"4c926005.22eab","type":"inject","z":"9ea06256.355a2","name":"string +35","topic":"","payload":"+35","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":732,"wires":[["75eb41eb.d74ff"]]},{"id":"c41a08e2.9d8a88","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":367,"wires":[["b6d00311.60368"]]},{"id":"b6d00311.60368","type":"change","z":"99e6906e.c69df","name":"play_notification with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"70","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":367,"wires":[["f2979581.a19d08"]]},{"id":"7b80d524.af98dc","type":"change","z":"9ea06256.355a2","name":"wrong volume boolean true","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":978,"y":333,"wires":[["39a502ae.bdf62e"]]},{"id":"5d0438c7.ed9d38","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":333,"wires":[["7b80d524.af98dc"]]},{"id":"bfa6fa56.92bab8","type":"comment","z":"9ea06256.355a2","name":"play_notification","info":"","x":816,"y":94,"wires":[]},{"id":"ba0f41e4.bda47","type":"inject","z":"775d7a2a.44f234","name":"ZAPSPLAT","topic":"https://www.zapsplat.com/wp-content/uploads/2015/sound-effects-the-sound-pack-tree/tspt_pull_bell_02_065.mp3?_=1","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":129,"y":300,"wires":[["fb524ea5.d8eaa"]]},{"id":"fb524ea5.d8eaa","type":"sonos-control-player","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":359,"y":380,"wires":[[]]},{"id":"aeccd5df.752738","type":"inject","z":"775d7a2a.44f234","name":"soundbible dog","topic":"http://soundbible.com/mp3/labrador-barking-daniel_simon.mp3","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":139,"y":340,"wires":[["fb524ea5.d8eaa"]]},{"id":"3ff5a8d5.963ce8","type":"inject","z":"775d7a2a.44f234","name":"Bell","topic":"http://soundbible.com/mp3/bells-tibetan-daniel_simon.mp3","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":380,"wires":[["fb524ea5.d8eaa"]]},{"id":"6075c5e3.396b2c","type":"inject","z":"775d7a2a.44f234","name":"fog horn","topic":"http://soundbible.com/mp3/foghorn-daniel_simon.mp3","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":122,"y":420,"wires":[["fb524ea5.d8eaa"]]},{"id":"208a68fe.f3c9b8","type":"inject","z":"775d7a2a.44f234","name":"alarm","topic":"http://soundbible.com/mp3/Fire%20Truck%20Siren-SoundBible.com-642727443.mp3","payload":"play_notification","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":460,"wires":[["fb524ea5.d8eaa"]]},{"id":"d531e4dd.740ed8","type":"comment","z":"775d7a2a.44f234","name":"play notification","info":"","x":85,"y":260,"wires":[]},{"id":"67a23bc0.a14964","type":"comment","z":"775d7a2a.44f234","name":"Volume control","info":"","x":85,"y":20,"wires":[]},{"id":"18ab9590.fa302a","type":"inject","z":"775d7a2a.44f234","name":"","topic":"s24896","payload":"play_tunein","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":340,"wires":[["b64d0bcb.576f68"]]},{"id":"4b606995.e22468","type":"inject","z":"775d7a2a.44f234","name":"","topic":"Best Of","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":300,"wires":[["b64d0bcb.576f68"]]},{"id":"b64d0bcb.576f68","type":"sonos-manage-radio","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":920,"y":320,"wires":[[]]},{"id":"bd7e5880.e90a68","type":"inject","z":"775d7a2a.44f234","name":"ML10CC:insert_musiclibrary_playlist","topic":"ML10CC","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":440,"wires":[["22888d78.e458b2"]]},{"id":"7820b8e6.afbb78","type":"inject","z":"775d7a2a.44f234","name":"","topic":"SonosMix","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":480,"wires":[["22888d78.e458b2"]]},{"id":"e6ab0a48.046618","type":"inject","z":"775d7a2a.44f234","name":"","topic":"x-rincon-cpcontainer:1006206ccatalog%2fplaylists%2fB07W1Z3YMN%2f%23prime_playlist?sid=201&flags=8300&sn=14","payload":"insert_prime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":520,"wires":[["22888d78.e458b2"]]},{"id":"22888d78.e458b2","type":"sonos-manage-queue","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":920,"y":480,"wires":[[]]},{"id":"4d8b8514.0334dc","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"activate_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":400,"wires":[["22888d78.e458b2"]]},{"id":"bfbde1a1.bdfed","type":"inject","z":"775d7a2a.44f234","name":"","topic":"Arabella","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":380,"wires":[["b64d0bcb.576f68"]]},{"id":"83ec348e.2b3848","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":486,"wires":[["7a9b4e0.b2f0ab4"]]},{"id":"7a9b4e0.b2f0ab4","type":"function","z":"a0a649cc.ca04e8","name":"xyz number is ok","func":"msg.payload = {\"xyz\": 5};\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":486,"wires":[["bcf459fe.1b0ad8"]]},{"id":"2a76f526.64ae8a","type":"comment","z":"a0a649cc.ca04e8","name":"validation of payload","info":"","x":95,"y":63,"wires":[]},{"id":"3a375663.e13d9a","type":"function","z":"a0a649cc.ca04e8","name":"payload does not exist","func":"msg  = {'o': 'oooo'};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":133,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"63d72607.f34638","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":133,"wires":[["3a375663.e13d9a"]]},{"id":"117da209.5252de","type":"function","z":"a0a649cc.ca04e8","name":"payload undefined","func":"msg.payload = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":167,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"2dbcdfea.bf264","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":167,"wires":[["117da209.5252de"]]},{"id":"2ec859a5.f8eb66","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":249,"wires":[["de752d4c.21001"]]},{"id":"de752d4c.21001","type":"function","z":"a0a649cc.ca04e8","name":"payload NaN","func":"msg.payload = parseInt('Hallo');  // provides NaN\nreturn msg;","outputs":1,"noerr":0,"x":272,"y":249,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"b3403a6f.c88838","type":"function","z":"a0a649cc.ca04e8","name":"payload number ","func":"msg.payload = 10;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":439,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"1150c24c.b1ae2e","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":439,"wires":[["b3403a6f.c88838"]]},{"id":"957f1041.a180b","type":"function","z":"a0a649cc.ca04e8","name":"payload array","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":473,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"d8d75b12.f06148","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":473,"wires":[["957f1041.a180b"]]},{"id":"d7b0c62c.795398","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":507,"wires":[["d0fed59c.990ac8"]]},{"id":"d0fed59c.990ac8","type":"function","z":"a0a649cc.ca04e8","name":"payload object ","func":"msg.payload = {'something':'Hallo'};\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":507,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"ec88ae1e.ff4b6","type":"function","z":"a0a649cc.ca04e8","name":"payload object ","func":"msg.payload = {'something': undefined};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":542,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"d80d6e9c.59f3e","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":542,"wires":[["ec88ae1e.ff4b6"]]},{"id":"e3d3b952.dd6838","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":576,"wires":[["6e895944.0c26f8"]]},{"id":"6e895944.0c26f8","type":"function","z":"a0a649cc.ca04e8","name":"payload parseInt('5') ","func":"msg.payload = parseInt('5');\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":576,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"f507b549.24e008","type":"function","z":"a0a649cc.ca04e8","name":"payload parseInt(5) ","func":"msg.payload = parseInt(5);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":609,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"a201018b.af083","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":609,"wires":[["f507b549.24e008"]]},{"id":"1d4a5f09.801521","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":177,"wires":[["65a613f5.8794dc"]]},{"id":"65a613f5.8794dc","type":"function","z":"a0a649cc.ca04e8","name":"xyz undefined","func":"msg.payload.xyz = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":177,"wires":[["bcf459fe.1b0ad8"]]},{"id":"fe262f00.41ee9","type":"function","z":"a0a649cc.ca04e8","name":"xyz does not exist","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":144,"wires":[["bcf459fe.1b0ad8"]]},{"id":"3c32d77.e212a28","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":144,"wires":[["fe262f00.41ee9"]]},{"id":"2e25b173.d1dd2e","type":"function","z":"a0a649cc.ca04e8","name":"payload NaN","func":"msg.payload.xyz = parseInt('Hallo'); // NaN\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":256,"wires":[["bcf459fe.1b0ad8"]]},{"id":"e6f0a81b.1a9dc8","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":639,"y":256,"wires":[["2e25b173.d1dd2e"]]},{"id":"41751449.ddd90c","type":"function","z":"a0a649cc.ca04e8","name":"xyz is empty string","func":"msg.payload.xyz = '';\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":333,"wires":[["bcf459fe.1b0ad8"]]},{"id":"1732002b.aa105","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":333,"wires":[["41751449.ddd90c"]]},{"id":"74bc604d.fd188","type":"comment","z":"a0a649cc.ca04e8","name":"validation of payload.xyz","info":"","x":655,"y":67,"wires":[]},{"id":"6c500479.64f93c","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":520,"wires":[["7a8f82dd.bf758c"]]},{"id":"7a8f82dd.bf758c","type":"function","z":"a0a649cc.ca04e8","name":"xyz object  is ok","func":"msg.payload = {'xyz': {}};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":520,"wires":[["bcf459fe.1b0ad8"]]},{"id":"c2fe0b5f.2c5c38","type":"function","z":"a0a649cc.ca04e8","name":"xyz array  is ok","func":"msg.payload = { 'xyz': []};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":555,"wires":[["bcf459fe.1b0ad8"]]},{"id":"75ca332f.81145c","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":555,"wires":[["c2fe0b5f.2c5c38"]]},{"id":"e3f119eb.d44758","type":"function","z":"a0a649cc.ca04e8","name":"validate msg.payload","func":"/** Validate msg.payload\n * \n*/\n\nif (typeof msg.payload === 'undefined' || msg.payload === null || (typeof msg.payload === 'number' && isNaN(msg.payload)) || msg.payload === '') {\n    node.error('invalid payload', msg);\n    return;\n} else {\n    node.warn('payload ok', msg);\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":610,"wires":[[]]},{"id":"71e12096.9b21c","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":282,"wires":[["892e2d7e.c143"]]},{"id":"892e2d7e.c143","type":"function","z":"a0a649cc.ca04e8","name":"payload NaN","func":"msg.payload = NaN;\nreturn msg;","outputs":1,"noerr":0,"x":274,"y":282,"wires":[["e3f119eb.d44758","bcf459fe.1b0ad8"]]},{"id":"bcf459fe.1b0ad8","type":"function","z":"a0a649cc.ca04e8","d":true,"name":"validate msg.payload.xyz","func":"/** Validate msg.payload.xyz\n * \n*/\n\nif (typeof msg.payload === 'undefined' || msg.payload === null || \n    (typeof msg.payload === 'number' && isNaN(msg.payload))) {\n    node.error('invalid payload', msg);\n    return;\n} else {\n    node.warn('payload ok');\n    if (typeof msg.payload.xyz === 'undefined' || msg.payload.xyz === null || \n        (typeof msg.payload.xyz === 'number' && isNaN(msg.payload.xyz)) || msg.payload.xyz ==='') {\n        node.error('invalid msg.payload.xyz', msg);\n        return;\n    } else {\n        node.warn('found ' + JSON.stringify(msg.payload.xyz)  + '... we can start processing');\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1228,"y":109,"wires":[[]]},{"id":"21af558b.13c2ba","type":"inject","z":"a0a649cc.ca04e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":638,"y":290,"wires":[["65d7d2d2.d82a5c"]]},{"id":"65d7d2d2.d82a5c","type":"function","z":"a0a649cc.ca04e8","name":"payload NaN","func":"msg.payload.xyz = NaN; // NaN\nreturn msg;","outputs":1,"noerr":0,"x":809,"y":290,"wires":[["bcf459fe.1b0ad8"]]},{"id":"4ce535d2.b366ac","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":295,"wires":[["3028a931.c32436"]]},{"id":"3028a931.c32436","type":"change","z":"99e6906e.c69df","name":"play with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":295,"wires":[["f2979581.a19d08"]]},{"id":"231a41a0.2ffd6e","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":406,"wires":[["bada722f.418d3"]]},{"id":"bada722f.418d3","type":"change","z":"9ea06256.355a2","name":"play with volume - not number","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":987,"y":406,"wires":[["39a502ae.bdf62e"]]},{"id":"e494d6fa.c4be28","type":"comment","z":"9ea06256.355a2","name":"play with volume","info":"","x":816,"y":373,"wires":[]},{"id":"209aa15a.cc979e","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":439,"wires":[["1723f5cd.5a950a"]]},{"id":"1723f5cd.5a950a","type":"change","z":"9ea06256.355a2","name":"play with volume - invalid number ","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":997,"y":439,"wires":[["39a502ae.bdf62e"]]},{"id":"5c5d1c68.22bf54","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":328,"wires":[["372185d5.1d1a4a"]]},{"id":"372185d5.1d1a4a","type":"change","z":"99e6906e.c69df","name":"activate_avtransport with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x-rincon-stream:RINCON_5CAAFD00223601400","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":328,"wires":[["f2979581.a19d08"]]},{"id":"7fdc8a90.778d44","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":552,"wires":[["a662246b.c9a948"]]},{"id":"a662246b.c9a948","type":"change","z":"9ea06256.355a2","name":"avtransport with volume - not number","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x-rincon-stream:RINCON_5CAAFD00223601400","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1007,"y":552,"wires":[["39a502ae.bdf62e"]]},{"id":"72def357.4d838c","type":"comment","z":"9ea06256.355a2","name":"activate avtransport with volume","info":"","x":868,"y":519,"wires":[]},{"id":"3b78414f.38dede","type":"change","z":"9ea06256.355a2","name":"avtransport with volume - invalid number","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x-rincon-stream:RINCON_5CAAFD00223601400","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1018,"y":585,"wires":[["39a502ae.bdf62e"]]},{"id":"a425b1eb.3038","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":788,"y":585,"wires":[["3b78414f.38dede"]]},{"id":"d919048c.b05e48","type":"change","z":"9ea06256.355a2","name":"avtransport with volume - ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_avtransport","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x-rincon-stream:RINCON_5CAAFD00223601400","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":977,"y":619,"wires":[["39a502ae.bdf62e"]]},{"id":"a2234dbe.9d699","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":619,"wires":[["d919048c.b05e48"]]},{"id":"7fad3a81.879174","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":635,"y":670,"wires":[["26dc5c37.1decf4"]]},{"id":"26dc5c37.1decf4","type":"change","z":"99e6906e.c69df","name":"activate_queue, vol. 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":699,"y":707,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"99e95475.666eb8","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":854,"wires":[["2259a272.73056e"]]},{"id":"2259a272.73056e","type":"change","z":"99e6906e.c69df","name":"play_mysonos arabella with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Arabella","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":854,"wires":[["10dc8b09.602c85"]]},{"id":"674bff67.61bde","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":920,"wires":[["208c3c03.be7064"]]},{"id":"208c3c03.be7064","type":"change","z":"99e6906e.c69df","name":"play_tunein with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_tunein","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"s24896","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":920,"wires":[["10dc8b09.602c85"]]},{"id":"c3fcf19f.62a37","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1592,"wires":[["3e20b9ea.a3d6e6"]]},{"id":"3e20b9ea.a3d6e6","type":"change","z":"9ea06256.355a2","name":"play mysonos arabella with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Arabella","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1592,"wires":[["2f900d43.a3c562"]]},{"id":"30daef9a.dcd72","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1694,"wires":[["462eae92.63d07"]]},{"id":"462eae92.63d07","type":"change","z":"9ea06256.355a2","name":"play tunein with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_tunein","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"s24896","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1694,"wires":[["2f900d43.a3c562"]]},{"id":"8624bfb1.18ffa","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1632,"wires":[["a0ad39e5.b760d8"]]},{"id":"a0ad39e5.b760d8","type":"change","z":"9ea06256.355a2","name":"play mysonos Love with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Love","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1632,"wires":[["2f900d43.a3c562"]]},{"id":"fa17e07.604b32","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1732,"wires":[["fe23d0f4.85c73"]]},{"id":"fe23d0f4.85c73","type":"change","z":"9ea06256.355a2","name":"play tunein with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_tunein","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"s24896","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1732,"wires":[["2f900d43.a3c562"]]},{"id":"ce5ac3.5d71d54","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":93,"wires":[["95e11253.7f73c"]]},{"id":"95e11253.7f73c","type":"change","z":"9ea06256.355a2","name":"no payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":93,"wires":[["2e34f5b1.a5a72a"]]},{"id":"6b5cc4aa.c99b7c","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":128,"wires":[["aa36d09.b24b43"]]},{"id":"aa36d09.b24b43","type":"function","z":"9ea06256.355a2","name":"NaN","func":"msg.payload = NaN;\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":128,"wires":[["2e34f5b1.a5a72a"]]},{"id":"1009be46.8c0fb2","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":164,"wires":[["68e73b2a.782454"]]},{"id":"68e73b2a.782454","type":"function","z":"9ea06256.355a2","name":"null","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":164,"wires":[["2e34f5b1.a5a72a"]]},{"id":"b12a4877.40ad38","type":"comment","z":"a0a649cc.ca04e8","name":"Following are all OK","info":"","x":110,"y":371,"wires":[]},{"id":"cf30cfb3.f7a6","type":"comment","z":"a0a649cc.ca04e8","name":"Following are all OK","info":"","x":635,"y":417,"wires":[]},{"id":"dd1ad5ab.e8b008","type":"http request","z":"d65eded3.250b9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":720,"y":60,"wires":[[]]},{"id":"1bbc7a30.e4cbe6","type":"template","z":"d65eded3.250b9","name":"define url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://autoremotejoaomgcd.appspot.com/sendnotification?key={{key}}&title=\"HomeService Error Message\"&text={{payload}};\n","output":"str","x":570,"y":60,"wires":[["dd1ad5ab.e8b008"]]},{"id":"6b0e515b.e62cd","type":"function","z":"d65eded3.250b9","name":"define/send error message","func":"/** Send error message to TASKER if debugToMobile is true\n* GITHUB subflow handle errors\n* @since 2019-10-13T1931\n* PREREQ: uses TASKER autoremote and needs key, stored in global variable\n*/\n\n  const unknown = 'unbekannt';\n\n  let errorTab = env.get('Tabname');\n  if (typeof errorTab === 'undefined' || errorTab === null || errorTab === '') {\n    errorTab = unknown;\n    node.warn('Tabname not defined');\n  }\n\n  let errorNodeName = unknown;\n  let errorNodeType = unknown;\n  let errorNodeId = unknown;\n  let errorMessage = unknown;\n  if (typeof msg.error === 'undefined' || msg.error === null || msg.error === '') {\n    // no infos - use default text above\n  } else {\n    if (typeof msg.error.source === 'undefined' || msg.error.source === null || msg.error.source === '') {\n      // no source infos - use default text above\n    } else {\n      if (typeof msg.error.source.name === 'undefined' || msg.error.source.name === null || msg.error.source.name === '') {\n        // use default text above\n      } else {\n        errorNodeName = msg.error.source.name;\n      }\n      if (typeof msg.error.source.type === 'undefined' || msg.error.source.type === null || msg.error.source.type === '') {\n        // use default text above\n      } else {\n        errorNodeType = msg.error.source.type;\n      }\n      if (typeof msg.error.source.id === 'undefined' || msg.error.source.id === null || msg.error.source.id === '') {\n        // use default text\n      } else {\n        errorNodeId = msg.error.source.id;\n      }\n    }\n    if (typeof msg.error.message === 'undefined' || msg.error.message === null || msg.error.message === '') {\n      // no infos - use default text\n    } else {\n      errorMessage = msg.error.message;\n    }\n  }\n  const fullMessage = `Fehler in TAB: ${errorTab} NODENAME: ${errorNodeName} NODETYPE: ${errorNodeType} NODEID: ${errorNodeId} DETAIL: ${errorMessage}`;\n\n  let msgUIandLog = { payload: fullMessage };\n\n  let msgMobile;\n  if (env.get('DebugToMobile')) {\n    const keyVariableName = env.get('KeyVariable'); // first get name of global variable\n    if (typeof keyVariableName === 'undefined' || keyVariableName === null || keyVariableName === '') {\n      node.error('Error in subflow: handle error: Invalid key variable name');\n      msgMobile = null; // no message\n      msgUIandLog = null; // no message\n    } else {\n      const key = global.get(keyVariableName);\n      if (typeof key === 'undefined' || key === null || key === '') {\n        node.error('Error in subflow: handle error: Key variable not defined or key invalid');\n        msgMobile = null; // no message\n        msgUIandLog = null; // no message\n      } else {\n        msgMobile = { payload: fullMessage, key: key };\n      }\n    }\n  } else {\n    msgMobile = null; // not message\n  }\n  return [msgMobile, msgUIandLog];\n\n","outputs":2,"noerr":0,"x":280,"y":80,"wires":[["1bbc7a30.e4cbe6"],["337e0a88.64b546"]],"outputLabels":["email data",""]},{"id":"337e0a88.64b546","type":"debug","z":"d65eded3.250b9","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"1cbfc88a.82bef7","type":"subflow:d65eded3.250b9","z":"55805384.a4695c","name":"","env":[{"name":"Tabname","value":"Sandbox","type":"str"},{"name":"DebugToMobile","value":"true","type":"bool"}],"x":1110,"y":60,"wires":[]},{"id":"ca8b047.c6229f8","type":"catch","z":"55805384.a4695c","d":true,"name":"","scope":null,"uncaught":false,"x":940,"y":60,"wires":[["1cbfc88a.82bef7"]]},{"id":"2a12b79b.d9e0f8","type":"subflow:d65eded3.250b9","z":"9ea06256.355a2","d":true,"name":"","env":[{"name":"Tabname","value":"Test with Failure","type":"str"}],"x":650,"y":40,"wires":[]},{"id":"dbe8b435.a7f4c8","type":"catch","z":"9ea06256.355a2","d":true,"name":"","scope":null,"uncaught":false,"x":480,"y":40,"wires":[["2a12b79b.d9e0f8"]]},{"id":"322d058.566fbfa","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":787,"y":474,"wires":[["b53f67e3.0e4028"]]},{"id":"b53f67e3.0e4028","type":"change","z":"9ea06256.355a2","name":"play with volume - invalid number ","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"{\"x\":\"Hallo\",\"y\":\"World\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":997,"y":474,"wires":[["39a502ae.bdf62e"]]},{"id":"b410ddd8.77b9d","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1792,"wires":[["572c1e4b.9d236"]]},{"id":"572c1e4b.9d236","type":"change","z":"9ea06256.355a2","name":"play tunein with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Arabella","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1792,"wires":[["2f900d43.a3c562"]]},{"id":"6dba351d.9f53cc","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1830,"wires":[["8e666d34.3a1a5"]]},{"id":"8e666d34.3a1a5","type":"change","z":"9ea06256.355a2","name":"play tunein with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Arabella","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1832,"wires":[["2f900d43.a3c562"]]},{"id":"833757b5.a4c0b8","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1872,"wires":[["2856f8dd.825148"]]},{"id":"2856f8dd.825148","type":"change","z":"9ea06256.355a2","name":"play mysonos love with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Love","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1872,"wires":[["2f900d43.a3c562"]]},{"id":"376bf938.dc9bd6","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1910,"wires":[["ae807b63.cc69a8"]]},{"id":"ae807b63.cc69a8","type":"change","z":"9ea06256.355a2","name":"play mysonos love with volume (wrong volume)","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Love","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1910,"wires":[["2f900d43.a3c562"]]},{"id":"88d0ca60.d83528","type":"inject","z":"9ea06256.355a2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1972,"wires":[["340d5a87.775326"]]},{"id":"340d5a87.775326","type":"change","z":"9ea06256.355a2","name":"play mysonos wrong title with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"xxxx","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1972,"wires":[["2f900d43.a3c562"]]},{"id":"f19f926b.43cf5","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":887,"wires":[["6849576b.2c6d48"]]},{"id":"6849576b.2c6d48","type":"change","z":"99e6906e.c69df","name":"play_mysonos Best Of with volume 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_mysonos","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Best Of","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"30","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":887,"wires":[["10dc8b09.602c85"]]},{"id":"b0a19150.d55f8","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":393,"y":1307,"wires":[["59f166cc.c98498"]]},{"id":"59f166cc.c98498","type":"sonos-manage-radio","z":"9ea06256.355a2","confignode":"9037fbab.1d8408","name":"","x":620,"y":1290,"wires":[[]]},{"id":"7a49a4ac.f8aa7c","type":"inject","z":"99e6906e.c69df","name":"","topic":"Fritz","payload":"play_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":653,"wires":[["10dc8b09.602c85"]]},{"id":"5e661b87.edd5b4","type":"inject","z":"99e6906e.c69df","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":933,"y":728,"wires":[["b8d81bfc.e77d98"]]},{"id":"b8d81bfc.e77d98","type":"change","z":"99e6906e.c69df","name":"get musiclibrary playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1172,"y":728,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"e110c822.5581c8","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":636,"y":971,"wires":[["72ac22b6.3d556c"]]},{"id":"72ac22b6.3d556c","type":"change","z":"99e6906e.c69df","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":881,"y":971,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"9af19cc4.5706a","type":"comment","z":"775d7a2a.44f234","name":"msg.size ","info":"","x":65,"y":640,"wires":[]},{"id":"d32d3c03.61ef1","type":"sonos-manage-queue","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":680,"y":720,"wires":[["8208c58d.b37718"]]},{"id":"e4134f34.a564d","type":"change","z":"775d7a2a.44f234","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":680,"wires":[["d32d3c03.61ef1"]]},{"id":"a081172f.de7e58","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":680,"wires":[["e4134f34.a564d"]]},{"id":"8208c58d.b37718","type":"debug","z":"775d7a2a.44f234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":780,"wires":[]},{"id":"249fa767.71bb08","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":716,"wires":[["6d2ea1a0.4a7ab"]]},{"id":"6d2ea1a0.4a7ab","type":"change","z":"775d7a2a.44f234","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":716,"wires":[["d32d3c03.61ef1"]]},{"id":"f39f2932.5f5318","type":"change","z":"775d7a2a.44f234","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":751,"wires":[["d32d3c03.61ef1"]]},{"id":"6e2ca31a.2e100c","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":751,"wires":[["f39f2932.5f5318"]]},{"id":"f06dff57.c0a35","type":"change","z":"775d7a2a.44f234","name":"get musiclibrary playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":319,"y":799,"wires":[["d32d3c03.61ef1"]]},{"id":"d974bf84.9321f","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":799,"wires":[["f06dff57.c0a35"]]},{"id":"38cf5a24.734d36","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":834,"wires":[["69c14ed9.cef51"]]},{"id":"69c14ed9.cef51","type":"change","z":"775d7a2a.44f234","name":"get musiclibrary playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":318,"y":834,"wires":[["d32d3c03.61ef1"]]},{"id":"29767623.36181a","type":"change","z":"775d7a2a.44f234","name":"get musiclibrary playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":319,"y":869,"wires":[["d32d3c03.61ef1"]]},{"id":"1e1b60be.3ad4bf","type":"inject","z":"775d7a2a.44f234","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":869,"wires":[["29767623.36181a"]]},{"id":"2143919d.6b952e","type":"comment","z":"775d7a2a.44f234","name":"Results","info":"There are 3 playlists. \nSo with size 2,3 there should be a Warning","x":870,"y":760,"wires":[]},{"id":"bc08b969.5611a8","type":"inject","z":"775d7a2a.44f234","name":"","topic":"http://www.fritz.de/live.m3u","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":560,"wires":[["22888d78.e458b2"]]},{"id":"959d77f2.e655b8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxx","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["3cac913b.eba05e"]]},{"id":"3cac913b.eba05e","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":292,"y":60,"wires":[["77d75cd4.d361c4"]]},{"id":"dd3ed6e5.761d18","type":"comment","z":"2e2bde07.2bda42","name":"insert prime playlisturi","info":"","x":105,"y":124,"wires":[]},{"id":"19f12531.26b53b","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":403,"y":257,"wires":[["5b339f20.ec5df"]]},{"id":"bf0a66f7.cce418","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_prime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":202,"wires":[["19f12531.26b53b"]]},{"id":"8305d5e.8e6b328","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"x-rincon","payload":"insert_prime_playlisturi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":236,"wires":[["19f12531.26b53b"]]},{"id":"99c15c5e.5cb77","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxxxxxx","payload":"insert_prime_playlisturi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":271,"wires":[["19f12531.26b53b"]]},{"id":"bd9f6459.1ebb98","type":"inject","z":"2e2bde07.2bda42","name":"insert with wrong data","topic":"x-rincon-cpcontainer:laylists%2fB07W1Z3YMN%2f%23prime_playlist?sid=201&flags=8300&sn=14","payload":"insert_prime_playlisturi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":304,"wires":[["19f12531.26b53b"]]},{"id":"3f3f1637.83394a","type":"comment","z":"2e2bde07.2bda42","name":"insert_uri ","info":"","x":65,"y":20,"wires":[]},{"id":"5b339f20.ec5df","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":194,"wires":[]},{"id":"98b3c343.19a4","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"x-rincon-cpcontainer:1006206ccatalog%2fplaylists%2fB07W1Z3YMN%2f%23prime_playlist?sid=201&flags=8300&sn=14","payload":"insert_prime_playlisturi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":159,"wires":[["545da1f1.2a0a4"]]},{"id":"545da1f1.2a0a4","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":330,"y":159,"wires":[["5b339f20.ec5df"]]},{"id":"77d75cd4.d361c4","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":60,"wires":[]},{"id":"a446ee43.22313","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xx","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":161,"y":681,"wires":[["d12bd467.ca9358"]]},{"id":"3eb1dfa.e71d22","type":"comment","z":"2e2bde07.2bda42","name":"insert Music Library Playlist","info":"","x":115,"y":571,"wires":[]},{"id":"37e62db0.b573b2","type":"comment","z":"2e2bde07.2bda42","name":"insert Sonos Playlist","info":"","x":95,"y":914,"wires":[]},{"id":"3376c8b.910b438","type":"comment","z":"2e2bde07.2bda42","name":"get Music Library Playlist ","info":"","x":795,"y":571,"wires":[]},{"id":"db68f8e.dd3cc08","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":769,"y":650,"wires":[["3fea5db5.9f34e2"]]},{"id":"3fea5db5.9f34e2","type":"change","z":"2e2bde07.2bda42","name":"get ML playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":968,"y":650,"wires":[["16802e93.5f9981"]]},{"id":"74b7708e.62bfb","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":769,"y":683,"wires":[["490db005.58636"]]},{"id":"490db005.58636","type":"change","z":"2e2bde07.2bda42","name":"get ML playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":968,"y":683,"wires":[["16802e93.5f9981"]]},{"id":"582a7acb.c91e94","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":769,"y":717,"wires":[["d46d838a.c016"]]},{"id":"d46d838a.c016","type":"change","z":"2e2bde07.2bda42","name":"get ML playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":968,"y":717,"wires":[["16802e93.5f9981"]]},{"id":"57b47fb8.8fcd4","type":"change","z":"2e2bde07.2bda42","name":"get ML playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_musiclibrary_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"1.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":968,"y":753,"wires":[["16802e93.5f9981"]]},{"id":"82ac8203.67d3","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":769,"y":753,"wires":[["57b47fb8.8fcd4"]]},{"id":"16802e93.5f9981","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":1275,"y":701,"wires":[["96b504bf.6e7788"]]},{"id":"6001c06c.bca74","type":"inject","z":"2e2bde07.2bda42","name":"get musiclibrary playlist","topic":"","payload":"get_musiclibrary_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":821,"y":605,"wires":[["5e775c52.8e9c84"]]},{"id":"5e775c52.8e9c84","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":1035,"y":605,"wires":[[]]},{"id":"96b504bf.6e7788","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1285,"y":758,"wires":[]},{"id":"e95861c4.cfc17","type":"comment","z":"2e2bde07.2bda42","name":"get Sonos Playlists","info":"","x":774,"y":917,"wires":[]},{"id":"2c20b96a.e5bc96","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":920,"y":75,"wires":[["a6d04c24.10188"]]},{"id":"c87d28e7.1a10f8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":60,"wires":[["2c20b96a.e5bc96"]]},{"id":"7f764b36.d7daf4","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxx","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":94,"wires":[["2c20b96a.e5bc96"]]},{"id":"a6d04c24.10188","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1087,"y":75,"wires":[]},{"id":"f44b5c6a.7f9fc","type":"comment","z":"2e2bde07.2bda42","name":"get prime playlists from My Sonos","info":"","x":814,"y":360,"wires":[]},{"id":"bf96fc4c.68de1","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":777,"wires":[["f2d56cb7.acbb5"]]},{"id":"f2d56cb7.acbb5","type":"change","z":"2e2bde07.2bda42","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":777,"wires":[["d12bd467.ca9358"]]},{"id":"1a2130af.aaec5f","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":811,"wires":[["3d4419ac.231f76"]]},{"id":"3d4419ac.231f76","type":"change","z":"2e2bde07.2bda42","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":811,"wires":[["d12bd467.ca9358"]]},{"id":"6f9c2092.82983","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":845,"wires":[["21486ce7.ffb0e4"]]},{"id":"21486ce7.ffb0e4","type":"change","z":"2e2bde07.2bda42","name":"insert ML10CC from musiclibrary using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_musiclibrary_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":845,"wires":[["d12bd467.ca9358"]]},{"id":"532ed001.51c62","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"ML10CC","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":608,"wires":[["32ecf28b.53667e"]]},{"id":"32ecf28b.53667e","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":254,"y":608,"wires":[[]]},{"id":"d12bd467.ca9358","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":560,"y":656,"wires":[["5f3a4327.f1344c"]]},{"id":"5f3a4327.f1344c","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":584,"y":715,"wires":[]},{"id":"8b4dcee2.1dd2f","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":646,"wires":[["d12bd467.ca9358"]]},{"id":"525cdbfa.edf624","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"1234","payload":"insert_musiclibrary_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":715,"wires":[["d12bd467.ca9358"]]},{"id":"926581be.fcb26","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_amazonprime_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":771,"y":394,"wires":[["468c3608.f260e8"]]},{"id":"468c3608.f260e8","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":1011,"y":394,"wires":[[]]},{"id":"b534038a.52f42","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1001,"wires":[["a0ad1cdf.d4747"]]},{"id":"a0ad1cdf.d4747","type":"change","z":"2e2bde07.2bda42","name":"get SONOS playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989,"y":1001,"wires":[["5f8c615b.2003"]]},{"id":"55795e82.6b1d","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1034,"wires":[["8e6d60f7.e4434"]]},{"id":"8e6d60f7.e4434","type":"change","z":"2e2bde07.2bda42","name":"get SONOS playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989,"y":1034,"wires":[["5f8c615b.2003"]]},{"id":"68bd9b67.ead3d4","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1068,"wires":[["1fad53f3.dc08cc"]]},{"id":"1fad53f3.dc08cc","type":"change","z":"2e2bde07.2bda42","name":"get SONOS playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989,"y":1068,"wires":[["5f8c615b.2003"]]},{"id":"560c8c42.e2f224","type":"change","z":"2e2bde07.2bda42","name":"get SONOS playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"get_sonos_playlists","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"1.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989,"y":1104,"wires":[["5f8c615b.2003"]]},{"id":"a4bf53da.9892","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1104,"wires":[["560c8c42.e2f224"]]},{"id":"5f8c615b.2003","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":1276,"y":1052,"wires":[["87d2d50b.eec388"]]},{"id":"27dcafba.b7e4b","type":"inject","z":"2e2bde07.2bda42","name":"get musiclibrary playlist","topic":"","payload":"get_sonos_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":822,"y":956,"wires":[["25b530bc.a5cfc"]]},{"id":"25b530bc.a5cfc","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":1036,"y":956,"wires":[[]]},{"id":"87d2d50b.eec388","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1286,"y":1109,"wires":[]},{"id":"3fe16e86.6cb4e2","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xx","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":1021,"wires":[["53b639c8.3468b8"]]},{"id":"e23a6ce9.027fd","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":1117,"wires":[["4632d938.8d3838"]]},{"id":"4632d938.8d3838","type":"change","z":"2e2bde07.2bda42","name":"insert from sonos playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_sonos_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":316,"y":1117,"wires":[["53b639c8.3468b8"]]},{"id":"de1c26f4.4b6648","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":1151,"wires":[["3add7b46.acb3c4"]]},{"id":"3add7b46.acb3c4","type":"change","z":"2e2bde07.2bda42","name":"insert from sonos playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_sonos_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":316,"y":1151,"wires":[["53b639c8.3468b8"]]},{"id":"8ead3ed5.4974d","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":1185,"wires":[["19ed835c.214c1d"]]},{"id":"19ed835c.214c1d","type":"change","z":"2e2bde07.2bda42","name":"insert from sonos playlists using msg.size","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert_sonos_playlist","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ML10CC","tot":"str"},{"t":"set","p":"size","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":316,"y":1185,"wires":[["53b639c8.3468b8"]]},{"id":"672441e1.624b5","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"ML","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147,"y":948,"wires":[["d7562f53.684ef"]]},{"id":"d7562f53.684ef","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":364,"y":948,"wires":[[]]},{"id":"53b639c8.3468b8","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":557,"y":996,"wires":[["980c723a.40412"]]},{"id":"980c723a.40412","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":581,"y":1055,"wires":[]},{"id":"9a8008a2.d9cd38","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":986,"wires":[["53b639c8.3468b8"]]},{"id":"2440044e.74bf5c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"1234","payload":"insert_sonos_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147,"y":1055,"wires":[["53b639c8.3468b8"]]},{"id":"71eba2c5.4c259c","type":"comment","z":"2e2bde07.2bda42","name":"remove song","info":"","x":75,"y":1256,"wires":[]},{"id":"e020a73b.97c818","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":1458,"wires":[]},{"id":"5ecc6d9e.af7504","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":380,"y":1396,"wires":[["e020a73b.97c818"]]},{"id":"7a39fd8a.309694","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"0","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1426,"wires":[["5ecc6d9e.af7504"]]},{"id":"c041e9c9.a89588","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"-1","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1459,"wires":[["5ecc6d9e.af7504"]]},{"id":"e59a24bf.df41b8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1293,"wires":[["5ecc6d9e.af7504"]]},{"id":"df4735f5.5a8d68","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"hallo","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1327,"wires":[["5ecc6d9e.af7504"]]},{"id":"cb15e9e3.c6b5f8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":".,c","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1360,"wires":[["5ecc6d9e.af7504"]]},{"id":"ffb767d7.cbac48","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"..10.2","payload":"remove_song","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1393,"wires":[["5ecc6d9e.af7504"]]},{"id":"159b30b8.266abf","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1635,"wires":[["613cd22a.44b13c"]]},{"id":"613cd22a.44b13c","type":"change","z":"2e2bde07.2bda42","name":"activate queue with volume - not number","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1635,"wires":[["d5d78733.a3b618"]]},{"id":"618e022a.f227ec","type":"comment","z":"2e2bde07.2bda42","name":"activate queue with volume but use default","info":"","x":175,"y":1602,"wires":[]},{"id":"a4a62d48.8553e","type":"change","z":"2e2bde07.2bda42","name":"activate queue with volume - invalid number","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":331,"y":1668,"wires":[["d5d78733.a3b618"]]},{"id":"ea6b985e.9d3f68","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":1668,"wires":[["a4a62d48.8553e"]]},{"id":"f47a1b75.7a9858","type":"change","z":"2e2bde07.2bda42","name":"activate queue with volume - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"activate_queue","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1702,"wires":[["d5d78733.a3b618"]]},{"id":"3f695443.b2475c","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1702,"wires":[["f47a1b75.7a9858"]]},{"id":"5adf1b4a.403774","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":1301,"wires":[["f7a859dd.a38898"]]},{"id":"f7a859dd.a38898","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":1080,"y":1420,"wires":[["ad1c0aa3.d90fa8"]]},{"id":"31661052.1cb59","type":"comment","z":"2e2bde07.2bda42","name":"get queue","info":"","x":740,"y":1261,"wires":[]},{"id":"ad1c0aa3.d90fa8","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":1420,"wires":[]},{"id":"8ac4b2bf.acf95","type":"comment","z":"2e2bde07.2bda42","name":"shuffle queue","info":"","x":790,"y":1381,"wires":[]},{"id":"c1c243cc.740df","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"SHUFLE","payload":"set_queuemode","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":1421,"wires":[["f7a859dd.a38898"]]},{"id":"9b245ba0.a9fa68","type":"inject","z":"2e2bde07.2bda42","name":"test invalid command","topic":"","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":1536,"wires":[["f7a859dd.a38898"]]},{"id":"30eb293.0f209d6","type":"comment","z":"2e2bde07.2bda42","name":"invalid command","info":"","x":779,"y":1501,"wires":[]},{"id":"ff119fe5.e9233","type":"comment","z":"2e2bde07.2bda42","name":"ADDITIONAL TEST SEE HERE (No Playlists)","info":"no Music Library Playlists\n- move playlist directory to different place\n\nno Sonos Playlists\nno My Sonos items\nno Amazon Prime Playlists in My Sonons\n","x":175,"y":1761,"wires":[]},{"id":"96b650cc.30a7d","type":"comment","z":"2e2bde07.2bda42","name":"clear queue and then activate queue ","info":"","x":145,"y":1521,"wires":[]},{"id":"5acca3e3.466c1c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"activate_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":1553,"wires":[["5ecc6d9e.af7504"]]},{"id":"80e23fff.0f586","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_sonos_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1801,"wires":[["d5d78733.a3b618"]]},{"id":"365875e.b9e5f8a","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_amazonprime_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1841,"wires":[["d5d78733.a3b618"]]},{"id":"44e3ca75.7b74e4","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_musiclibrary_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1881,"wires":[["d5d78733.a3b618"]]},{"id":"d5d78733.a3b618","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":461,"y":1821,"wires":[["5a0d6d96.875a94"]]},{"id":"5a0d6d96.875a94","type":"debug","z":"2e2bde07.2bda42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":501,"y":1883,"wires":[]},{"id":"56085d81.49a104","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"12xdgt","payload":"insert_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":129,"wires":[["2c20b96a.e5bc96"]]},{"id":"90c8f8ac.a30b88","type":"comment","z":"2e2bde07.2bda42","name":"play song","info":"","x":65,"y":1981,"wires":[]},{"id":"847b94b1.fc5808","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":2021,"wires":[["c7823a80.bf0408"]]},{"id":"c7823a80.bf0408","type":"change","z":"2e2bde07.2bda42","name":"play song - no topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":249,"y":2021,"wires":[["d5d78733.a3b618"]]},{"id":"a6a9ab5.a46e758","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2056,"wires":[["a6c12e88.65b85"]]},{"id":"a6c12e88.65b85","type":"change","z":"2e2bde07.2bda42","name":"play song - -1","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":2056,"wires":[["d5d78733.a3b618"]]},{"id":"8ab65aa6.76b998","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":2091,"wires":[["8344f836.a35ce8"]]},{"id":"8344f836.a35ce8","type":"change","z":"2e2bde07.2bda42","name":"play song - xxxx","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"x","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":2091,"wires":[["d5d78733.a3b618"]]},{"id":"ad163c2b.9b8c","type":"inject","z":"2e2bde07.2bda42","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":2126,"wires":[["7eb5175f.514508"]]},{"id":"7eb5175f.514508","type":"change","z":"2e2bde07.2bda42","name":"play song - song 500","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_song","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"500","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":259,"y":2126,"wires":[["d5d78733.a3b618"]]},{"id":"acc9ae1d.15e39","type":"comment","z":"2e2bde07.2bda42","name":"ADDITIONAL TEST SEE HERE ","info":"- empty queue\n- queue not activated\n","x":950,"y":1261,"wires":[]},{"id":"6392f2ea.1c7a9c","type":"inject","z":"99e6906e.c69df","name":"","topic":"Best ","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":726,"y":871,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"e53eb4f.935c748","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"x","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":841,"wires":[["d12bd467.ca9358"]]},{"id":"372b8ae2.83b8f6","type":"comment","z":"55805384.a4695c","name":"Sonstige Spielereien","info":"","x":95,"y":1160,"wires":[]},{"id":"ed16ee64.4d4eb","type":"inject","z":"99e6906e.c69df","name":"","topic":"On","payload":"set_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":483,"y":57,"wires":[["f2979581.a19d08"]]},{"id":"62c8c05b.eba5e","type":"inject","z":"99e6906e.c69df","name":"","topic":"Off","payload":"set_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":483,"y":92,"wires":[["f2979581.a19d08"]]},{"id":"bd8d926e.c5c12","type":"comment","z":"9ea06256.355a2","name":"set led","info":"","x":789,"y":680,"wires":[]},{"id":"7a53e124.78de4","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"set_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":714,"wires":[["eaab7f3b.eb8db"]]},{"id":"40554e29.11064","type":"inject","z":"9ea06256.355a2","name":"","topic":"xxxxx","payload":"set_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":747,"wires":[["eaab7f3b.eb8db"]]},{"id":"cbdb6952.c8e6a8","type":"comment","z":"2e2bde07.2bda42","name":"insert amazonprime playlists from My Sonos","info":"","x":175,"y":361,"wires":[]},{"id":"5fa235d4.a3742c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"Best","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":397,"wires":[["4dd5b2ff.80841c"]]},{"id":"6d10b284.35d90c","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":435,"wires":[["9eb23d7d.4fa8a"]]},{"id":"4dd5b2ff.80841c","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":490,"y":397,"wires":[[]]},{"id":"9eb23d7d.4fa8a","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"88e9fa70.4a53e8","name":"","x":560,"y":445,"wires":[[]]},{"id":"5b4ba751.751278","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxxx","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":470,"wires":[["9eb23d7d.4fa8a"]]},{"id":"afc056d4.7db9c8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"999","payload":"insert_amazonprime_playlist","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":506,"wires":[["9eb23d7d.4fa8a"]]},{"id":"d92f3918.30fb88","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_led","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":833,"y":227,"wires":[["9225381f.320718"]]},{"id":"9b13e7d9.a3f188","type":"inject","z":"55805384.a4695c","name":"","topic":"https://soundcloud.com/livingears/drake-im-upset-lqdhvn-refix","payload":"lab_play_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":986,"wires":[["2de78add.aae0c6"]]},{"id":"ab1a6165.38916","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_mysonos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":309,"wires":[["9225381f.320718"]]},{"id":"5c5367a.974d298","type":"comment","z":"99e6906e.c69df","name":"My Sonos","info":"","x":840,"y":276,"wires":[]},{"id":"b94c835d.15f5","type":"comment","z":"2e2bde07.2bda42","name":"Expected Results","info":"should be warning - no ip address","x":459,"y":2406,"wires":[]},{"id":"fb07cf1.4081e3","type":"comment","z":"2e2bde07.2bda42","name":"No Ip && invalid serial","info":"","x":105,"y":2371,"wires":[]},{"id":"cd1066f8.0c73d8","type":"comment","z":"2e2bde07.2bda42","name":"Expected Results","info":"should be warning - no ip address and also info that did not found","x":458,"y":2230,"wires":[]},{"id":"bc77593.c2566a8","type":"comment","z":"2e2bde07.2bda42","name":"Invalid ip: from fritzbox","info":"","x":105,"y":2195,"wires":[]},{"id":"7a7f9179.d7435","type":"comment","z":"2e2bde07.2bda42","name":"Expected Results","info":"should be warning - no ip address and also info that did not found","x":459,"y":2313,"wires":[]},{"id":"9ec7cbdf.5f6818","type":"comment","z":"2e2bde07.2bda42","name":"Invalid ip address - wrong syntax","info":"","x":135,"y":2277,"wires":[]},{"id":"f7531027.df1ee","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":2490,"wires":[["88c9fb4e.3c7ed8"]]},{"id":"bbe9a1a5.3eb3b","type":"comment","z":"2e2bde07.2bda42","name":"Expected Results","info":"should be warning - no ip address and also info that did not found","x":459,"y":2483,"wires":[]},{"id":"95c2e9b3.5b3998","type":"comment","z":"2e2bde07.2bda42","name":"No ip && valid serial","info":"","x":95,"y":2456,"wires":[]},{"id":"88c9fb4e.3c7ed8","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"c747354a.95e5e8","name":"","x":278,"y":2490,"wires":[[]]},{"id":"8011af3a.b5551","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"","x":278,"y":2230,"wires":[[]]},{"id":"19c87c23.068fb4","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98,"y":2406,"wires":[["fec53bc8.d2ef38"]]},{"id":"4a14b3a8.5043ec","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98,"y":2313,"wires":[["404bc2a2.32632c"]]},{"id":"5ae62e13.1aaaa","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98,"y":2230,"wires":[["8011af3a.b5551"]]},{"id":"404bc2a2.32632c","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"64704482.34d37c","name":"","x":278,"y":2313,"wires":[[]]},{"id":"fec53bc8.d2ef38","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"ff297616.de3c88","name":"","x":278,"y":2406,"wires":[[]]},{"id":"208f51f6.ad9f0e","type":"inject","z":"55805384.a4695c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1023,"wires":[["304797.e9ba186a"]]},{"id":"ebcb86cf.76a928","type":"sonos-control-player","z":"55805384.a4695c","confignode":"88e9fa70.4a53e8","name":"","x":536,"y":1020,"wires":[[]]},{"id":"304797.e9ba186a","type":"change","z":"55805384.a4695c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lab_test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1020,"wires":[["ebcb86cf.76a928"]]},{"id":"f4257bb8.59cb08","type":"comment","z":"99e6906e.c69df","name":"Insert Spotify URI","info":"","x":669,"y":1022,"wires":[],"icon":"font-awesome/fa-arrow-circle-right"},{"id":"8d0b193b.cc2258","type":"inject","z":"99e6906e.c69df","name":"spotify track","topic":"spotify:track:5AdoS3gS47x40nBNlNmPQ8","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":659,"y":1056,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"1cd31901.348b97","type":"inject","z":"99e6906e.c69df","name":"spotify album","topic":"spotify:album:1TSZDcvlPtAnekTaItI3qO","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":659,"y":1090,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"ecb9c681.6642d8","type":"inject","z":"99e6906e.c69df","name":"spotify artistTopTracks","topic":"spotify:artistTopTracks:1dfeR4HaWDbWqFHLkxsg1d","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":689,"y":1123,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"f20742ee.3812c","type":"inject","z":"99e6906e.c69df","name":"spotify playlist","topic":"spotify:user:spotify:playlist:37i9dQZEVXbMDoHDwVN2tF","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":659,"y":1156,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"683e4872.c144f8","type":"comment","z":"2e2bde07.2bda42","name":"insert_spotify_uri","info":"","x":784,"y":1600,"wires":[]},{"id":"7e5ac4af.8cdd5c","type":"inject","z":"2e2bde07.2bda42","name":"spotify track","topic":"","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":774,"y":1634,"wires":[["f7a859dd.a38898"]]},{"id":"a91853e.d9c45b","type":"inject","z":"2e2bde07.2bda42","name":"spotify track","topic":"spotify","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":773,"y":1667,"wires":[["f7a859dd.a38898"]]},{"id":"6f59a528.f68dbc","type":"inject","z":"2e2bde07.2bda42","name":"spotify track","topic":"spotify:xxxxxx","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":773,"y":1701,"wires":[["f7a859dd.a38898"]]},{"id":"504c7c21.b86cf4","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"get_spotify","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":942,"y":595,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"2738bb6a.16f374","type":"inject","z":"99e6906e.c69df","name":"","topic":"Stage","payload":"insert_spotify","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1011,"y":1054,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"83d05df1.ccdc9","type":"comment","z":"2e2bde07.2bda42","name":"get spotify playlists from My Sonos","info":"","x":857,"y":1799,"wires":[]},{"id":"2bde618e.66a4fe","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"get_spotify_playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":807,"y":1833,"wires":[["4f17afce.e477c"]]},{"id":"4f17afce.e477c","type":"sonos-manage-queue","z":"2e2bde07.2bda42","confignode":"9037fbab.1d8408","name":"invalid player","x":1007,"y":1833,"wires":[[]]},{"id":"abdfd894.60dd68","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1020,"y":1640,"wires":[["f7a859dd.a38898"]]},{"id":"a28099e9.b55fd8","type":"inject","z":"2e2bde07.2bda42","name":"","topic":"xxxxxx","payload":"insert_spotify_uri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1049,"y":1673,"wires":[["f7a859dd.a38898"]]},{"id":"7154757e.b5464c","type":"comment","z":"2e2bde07.2bda42","name":"insert_spotify_playlist","info":"","x":1020,"y":1605,"wires":[]},{"id":"b5c02310.f38a2","type":"comment","z":"99e6906e.c69df","name":"Insert Spotify from My Sonos","info":"","x":1041,"y":1021,"wires":[]},{"id":"8c21e574.f570c8","type":"inject","z":"99e6906e.c69df","name":"","topic":"x (Deluxe","payload":"insert_spotify","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1021,"y":1087,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"1453d437.efe7fc","type":"inject","z":"99e6906e.c69df","name":"","topic":"Dance M","payload":"insert_spotify","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1020,"y":1120,"wires":[["c02b5a3d.f2fbb8"]]},{"id":"4f019de6.e2d3b4","type":"comment","z":"99e6906e.c69df","name":"Get ...","info":"","x":932,"y":528,"wires":[]},{"id":"5db761e2.a40d","type":"comment","z":"99e6906e.c69df","name":"Flash / remove","info":"","x":1229,"y":527,"wires":[]},{"id":"4e16e080.e4083","type":"inject","z":"99e6906e.c69df","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1225,"y":62,"wires":[["9225381f.320718"]]},{"id":"a310c609.fd61e8","type":"debug","z":"99e6906e.c69df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":308,"wires":[]},{"id":"ab7c66e.a0b8698","type":"polly","z":"55805384.a4695c","name":"","voice":"0","ssml":false,"dir":"/tmp","config":"dd1b16a.4333de8","x":249,"y":460,"wires":[["beb44562.7a5a38"],["4e844354.48cddc"]]},{"id":"642f75f0.db899c","type":"inject","z":"55805384.a4695c","name":"","topic":"","payload":"Close the door and do some more stuff","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":460,"wires":[["ab7c66e.a0b8698"]]},{"id":"beb44562.7a5a38","type":"debug","z":"55805384.a4695c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":412,"y":440,"wires":[]},{"id":"4e844354.48cddc","type":"debug","z":"55805384.a4695c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":412,"y":480,"wires":[]},{"id":"1a3088fa.5bfc07","type":"http in","z":"55805384.a4695c","name":"","url":"/closedoor","method":"get","upload":false,"swaggerDoc":"","x":121,"y":519,"wires":[["e7f0bb62.3e0fd8"]]},{"id":"e7f0bb62.3e0fd8","type":"file in","z":"55805384.a4695c","name":"","filename":"/tmp/close.mp3","format":"","x":342,"y":519,"wires":[["b916dc89.f40cb"]]},{"id":"b916dc89.f40cb","type":"http response","z":"55805384.a4695c","name":"","statusCode":"","headers":{"content-type":"audio/mpeg"},"x":532,"y":519,"wires":[]},{"id":"d2636f19.37ebe","type":"comment","z":"55805384.a4695c","name":"Release 2.0.0","info":"play tts notification","x":75,"y":400,"wires":[]},{"id":"a5c9ba9d.d57158","type":"comment","z":"55805384.a4695c","name":"http://192.168.178.55:1880/closedoor","info":"play tts notification","x":670,"y":580,"wires":[]},{"id":"a111e284.f1d7f","type":"inject","z":"55805384.a4695c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":598,"wires":[["a0fca058.8045"]]},{"id":"ab820963.cbee68","type":"sonos-control-player","z":"55805384.a4695c","confignode":"88e9fa70.4a53e8","name":"","x":600,"y":620,"wires":[["5860bafd.df6784"]]},{"id":"a0fca058.8045","type":"change","z":"55805384.a4695c","name":"play_notification with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"https://192.168.178.55:1880/closedoor","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"70","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":598,"wires":[["ab820963.cbee68"]]},{"id":"5caeccf9.a78fa4","type":"file in","z":"55805384.a4695c","name":"","filename":"/tmp/bell.mp3","format":"","x":340,"y":555,"wires":[["b916dc89.f40cb"]]},{"id":"ed8722d1.997ba","type":"http in","z":"55805384.a4695c","name":"","url":"/bell","method":"get","upload":false,"swaggerDoc":"","x":100,"y":555,"wires":[["5caeccf9.a78fa4"]]},{"id":"f3d55e4f.36b24","type":"change","z":"55805384.a4695c","name":"play_notification with volume","rules":[{"t":"set","p":"payload","pt":"msg","to":"play_notification","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"192.168.178.55:1880/bell","tot":"str"},{"t":"set","p":"volume","pt":"msg","to":"70","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":640,"wires":[["ab820963.cbee68"]]},{"id":"33a46def.2d7832","type":"inject","z":"55805384.a4695c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["f3d55e4f.36b24"]]},{"id":"38400e37.cd5c92","type":"change","z":"55805384.a4695c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lab_test","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"http://192.168.178.55:1880/bell","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":680,"wires":[["ab820963.cbee68"]]},{"id":"b3ee77c9.f548e8","type":"inject","z":"55805384.a4695c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":680,"wires":[["38400e37.cd5c92"]]},{"id":"5860bafd.df6784","type":"debug","z":"55805384.a4695c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":640,"wires":[]},{"id":"dc1d10c1.528f4","type":"change","z":"55805384.a4695c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lab_test","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"192.168.178.55:1880/bell","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":720,"wires":[["ab820963.cbee68"]]},{"id":"b4d3d056.edac5","type":"inject","z":"55805384.a4695c","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":720,"wires":[["dc1d10c1.528f4"]]},{"id":"ce6ad588.816488","type":"comment","z":"775d7a2a.44f234","name":"play internet radio station by name","info":"","x":740,"y":20,"wires":[]},{"id":"4a668abc.67c574","type":"inject","z":"775d7a2a.44f234","name":"","topic":"http://www.fritz.de/live.m3u","payload":"activate_avtransport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":100,"wires":[["fe96005.7c074"]]},{"id":"fe96005.7c074","type":"sonos-control-player","z":"775d7a2a.44f234","confignode":"88e9fa70.4a53e8","name":"","x":975,"y":100,"wires":[["d3469719.2232a8"]]},{"id":"d3469719.2232a8","type":"debug","z":"775d7a2a.44f234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":100,"wires":[]},{"id":"6ca7489b.dfb1b8","type":"inject","z":"775d7a2a.44f234","name":"","topic":"http://br-br1-obb.cast.addradio.de/br/br1/obb/mp3/128/stream.mp3","payload":"activate_avtransport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":140,"wires":[["fe96005.7c074"]]},{"id":"cc360fd1.42b7a","type":"inject","z":"775d7a2a.44f234","name":"","topic":"http://br-b5aktuell-live.cast.addradio.de/br/b5aktuell/live/mp3/128/stream.mp3","payload":"activate_avtransport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":180,"wires":[["fe96005.7c074"]]},{"id":"28bde812.1db948","type":"inject","z":"99e6906e.c69df","name":"","topic":"http://br-b5aktuell-live.cast.addradio.de/br/b5aktuell/live/mp3/128/stream.mp3","payload":"play_httpradio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":733,"wires":[["10dc8b09.602c85"]]},{"id":"4a8ce335.234b3c","type":"inject","z":"99e6906e.c69df","name":"","topic":"http://www.fritz.de/live.m3u","payload":"play_httpradio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":768,"wires":[["10dc8b09.602c85"]]},{"id":"89b4e900.44c0c8","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_basics","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":999,"wires":[["454d295e.ee6df8"]]},{"id":"63e06903.06d2d8","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":596,"y":999,"wires":[]},{"id":"454d295e.ee6df8","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"8d44022c.adb65","name":"from Wohnzimmer means failure","x":336,"y":999,"wires":[["63e06903.06d2d8"]]},{"id":"51ed34ef.2ee2ac","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"get_songmedia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":950,"wires":[["a4ab63e.caf8da"]]},{"id":"a4ab63e.caf8da","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"8d44022c.adb65","name":"","x":356,"y":950,"wires":[["63e06903.06d2d8"]]},{"id":"e57c7f7d.d2247","type":"comment","z":"9ea06256.355a2","name":"GET STATUS","info":"","x":75,"y":821,"wires":[]},{"id":"fed5f823.c7b788","type":"inject","z":"9ea06256.355a2","name":"test invalid command","topic":"","payload":"xxxxx","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":864,"wires":[["3c35ce4f.fc5422"]]},{"id":"3c35ce4f.fc5422","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":356,"y":864,"wires":[["63e06903.06d2d8"]]},{"id":"c92ea817.d4cf58","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":1047,"wires":[["14f90bc4.af3534"]]},{"id":"14f90bc4.af3534","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"9037fbab.1d8408","name":"ip fritzbox","x":266,"y":1047,"wires":[["63e06903.06d2d8"]]},{"id":"bcfa0ac2.9e95e8","type":"inject","z":"9ea06256.355a2","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92.5,"y":1097,"wires":[["1cea8f6a.b6c9f1"]]},{"id":"1cea8f6a.b6c9f1","type":"sonos-get-status","z":"9ea06256.355a2","confignode":"a1fa48a2.6e0c98","name":"play1","x":255,"y":1097,"wires":[["63e06903.06d2d8"]]},{"id":"eaab7f3b.eb8db","type":"sonos-control-player","z":"9ea06256.355a2","confignode":"88e9fa70.4a53e8","name":"","x":1100,"y":700,"wires":[[]]},{"id":"dd6943c6.e147","type":"debug","z":"9ea06256.355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":662,"wires":[]},{"id":"8865dfd0.4625a","type":"inject","z":"9ea06256.355a2","name":"test empty command","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":900,"wires":[["3c35ce4f.fc5422"]]}]